@charset "UTF-8";
.historyList {
	display: grid;
    grid-template-columns: 100px 200px 200px 200px 100px 100px 100px 200px 50px 200px 100px 100px;
    grid-template-areas: 
        "a a a a a a a a a a";
    justify-content: center;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    align-items: center;
    justify-items: center;
    padding-top: 10px;
}

hr {
	width: 100%
}

.historyPageUl{
	text-align: center;
}

.historyPageLi{
	display: inline-block;
}
/* 
.productDesc{
	grid-area: a;
}
.amount{
	grid-area: b;
}
.point{
	grid-area: c;
}
.regdate{
	grid-area: d;
}
 */





        