.og-grid {
    list-style: none;
    padding: 0px 0;
    margin: 0 auto;
    text-align: center;
    width: 100%;
}

.og-grid .expander, .title-register {
    display: inline-block;
    margin: 20px 20px 0 15px;
    vertical-align: top;
    height: 350px;
}

.og-title-register, .og-expander, .og-expanded {
    position: absolute;
    background: #fff;
    top: auto;
    left: 0;
    width: 100%;
    margin-top: 10px;
    text-align: left;
    height: 540px;
    overflow: hidden;
    border: 1px solid #d3d3d3;
    box-shadow: 0px 1px 1px 2px rgba(0, 0, 0, 0.05);
    text-align: center;
}


/*first-og-expander*/
.title-register-inner, .og-expander-inner{
	display: inline-block;
}

.title-edit-input{
	display: grid;
    grid-template-columns: 400px;
    grid-template-rows: 165px 165px 50px;
    grid-template-areas: 
        "a"
        "a"
        "b";
    justify-items: center;
    justify-content: center;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    padding-top: 70px;
    padding-bottom: 70px;
    float : left;
}

.og-fullimg {
    grid-area: a;
    align-self: center;
}

.comic-list-title {
    grid-area: b;
    align-self: center;
    font-size: 1em;
}

.input-title {
    width: 270px;
    padding: 15px;
    font-size: 1em;
    border: 1px solid #d3d3d3;
    border-radius: 10px;
    text-align: center;
}

.og-fullimg img {
    width: 300px;
    border: 1px solid #d3d3d3;
    border-radius: 10px;
}

/* .title-register-inner { */
.title-genre-checkbox {
	display: grid;
    grid-template-columns: 200px 200px 200px 200px 200px;
    grid-template-rows: 70px 70px 70px 70px 50px;
    grid-template-areas: 
        "c d e f g"
        "h i j k l"
        "m n o p q"
        "r s t u v"
        ". . . x y";
	justify-items: start;
    justify-content: center;
    grid-column-gap: 10px;
    grid-row-gap: 15px;
    padding-top: 80px;
    padding-bottom: 70px;
    align-items: center;
    float : left;
}

.og-title-register-inner a:link {
    text-decoration: none;
    color: black;
}

.og-title-register-inner a:visited {
    color: black;
}

.title-genre-checkbox .genre-1 {grid-area: c;}
.title-genre-checkbox .genre-2 {grid-area: d;}
.title-genre-checkbox .genre-3 {grid-area: e;}
.title-genre-checkbox .genre-4 {grid-area: f;}
.title-genre-checkbox .genre-5 {grid-area: g;}
.title-genre-checkbox .genre-6 {grid-area: h;}
.title-genre-checkbox .genre-7 {grid-area: i;}
.title-genre-checkbox .genre-8 {grid-area: j;}
.title-genre-checkbox .genre-9 {grid-area: k;}
.title-genre-checkbox .genre-10 {grid-area: l;}
.title-genre-checkbox .genre-11 {grid-area: m;}
.title-genre-checkbox .genre-12 {grid-area: n;}
.title-genre-checkbox .genre-13 {grid-area: o;}
.title-genre-checkbox .genre-14 {grid-area: p;}
.title-genre-checkbox .genre-15 {grid-area: q;}
.title-genre-checkbox .genre-16 {grid-area: r;}
.title-genre-checkbox .genre-17 {grid-area: s;}
.title-genre-checkbox .genre-18 {grid-area: t;}
.title-genre-checkbox .genre-19 {grid-area: u;}
.title-genre-checkbox .genre-20 {grid-area: v;}
.title-register-delete-btn, .title-register-cancel-btn {grid-area: x;}
.title-register-complete-btn {grid-area: y;}

.title-genre-checkbox span {
	padding-right: 25px;
    padding-left: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 10px;
} 

.genre-1 .false,
.register-genre-input1 .false {
    border: 2px solid #f15941;
}

.genre-1 .true,
.register-genre-input1 .true {
    background-color: #f15941;
    border: 2px solid #f15941;
    color: white;
}

.genre-2 .false,
.register-genre-input2 .false {
    border: 2px solid #f58346;
}

.genre-2 .true,
.register-genre-input2 .true {
    border: 2px solid #f58346;
    background-color: #f58346;
    color: white;
}

.genre-3 .false,
.register-genre-input3 .false {
    border: 2px solid #faa74a;
}

.genre-3 .true,
.register-genre-input3 .true {
    border: 2px solid #faa74a;
    background-color: #faa74a;
    color: white;
}

.genre-4 .false,
.register-genre-input4 .false {
    border: 2px solid #fecd50;
}

.genre-4 .true,
.register-genre-input4 .true {
    border: 2px solid #fecd50;
    background-color: #fecd50;
    color: white;
}

.genre-5 .false,
.register-genre-input5 .false {
    border: 2px solid #fcdd00;
}

.genre-5 .true,
.register-genre-input5 .true {
    border: 2px solid #fcdd00;
    background-color: #fcdd00;
    color: white;
}

.genre-6 .false,
.register-genre-input6 .false {
    border: 2px solid #d4e15b;
}

.genre-6 .true,
.register-genre-input6 .true {
    border: 2px solid #d4e15b;
    background-color: #d4e15b;
    color: white;
}

.genre-7 .false,
.register-genre-input7 .false {
    border: 2px solid #a2d062;
}

.genre-7 .true,
.register-genre-input7 .true {
    border: 2px solid #a2d062;
    background-color: #a2d062;
    color: white;
}

.genre-8 .false,
.register-genre-input8 .false {
    border: 2px solid #6cc167;
}

.genre-8 .true,
.register-genre-input8 .true {
    border: 2px solid #6cc167;
    background-color: #6cc167;
    color: white;
}

.genre-9 .false,
.register-genre-input9 .false {
    border: 2px solid #1bb26c;
}

.genre-9 .true,
.register-genre-input9 .true {
    border: 2px solid #1bb26c;
    background-color: #1bb26c;
    color: white;
}

.genre-10 .false,
.register-genre-input10 .false {
    border: 2px solid #1aa789;
}

.genre-10 .true,
.register-genre-input10 .true {
    background-color: #1aa789;
    color: white;
}

.genre-11 .false,
.register-genre-input11 .false {
    border: 2px solid #1d9c9d;
}

.genre-11 .true,
.register-genre-input11 .true {
    border: 2px solid #1d9c9d;
    background-color: #1d9c9d;
    color: white;
}

.genre-12 .false,
.register-genre-input12 .false {
    border: 2px solid #1d90b3;
}

.genre-12 .true,
.register-genre-input12 .true {
    border: 2px solid #1d90b3;
    background-color: #1d90b3;
    color: white;
}

.genre-13 .false,
.register-genre-input13 .false {
    border: 2px solid #2385c6;
}

.genre-13 .true,
.register-genre-input13 .true {
    border: 2px solid #2385c6;
    background-color: #2385c6;
    color: white;
}

.genre-14 .false,
.register-genre-input14 .false {
    border: 2px solid #406ab3;
}

.genre-14 .true,
.register-genre-input14 .true {
    border: 2px solid #406ab3;
    background-color: #406ab3;
    color: white;
}

.genre-15 .false,
.register-genre-input15 .false {
    border: 2px solid #524fa2;
}

.genre-15 .true,
.register-genre-input15 .true {
    border: 2px solid #524fa2;
    background-color: #524fa2;
    color: white;
}

.genre-16 .false,
.register-genre-input16 .false {
    border: 2px solid #7c51a2;
}

.genre-16 .true,
.register-genre-input16 .true {
    border: 2px solid #7c51a2;
    background-color: #7c51a2;
    color: white;
}

.genre-17 .false,
.register-genre-input17 .false {
    border: 2px solid #a154a1;
}

.genre-17 .true,
.register-genre-input17 .true {
    border: 2px solid #a154a1;
    background-color: #a154a1;
    color: white;
}

.genre-18 .false,
.register-genre-input18 .false {
    border: 2px solid #b55589;
}

.genre-18 .true,
.register-genre-input18 .true {
    border: 2px solid #b55589;
    background-color: #b55589;
    color: white;
}

.genre-19 .false,
.register-genre-input19 .false {
    border: 2px solid #ca5774;
}

.genre-19 .true,
.register-genre-input19 .true {
    border: 2px solid #ca5774;
    background-color: #ca5774;
    color: white;
}

.genre-20 .false,
.register-genre-input20 .false {
    border: 2px solid #da595d;
}

.genre-20 .true,
.register-genre-input20 .true {
    border: 2px solid #da595d;
    background-color: #da595d;
    color: white;
}

.title-register-delete-btn, .title-register-cancel-btn {
    width: 200px;
    padding: 15px;
    border: 1px solid #e2e2df;
    border-radius: 10px;
    background-color: #e2e2df;
    font-size: 1em;
    color: white;
}

.title-register-complete-btn {
    width: 200px;
    padding: 15px;
    border: 1px solid #1d8bf1;
    border-radius: 10px;
    background-color: #1d8bf1;
    font-size: 1em;
    color: white;
}

/* cards left */
.expander-title-inner {
	display: grid;
    grid-template-columns: 400px;
    grid-template-rows: 320px 30px 50px;
    grid-template-areas: 
        "a"
        "b"
        "c";
    justify-content: center;
    justify-items: center;
    align-items: center;
    grid-row-gap: 10px;
    padding-top: 70px;
    padding-bottom: 50px;
    float : left;
}

.og-expander-inner a:link {
    text-decoration: none;
    color: black;
}

.og-expander-inner a:visited {
    color: black;
}

.expander-title-inner .og-fullimg {
    grid-area: a;
    align-self: center;
}

.expander-title-inner .comic-list-genre {
    grid-area: b;
    color: gray;
    font-size: 1em;
}

.expander-title-inner .comic-list-title, .comic-title {
    grid-area: c;
    font-size: 20px;
}

.expander-title-inner .comic-list-setting {
    grid-area: c;
    justify-self : end;
    align-self: start;
}

.expander-title-inner .comic-list-setting img {
    width: 30px;
}


.readpage-toggle-page{
	width: 1040px;
	height: 420px;
	padding-top : 70px;
	padding-bottom : 50px;
	float : left ;
}

/* cards right */
.toggle-page{
	width: 1040px;
	height: 420px;
	padding-top : 70px;
	padding-bottom : 50px;
	float : left ;
}

.subtitleLi a, .thissubtitleLi a{
    display: grid;
    grid-template-columns: 150px 370px;
    grid-template-rows: 120px;
    grid-template-areas: 
        "a b";
    float: left;
}

.comic-list {
    grid-area: a;
    align-self: center;
    justify-self: end;
}

.og-expander-inner .comic-list img {
    width: 100px;
    border: 1px solid #d3d3d3;
    border-radius: 10px;
}

.comic-list-text {
    grid-area: b;
    justify-self: start;
    align-self: center;
    word-break: break-all;
    font-size: 1em;
    padding-left: 20px;
}


/* mypage-home cards right time */


/* ??????????????????????????? 시작 */
/* .toggle-page .pagination .page-item{
	display: inline-block !important;
	float : left ;
    list-style: none;
}

.toggle-page .pagination .comic-list-prev, .comic-list-pagi, .comic-list-next {
    grid-area: i;
	float : left !important;
    list-style: none;
    align-self: center;
}

.toggle-page .pagination .comic-list-prev {
    justify-self : start;
}

.toggle-page .pagination .comic-list-next {
    justify-self : end;
}

.toggle-page .pagination .comic-list-pagi {
    justify-self : center;
}

.toggle-page .comic-list-pagi .page-link {
    padding: 20px;
} */

/* ????????????????? 끝 */

.hide{display: none;}
.margin-bottom, .content-margin-bottom {margin-bottom: 550px !important;}
.background-blur{opacity: 0.5;}

