html{
	-webkit-overflow-scrolling : touch;
}

/* Cards property */
.og-grid {
    list-style: none;
    padding: 0px 0;
    margin: 0 auto;
    text-align: center;
    padding-left: 86px;
    padding-right: 85px;
}

.og-grid .expander, .title-register {
    display: inline-block;
    margin: 20px 20px 0 15px;
    vertical-align: top;
    height: 350px;
}

/* Main & Mypage : expander */
.og-expander-inner {
	width: 1200px;
	text-align: center;
}

.og-title-register, .og-expander {
    position: absolute;
    background: #fff;
    top: auto;
    left: 0;
    width: 100%;
    margin-top: 10px;
    text-align: left;
    overflow: hidden;
    border-top: 1px solid #d3d3d3;
    border-bottom: 1px solid #d3d3d3;
    box-shadow: 0px 1px 1px 2px rgba(0, 0, 0, 0.05);
    text-align: center;
    height: 600px;
}

.og-expanded {
    position: absolute;
    background: #fff;
    top: auto;
    left: 0;
    width: 100%;
    margin-top: 10px;
    text-align: left;
    height: 540px;
    overflow: hidden;
    text-align: center;
}


/* Mypage : first-og-expander - title */
.title-register-inner, .og-expander-inner{
	display: inline-block;
}

.title-edit-input {
	display: grid;
    width: 1200px;
    grid-template-columns: 150px 400px;
    grid-template-rows: 75px 75px;
    grid-template-areas: 
	    "a b" 
	    "a c";
    justify-content: center;
    justify-items: center;
    align-items: center;
    grid-gap: 10px;
    padding-top: 50px;
    padding-bottom: 20px;
    /* float: left; */
    border-bottom: 1px solid #d3d3d3;
}

.og-fullimg {
    grid-area: a;
    align-self: center;
}

.og-fullimg img {
    width: 150px;
    border: 1px solid #d3d3d3;
    border-radius: 10px;
}

.comic-list-title {
    grid-area: b;
    align-self: center;
    font-size: 15px;
}

.input-title {
    width: 270px;
    padding: 10px;
    font-size: 15px;
    border: 1px solid #d3d3d3;
    border-radius: 5px;
    text-align: center;
}



/* Mypage : title-register-inner { */
.title-genre-checkbox {
	display: grid;
    grid-template-columns: 58px 92px 94px 89px 66px 96px 122px 70px 79px 110px;
    grid-template-rows: 42px 42px;
    width: 1200px;
    grid-template-areas: 
	    "c d e f g h i j k l" 
	    "m n o p q r s t u v";
    justify-content: center;
    justify-items: start;
    align-items: center;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    padding-top: 70px;
    padding-bottom: 50px;
}

.og-title-register-inner a:link {
    text-decoration: none;
    color: black;
}

.og-title-register-inner a:visited {
    color: black;
}

.title-genre-checkbox .genre-1 {grid-area: c;}
.title-genre-checkbox .genre-2 {grid-area: d;}
.title-genre-checkbox .genre-3 {grid-area: e;}
.title-genre-checkbox .genre-4 {grid-area: f;}
.title-genre-checkbox .genre-5 {grid-area: g;}
.title-genre-checkbox .genre-6 {grid-area: h;}
.title-genre-checkbox .genre-7 {grid-area: i;}
.title-genre-checkbox .genre-8 {grid-area: j;}
.title-genre-checkbox .genre-9 {grid-area: k;}
.title-genre-checkbox .genre-10 {grid-area: l;}
.title-genre-checkbox .genre-11 {grid-area: m;}
.title-genre-checkbox .genre-12 {grid-area: n;}
.title-genre-checkbox .genre-13 {grid-area: o;}
.title-genre-checkbox .genre-14 {grid-area: p;}
.title-genre-checkbox .genre-15 {grid-area: q;}
.title-genre-checkbox .genre-16 {grid-area: r;}
.title-genre-checkbox .genre-17 {grid-area: s;}
.title-genre-checkbox .genre-18 {grid-area: t;}
.title-genre-checkbox .genre-19 {grid-area: u;}
.title-genre-checkbox .genre-20 {grid-area: v;}
.title-register-delete-btn, .title-register-cancel-btn {grid-area: x;}
.title-register-complete-btn {grid-area: y;}

.title-genre-checkbox span {
	padding: 10px;
    border-radius: 5px;
} 

.genre-1 .false,
.register-genre-input1 .false {
    border: 2px solid #f15941;
}

.genre-1 .true,
.register-genre-input1 .true {
    background-color: #f15941;
    border: 2px solid #f15941;
    color: white;
}

.genre-2 .false,
.register-genre-input2 .false {
    border: 2px solid #f58346;
}

.genre-2 .true,
.register-genre-input2 .true {
    border: 2px solid #f58346;
    background-color: #f58346;
    color: white;
}

.genre-3 .false,
.register-genre-input3 .false {
    border: 2px solid #faa74a;
}

.genre-3 .true,
.register-genre-input3 .true {
    border: 2px solid #faa74a;
    background-color: #faa74a;
    color: white;
}

.genre-4 .false,
.register-genre-input4 .false {
    border: 2px solid #fecd50;
}

.genre-4 .true,
.register-genre-input4 .true {
    border: 2px solid #fecd50;
    background-color: #fecd50;
    color: white;
}

.genre-5 .false,
.register-genre-input5 .false {
    border: 2px solid #fcdd00;
}

.genre-5 .true,
.register-genre-input5 .true {
    border: 2px solid #fcdd00;
    background-color: #fcdd00;
    color: white;
}

.genre-6 .false,
.register-genre-input6 .false {
    border: 2px solid #d4e15b;
}

.genre-6 .true,
.register-genre-input6 .true {
    border: 2px solid #d4e15b;
    background-color: #d4e15b;
    color: white;
}

.genre-7 .false,
.register-genre-input7 .false {
    border: 2px solid #a2d062;
}

.genre-7 .true,
.register-genre-input7 .true {
    border: 2px solid #a2d062;
    background-color: #a2d062;
    color: white;
}

.genre-8 .false,
.register-genre-input8 .false {
    border: 2px solid #6cc167;
}

.genre-8 .true,
.register-genre-input8 .true {
    border: 2px solid #6cc167;
    background-color: #6cc167;
    color: white;
}

.genre-9 .false,
.register-genre-input9 .false {
    border: 2px solid #1bb26c;
}

.genre-9 .true,
.register-genre-input9 .true {
    border: 2px solid #1bb26c;
    background-color: #1bb26c;
    color: white;
}

.genre-10 .false,
.register-genre-input10 .false {
    border: 2px solid #1aa789;
}

.genre-10 .true,
.register-genre-input10 .true {
    background-color: #1aa789;
    color: white;
}

.genre-11 .false,
.register-genre-input11 .false {
    border: 2px solid #1d9c9d;
}

.genre-11 .true,
.register-genre-input11 .true {
    border: 2px solid #1d9c9d;
    background-color: #1d9c9d;
    color: white;
}

.genre-12 .false,
.register-genre-input12 .false {
    border: 2px solid #1d90b3;
}

.genre-12 .true,
.register-genre-input12 .true {
    border: 2px solid #1d90b3;
    background-color: #1d90b3;
    color: white;
}

.genre-13 .false,
.register-genre-input13 .false {
    border: 2px solid #2385c6;
}

.genre-13 .true,
.register-genre-input13 .true {
    border: 2px solid #2385c6;
    background-color: #2385c6;
    color: white;
}

.genre-14 .false,
.register-genre-input14 .false {
    border: 2px solid #406ab3;
}

.genre-14 .true,
.register-genre-input14 .true {
    border: 2px solid #406ab3;
    background-color: #406ab3;
    color: white;
}

.genre-15 .false,
.register-genre-input15 .false {
    border: 2px solid #524fa2;
}

.genre-15 .true,
.register-genre-input15 .true {
    border: 2px solid #524fa2;
    background-color: #524fa2;
    color: white;
}

.genre-16 .false,
.register-genre-input16 .false {
    border: 2px solid #7c51a2;
}

.genre-16 .true,
.register-genre-input16 .true {
    border: 2px solid #7c51a2;
    background-color: #7c51a2;
    color: white;
}

.genre-17 .false,
.register-genre-input17 .false {
    border: 2px solid #a154a1;
}

.genre-17 .true,
.register-genre-input17 .true {
    border: 2px solid #a154a1;
    background-color: #a154a1;
    color: white;
}

.genre-18 .false,
.register-genre-input18 .false {
    border: 2px solid #b55589;
}

.genre-18 .true,
.register-genre-input18 .true {
    border: 2px solid #b55589;
    background-color: #b55589;
    color: white;
}

.genre-19 .false,
.register-genre-input19 .false {
    border: 2px solid #ca5774;
}

.genre-19 .true,
.register-genre-input19 .true {
    border: 2px solid #ca5774;
    background-color: #ca5774;
    color: white;
}

.genre-20 .false,
.register-genre-input20 .false {
    border: 2px solid #da595d;
}

.genre-20 .true,
.register-genre-input20 .true {
    border: 2px solid #da595d;
    background-color: #da595d;
    color: white;
}

/* Title-complete-btn */
.title-complete-btn {
	display: grid;
	width: 1200px;
    grid-template-columns: 170px;
    grid-template-rows: 42px;
    grid-template-areas: 
        "a";
    justify-content: center;
    justify-items: center;
    align-items: center;
    grid-gap: 10px;
    padding-top: 30px;
    padding-bottom: 20px;
}

.title-complete-btn .title-register-complete-btn {
	grid-area: a;
	width: 170px;
	background-color: white;
	border: 1px solid #424242;
	border-radius: 5px;
	padding: 10px;
	font-size: 15px;
	color: #424242;
}

/* Title-register-btn */
.title-register-btn {
	display: grid;
	width: 1200px;
    grid-template-columns: 170px 170px;
    grid-template-rows: 42px;
    grid-template-areas: 
        "a b";
    justify-content: center;
    justify-items: center;
    align-items: center;
    grid-gap: 10px;
    padding-top: 30px;
    padding-bottom: 20px;
}

.title-register-btn .title-register-complete-btn {
	grid-area: b;
	width: 170px;
	background-color: white;
	border: 1px solid #424242;
	border-radius: 5px;
	padding: 10px;
	font-size: 15px;
	color: #424242;
}

.title-register-delete-btn, .title-register-cancel-btn {
	grid-area: a;
	justify-self: end;
    width: 170px;
    padding: 10px;
    border: 1px solid #e2e2df;
    border-radius: 5px;
    background-color: #e2e2df;
    font-size: 15px;
    color: white;
}


/* Main : expander-inner - title  */
.expander-title-inner {
	display: grid;
	width: 1200px;
    grid-template-columns: 150px 400px;
    grid-template-rows: 75px 75px;
    grid-template-areas: 
        "a b"
        "a c";
    justify-content: center;
    justify-items: center;
    align-items: center;
    grid-gap: 10px;
    padding-top: 50px;
    padding-bottom: 20px;
    /* float : left; */
    border-bottom: 1px solid #d3d3d3;
}

.og-expander-inner a:link {
    text-decoration: none;
    color: black;
}

.og-expander-inner a:visited {
    color: black;
}

.expander-title-inner .og-fullimg {
    grid-area: a;
    align-self: center;
}

.og-fullimg img {
    width: 150px;
}

.expander-title-inner .comic-list-genre {
    grid-area: c;
    color: gray;
    font-size: 15px;
    align-self: start;
}

.expander-title-inner .comic-list-title, .comic-title {
    grid-area: b;
    font-size: 15px;
}

.expander-title-inner .comic-list-setting {
    grid-area: b;
    justify-self : end;
    align-self: center;
}

.expander-title-inner .comic-list-setting img {
    width: 30px;
}


/* Main & Mypage Cards : expander-inner - subtitle */
.toggle-page {
	width: 1200px;
}

.subtitleLi a, .thissubtitleLi a{
    display: grid;
    grid-template-columns: 10px 110px 240px;
    grid-template-rows: 50px 50px;
    grid-template-areas: 
	    "d a b" 
	    "d a c";
    float: left;
    grid-gap: 10px;
    padding-left: 20px;
    padding-top: 20px;
}
.comic-list-read {
	color: red;
    grid-area: d;
    align-self: center;
    justify-self: center;
}
.comic-list {
    grid-area: a;
    align-self: center;
    justify-self: center;
}

.comic-list img {
    width: 100px;
    border: 1px solid #d3d3d3;
    border-radius: 10px;
}

.comic-list-text {
    grid-area: b;
    justify-self: start;
    align-self: end;
    word-break: break-all;
    font-size: 15px;
    padding-left: 0;
}

.comic-list-time {
	grid-area: c;
	justify-self: start;
	align-self: start;
    font-size: 13px;
    color: gray;
}

/* Pagination */
.this-pagination, .pagination {
	bottom: 40px;
    left: 1200px;
    display: inline-block;
    position: absolute;
}


/* subtitle paging 시작 */
.toggle-page, .readpage-toggle-page {
	text-align: center;	
}

/* .toggle-page .pagination{
	display: inline-block !important;
	position: absolute;
    bottom: 29px;
    right: 1000px;
} */

.toggle-page .pagination .page-item{
	display: inline-block !important;
    list-style: none;
}

.readpage-toggle-page .this-pagination .page-item{
	display: inline-block !important;
    list-style: none;
}

.toggle-page .pagination .comic-list-prev, .comic-list-pagi, .comic-list-next {
    list-style: none;
    align-self: center;
}

.toggle-page .pagination .comic-list-prev {
    justify-self : start;
}

.toggle-page .pagination .comic-list-next {
    justify-self : end;
}

.comic-list-pagi {
    justify-self : center;
}

.comic-list-pagi {
    padding: 10px 20px 10px 20px;
}

/* subtitle paging 끝 */

/* Margin-bottom */
.margin-bottom, .content-margin-bottom {margin-bottom: 595px !important;}

.hide{display: none;}
.background-blur{opacity: 0.5;}


/* Media query */

/* iPad Pro-12.9 landscape */
@media only screen and (max-width: 1366px) and (orientation: landscape) {
/* Mypage : first-og-expander - title */	
	.title-edit-input {
	    width: 1200px;
	    grid-template-columns: 120px 350px;
    	grid-template-rows: 50px 50px;
    	padding-top: 30px;
	}
	
	.og-fullimg img {
	    width: 100px;
	}
	
	.input-title {
	    width: 230px;
	}
	
/* Mypage : first-og-expander - genre */	
	.title-genre-checkbox {
	    width: 1200px;
	    overflow: scroll;
	}	
	
/* Title-complete-btn */
	.title-complete-btn {
		width: 1200px;
	}


	.title-complete-btn .title-register-complete-btn {
		width: 145px;
		padding: 10px;
		font-size: 15px;
		color: #424242;
	}

/* Title-register-btn */
	.title-register-btn {
		width: 1200px;
	}
	
	.title-register-btn .title-register-complete-btn {
		width: 145px;
	}
	
	.title-register-delete-btn, .title-register-cancel-btn {
	    width: 145px;
	}
	
		
/* Main-cards */
	.og-grid {
	    padding-left: 86px;
	    padding-right: 85px;
	}
	
	.og-title-register, .og-expander {
	    height: 500px;
	}
	
	
/* Main-cards-expander-inner : title */
	.expander-title-inner {
	    grid-template-columns: 120px 350px;
	    grid-template-rows: 50px 50px;
	    grid-gap: 10px;
	    padding-top: 30px;
	    padding-bottom: 20px;
	    width: 1200px;
	}
	
	.og-fullimg img {
		width: 100px;
	}
	
	
/* Main-cards-expander-inner : subtitle */
	.toggle-page, .readpage-toggle-page {
	    width: 1200px;
	    padding-top: 20px;
	    padding-bottom: 30px;
	}
	
	.subtitleLi a, .thissubtitleLi a {
	    padding-left: 20px;
	    padding-top: 10px;
	}
		
	
/* Main-cards-expander-inner : pagination */	
	.toggle-page .pagination {
	    left: 585px;
	    bottom: 15px;
	}	
	
	
/* Margin-bottom */
	.margin-bottom {
		margin-bottom: 495px !important;
	}
} 


/* iPad Pro-10.5 landscape */
@media only screen and (max-width: 1112px) and (orientation: landscape) {
/* Mypage : first-og-expander - title */	
	.title-edit-input {
	    width: 1112px;
	}
	
/* Mypage : first-og-expander - genre */	
	.title-genre-checkbox {
	    width: 1112px;
	    overflow: scroll;
	}	
	
/* Title-complete-btn */
	.title-complete-btn {
		width: 1112px;
	}

/* Title-register-btn */
	.title-register-btn {
		width: 1112px;
	}
	
/* Main-cards */
	.og-grid {
	    padding-left: 82px;
	    padding-right: 82px;
	}
	
	.og-title-register, .og-expander {
	    height: 620px;
	}
	
	
/* Main-cards-expander-inner : title */
	.expander-title-inner {
	    width: 1112px;
	}	
	
/* Main-cards-expander-inner : subtitle */
	.toggle-page, .readpage-toggle-page {
	    width: 1112px;
	}
	
	.subtitleLi a, .thissubtitleLi a {
	    padding-left: 115px;
	    padding-top: 10px;
	}
		
	
/* Main-cards-expander-inner : pagination */	
	.toggle-page .pagination {
	    left: 463px;
	    bottom: 15px;
	}	
	
	
/* Margin-bottom */
	.margin-bottom {
		margin-bottom: 615px !important;
	}	

}


/* iPad Pro-9.7 landscape */
@media only screen and (max-width: 1024px) and (orientation: landscape) {
/* Mypage : first-og-expander - title */	
	.title-edit-input {
	    width: 1024px;
	}
	
/* Mypage : first-og-expander - genre */	
	.title-genre-checkbox {
	    width: 1024px;
	}	
	
/* Title-complete-btn */
	.title-complete-btn {
		width: 1024px;
	}

/* Title-register-btn */
	.title-register-btn {
		width: 1024px;
	}	
	
/* Main-cards */
	.og-grid {
	    padding-left: 37px;
	    padding-right: 37px;
	}
	
	.og-title-register, .og-expander {
	    height: 620px;
	}
	
	
/* Main-cards-expander-inner : title */
	.expander-title-inner {
	    width: 1024px;
	}	
	
/* Main-cards-expander-inner : subtitle */
	.toggle-page, .readpage-toggle-page {
	    width: 1024px;
	}
	
	.subtitleLi a, .thissubtitleLi a {
	    padding-left: 95px;
	    padding-top: 10px;
	}
		
	
/* Main-cards-expander-inner : pagination */	
	.toggle-page .pagination {
	    left: 420px;
	    bottom: 15px;
	}	
	
	
/* Margin-bottom */
	.margin-bottom {
		margin-bottom: 615px !important;
	}	
}


/* iPad Pro-12.9 portrait */
@media only screen and (max-width: 1024px) and (orientation: portrait) {
/* Mypage : first-og-expander - title */	
	.title-edit-input {
	    width: 1024px;
	    grid-template-columns: 120px 350px;
    	grid-template-rows: 50px 50px;
    	padding-top: 30px;
	}
	
	.og-fullimg img {
	    width: 100px;
	}
	
	.input-title {
	    width: 230px;
	}
	
/* Mypage : first-og-expander - genre */	
	.title-genre-checkbox {
	    width: 1024px;
	    overflow: scroll;
	}	
	
/* Title-complete-btn */
	.title-complete-btn {
		width: 1024px;
	}


	.title-complete-btn .title-register-complete-btn {
		width: 145px;
		padding: 10px;
		font-size: 15px;
		color: #424242;
	}

/* Title-register-btn */
	.title-register-btn {
		width: 1024px;
	}
	
	.title-register-btn .title-register-complete-btn {
		width: 145px;
	}
	
	.title-register-delete-btn, .title-register-cancel-btn {
	    width: 145px;
	}
	
/* Main-cards */
	.og-grid {
	    padding-left: 37px;
	    padding-right: 37px;
	}
	
	.og-title-register, .og-expander {
	    height: 630px;
	}
	
	
/* Main-cards-expander-inner : title */
	.expander-title-inner {
	    grid-template-columns: 120px 350px;
	    grid-template-rows: 50px 50px;
	    grid-gap: 10px;
	    padding-top: 30px;
	    padding-bottom: 20px;	    
	    width: 1024px;
	}
	
	.og-fullimg img {
	    width: 100px;
	}
		
	
/* Main-cards-expander-inner : subtitle */
	.toggle-page, .readpage-toggle-page {
	    width: 1024px;
	    padding-top: 20px;
	    padding-bottom: 30px;
	}
	
	.subtitleLi a, .thissubtitleLi a {
	    padding-left: 90px;
	    padding-top: 10px;
	}
		
	
/* Main-cards-expander-inner : pagination */	
	.toggle-page .pagination {
	    left: 415px;
	    bottom: 15px;
	}	
	
	
/* Margin-bottom */
	.margin-bottom {
		margin-bottom: 625px !important;
	}
}


/* iPad Pro-10.5 portrait */
@media only screen and (max-width: 834px) and (orientation: portrait) {
/* Mypage : first-og-expander - title */	
	.title-edit-input {
	    width: 834px;
	}
	
/* Mypage : first-og-expander - genre */	
	.title-genre-checkbox {
	    justify-content: start;
	    overflow: scroll;
	    padding-left: 20px;
	    width: 814px;
	}
	
/* Title-complete-btn */	
	.title-complete-btn {
	    width: 834px;
	}
	
/* Title-register-btn */
	.title-register-btn {
		width: 834px;
	}	
	
/* Main-cards */
	.og-grid {
	    padding-left: 61px;
	    padding-right: 61px;
	}
	
	.og-title-register, .og-expander {
	    height: 630px;
	}
	
	
/* Main-cards-expander-inner : title */
	.expander-title-inner {
	    padding-top: 30px;
	    padding-bottom: 20px;	    
	    width: 834px;
	}
		
	
/* Main-cards-expander-inner : subtitle */
	.toggle-page, .readpage-toggle-page {
	    width: 834px;
	    padding-top: 20px;
	    padding-bottom: 30px;
	}
	
	.subtitleLi a, .thissubtitleLi a {
	    padding-left: 30px;
	    padding-top: 15px;
	}
		
	
/* Main-cards-expander-inner : pagination */	
	.toggle-page .pagination {
	    left: 325px;
	    bottom: 10px;
	}	
	
	
/* Margin-bottom */
	.margin-bottom {
		margin-bottom: 625px !important;
	}	
}


/* iPad Pro-X landscape */
@media only screen and (max-width: 812px) and (orientation: landscape) {
	* {font-size: 13px;}	
	
/* Mypage : first-og-expander - title */	
	.title-edit-input {
	    width: 812px;
	    grid-template-columns: 80px 250px;
    	grid-template-rows: 35px 45px;
    	padding-top: 20px;
    	padding-bottom: 5px;
	}
	
	.og-fullimg img {
	    width: 100px;
	}
	
	.input-title {
		font-size: 13px;
		padding: 5px;
	    width: 175px;
	}
	
/* Mypage : first-og-expander - genre */	
	.title-genre-checkbox {
		grid-template-columns: 53px 83px 84px 83px 63px 88px 109px 65px 71px 104px;
	    grid-template-rows: 37px 37px;
	    padding-left: 20px;
	    justify-content: start;
	    font-size: 13px;
	    width: 792px;
	    overflow: scroll;
	}	
	
/* Title-complete-btn */
	.title-complete-btn {
		width: 812px;
	}

	.title-complete-btn .title-register-complete-btn {
		width: 120px;
		padding: 5px;
		font-size: 13px;
		color: #424242;
	}

/* Title-register-btn */
	.title-register-btn {
		width: 812px;
	}
	
	.title-register-btn .title-register-complete-btn {
		width: 120px;
		padding: 5px;
		font-size: 13px;
	}
	
	.title-register-delete-btn, .title-register-cancel-btn {
	    width: 120px;
		padding: 5px;
		font-size: 13px;
	}	

	.expander-title-inner .comic-list-setting img {
	    width: 20px;
	}
	
		
/* Main-cards */
	.og-grid {
	    padding-left: 12px;
	    padding-right: 11px;
	}
	
	.og-grid .expander, .title-register {
	    width: 160px;
	    height: 285px;
	}
	
	.og-title-register, .og-expander {
	    height: 475px;
	}

	
/* Cards-expander-inner - title */
	.expander-title-inner {
	    width: 812px;
	    grid-template-columns: 80px 250px;
	    grid-template-rows: 35px 45px;
	    grid-column-gap: 10px;
	    padding-top: 20px;
	    padding-bottom: 5px;
	}	
	
	.og-fullimg img {
	    width: 75px;
	}
	
	.expander-title-inner .comic-list-title, .comic-title {
	    font-size: 13px;
	}
	
	.expander-title-inner .comic-list-genre {
	    font-size: 13px;
	}
	
/* Main-cards-expander-inner : subtitle */
	.subtitleLi a, .thissubtitleLi a {
		grid-template-columns: 80px 250px;
    	grid-template-rows: 40px 40px;
	    padding-left: 30px;
	    padding-top: 10px;
	}

	.toggle-page, .readpage-toggle-page {
	    width: 812px;
	    padding-top: 0;
	    padding-bottom: 30px;
	}
				
	.comic-list img {
	    width: 75px;
	}
	
/* Main-cards-expander-inner : pagination */	
	.toggle-page .pagination {
	    left: 314px;
	    bottom: 15px;
	    position: absolute;
	}	
	
	
/* Margin-bottom */
	.margin-bottom {
		margin-bottom: 465px !important;
	}
}


/* iPad Pro-9.7 portrait */
@media only screen and (max-width: 768px) and (orientation: portrait) {		
/* Mypage : first-og-expander - title */	
	.title-edit-input {
	    width: 768px;
	}
	
/* Mypage : first-og-expander - genre */	
	.title-genre-checkbox {
	    width: 748px;
	    padding-left: 20px;
	    justify-content: start;
	}	
	
/* Title-complete-btn */	
	.title-complete-btn {
	    width: 768px;
	}	
	
/* Title-register-btn */
	.title-register-btn {
		width: 768px;
	}		
	
/* Main-cards-expander-inner : title */	
	.expander-title-inner {
	    width: 768px;
	}		
	
/* Main-cards */
	.og-grid {
	    padding-left: 29px;
	    padding-right: 28px;
	}
	
	.og-title-register, .og-expander {
	    height: 630px;
	}
	
	
/* Main-cards-expander-inner : title */
	.expander-title-inner {
	    padding-top: 30px;
	    padding-bottom: 20px;	    
	    width: 768px;
	}
		
	
/* Main-cards-expander-inner : subtitle */
	.toggle-page, .readpage-toggle-page {
	    width: 768px;
	}
	
	.subtitleLi a, .thissubtitleLi a {
	    padding-left: 15px;
	    padding-top: 15px;
	}
	
	.subtitleLi a, .thissubtitleLi a {
	    grid-template-columns: 110px 240px;
	}
		
	
/* Main-cards-expander-inner : pagination */	
	.toggle-page .pagination {
	    left: 294px;
	    bottom: 10px;
	}	
	
	
/* Margin-bottom */
	.margin-bottom {
		margin-bottom: 625px !important;
	}	
			
}


/* iPhone - 6+/7+/8+  landscape */
@media only screen and (max-width: 736px) and (orientation:  landscape) {
/* Main-cards */
	.og-grid {
	    padding-left: 72px;
	    padding-right: 72px;
	}
	
	.og-title-register, .og-expander {
	    height: 475px;
	}


/* Mypage : first-og-expander - genre */	
	.title-genre-checkbox {
	    width: 716px;
	}	
	
/* Title-complete-btn */
	.title-complete-btn {
		width: 736px;
	}

/* Title-register-btn */
	.title-register-btn {
		width: 736px;
	}
	
	
/* Cards-expander-inner - title */
	.expander-title-inner {
	    width: 736px;
	}	
	
/* Main-cards-expander-inner : subtitle */
	.subtitleLi a, .thissubtitleLi a {
	    padding-left: 18px;
	}

	.toggle-page, .readpage-toggle-page {
	    width: 736px;
	}
	
/* Main-cards-expander-inner : pagination */	
	.toggle-page .pagination {
	    left: 280px;
	    bottom: 10px;
	}	
	
/* Margin-bottom */
	.margin-bottom {
		margin-bottom: 465px !important;
	}
}


/* iPhone - 6/7/8 landscape */
@media only screen and (max-width: 667px) and (orientation: landscape) {
/* Mypage : first-og-expander - title */	
	.title-edit-input {
	    width: 667px;
	}
	
	.input-title {
	    width: 175px;
	}
		
/* Main-cards */
	.og-grid {
	    padding-left: 38px;
	    padding-right: 38px;
	}
	
	.og-title-register, .og-expander {
	    height: 475px;
	}


/* Mypage : first-og-expander - genre */	
	.title-genre-checkbox {
	    width: 647px;
	}	
	
/* Title-complete-btn */
	.title-complete-btn {
		width: 667px;
	}

/* Title-register-btn */
	.title-register-btn {
		width: 667px;
	}
	
	
/* Cards-expander-inner - title */
	.expander-title-inner {
	    width: 667px;
	}	
	
/* Main-cards-expander-inner : subtitle */
	.subtitleLi a, .thissubtitleLi a {
		grid-template-columns: 80px 230px;
	    padding-left: 10px;
	}

	.toggle-page, .readpage-toggle-page {
	    width: 667px;
	}
	
/* Main-cards-expander-inner : pagination */	
	.toggle-page .pagination {
	    left: 246px;
	    bottom: 10px;
	}	
	
/* Margin-bottom */
	.margin-bottom {
		margin-bottom: 465px !important;
	}
}


/* iPhone - 5/SE/5S  landscape */
@media only screen and (max-width: 568px) and (orientation:  landscape) {
}


/* iPhone - 6+/7+/8+ portrait */
@media only screen and (max-width: 414px) and (orientation: portrait) {
/* Mypage : first-og-expander - title */	
	.title-edit-input {
	    width: 414px;
	    grid-template-columns: 80px 250px;
    	grid-template-rows: 35px 45px;
    	padding-top: 20px;
    	padding-bottom: 5px;
	}
	
	.og-fullimg img {
	    width: 100px;
	}
	
	.input-title {
		font-size: 13px;
		padding: 5px;
	    width: 175px;
	}
	
/* Mypage : first-og-expander - genre */	
	.title-genre-checkbox {
	    grid-template-columns: 53px 83px 84px 83px 63px 88px 109px 65px 71px 104px;
	    grid-template-rows: 37px 37px;
	    width: 404px;
	    padding-left: 10px;
	    justify-content: start;
	    font-size: 13px;
	    overflow: scroll;
	}	
	
/* Title-complete-btn */
	.title-complete-btn {
		width: 414px;
	}

	.title-complete-btn .title-register-complete-btn {
		width: 120px;
		padding: 5px;
		font-size: 13px;
		color: #424242;
	}

/* Title-register-btn */
	.title-register-btn {
		width: 414px;
	}
	
	.title-register-btn .title-register-complete-btn {
		width: 120px;
		padding: 5px;
		font-size: 13px;
		
	}
	
	.title-register-delete-btn, .title-register-cancel-btn {
	    width: 120px;
		padding: 5px;
		font-size: 13px;
	}	

	.expander-title-inner .comic-list-setting img {
	    width: 20px;
	}
	
	
/* Main-cards */
	.og-grid {
	    padding-left: 20px;
	    padding-right: 20px;
	}
	
	.og-grid .expander, .title-register {
	    width: 160px;
	    margin: 15px 15px 0 10px;
	    height: 285px;
	}	
	
	.og-title-register, .og-expander {
	    height: 430px;
	}
	
	
/* Cards-expander-inner - title */
	.expander-title-inner {
	    grid-template-columns: 80px 250px;
	    grid-template-rows: 35px 45px;
	    grid-template-areas:
			"a b" 
			"a c";
	    grid-column-gap: 10px;
	    width: 414px;
	    border-bottom: 1px solid #d3d3d3;
	    padding-top: 20px;
	    padding-bottom: 5px;
	}
	
	.og-fullimg img {
		width: 75px;
	}
	
/* Main-cards-expander-inner : subtitle */
	.toggle-page, .readpage-toggle-page {
	    width: 414px;
	    height: 276px;
	    overflow: scroll;
	    padding-top: 0;
	    padding-bottom: 30px;
	}
	
	.subtitleLi a, .thissubtitleLi a {
	    grid-template-columns: 80px 250px;
	    grid-template-rows: 40px 40px;
	    padding-left: 37px;
	    padding-top: 10px;
	}
				
	.comic-list img {
	    width: 75px;
	}
	
/* Main-cards-expander-inner : pagination */	
	.toggle-page .pagination {
	    left: 115px;
	    bottom: 15px;
	    position: unset;
	}	
	
	
/* Margin-bottom */
	.margin-bottom {
		margin-bottom: 425px !important;
	}
}


/* iPhone - 6/7/8/X portrait */
@media only screen and (max-width: 375px) and (orientation: portrait) {
/* Main-cards */
	.og-grid {
	    padding-left: 5px;
	    padding-right: 5px;
	}
	
	.og-grid .expander, .title-register {
	    margin: 10px 10px 0 10px;
	}
	
	.og-title-register, .og-expander {
	    height: 420px;
	}
	
/* Mypage : first-og-expander - title */	
	.title-edit-input {
	    width: 375px;
	}	
	
/* Mypage : first-og-expander - genre */	
	.title-genre-checkbox {
	    width: 365px;
	}	
	
/* Title-complete-btn */
	.title-complete-btn {
		width: 375px;
	}

/* Title-register-btn */
	.title-register-btn {
		width: 375px;
	}
	
/* Cards-expander-inner - title */
	.expander-title-inner {
	    width: 375px;
	}	
	
/* Main-cards-expander-inner : subtitle */
	.subtitleLi a, .thissubtitleLi a {
	    padding-left: 17px;
	    padding-top: 10px;
	}

	.toggle-page, .readpage-toggle-page {
	    width: 375px;
	    padding-top: 0;
	    padding-bottom: 30px;
	}
				
	.comic-list img {
	    width: 75px;
	}
	
/* Main-cards-expander-inner : pagination */	
	.toggle-page .pagination {
	    left: 115px;
	    bottom: 15px;
	}	
	
	
/* Margin-bottom */
	.margin-bottom {
		margin-bottom: 425px !important;
	}

}


/* iPhone - 5/SE/5S portrait */
@media only screen and (max-width: 320px) and (orientation: portrait) {
	}
}




