hr {
    width: 60%;
    margin-right: auto;
    margin-left: auto;
}


/*subtitle h4 css*/

.strapline {
    padding-top: 30px;
    display: grid;
    grid-template-columns: repeat(2, 25%);
    grid-template-areas: "a .";
    justify-content: center;
}

h4 {
    grid-area: a;
    justify-self: start;
    padding-left: 30px;
}



/*profile*/

.content-writer-profile {
    display: grid;
    grid-template-columns: repeat(2, 200px);
    grid-template-rows: 45px 45px 75px 45px;
    grid-template-areas: "a ." "a b" "a c" "a .";
    justify-content: center;
    justify-items: center;
    grid-column-gap: 70px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.content-writer-profile .content-writer-img {
    grid-area: a;
}

.content-writer-profile img {
    border-radius: 10px;
}

.content-writer-profile .content-writer-name {
    grid-area: b;
    justify-self: start;
    align-self: center;
    font-size: 1em;
}

.content-writer-profile .content-writer-subscribe {
    grid-area: c;
    justify-self: start;
    align-self: center;
    font-size: 1em;
}

.content-writer-profile a:visited {
    text-decoration: none;
    color: black;
}

.content-writer-profile a:link {
    text-decoration: none;
    color: black;
}


/*contents css*/

.contents {
    display: grid;
    grid-template-columns: 60%;
    grid-template-areas: "a";
    justify-content: center;
}

.contents .comic {
    grid-area: a;
    justify-self: center;
}

/*thumb css*/

.evaluate {
    display: grid;
    grid-template-columns: 60px 20px 30px 60px 20px;
    grid-template-rows: 70px;
    grid-template-areas: "a b . c d";
    justify-items: center;
    justify-content: center;
    padding-top: 80px;
    padding-bottom: 80px;
    grid-gap: 30px;
}

.evaluate a:link {
    text-decoration: none;
    color: black;
}

.evaluate .evaluate-pencil {
    grid-area: a;
    align-self: center;
}

.evaluate .evaluate-no-1 {
    grid-area: b;
    font-size: 1em;
    align-self: center;
}

.evaluate .evaluate-eraser {
    grid-area: c;
    align-self: center;
}

.evaluate .evaluate-no-2 {
    grid-area: d;
    font-size: 1em;
    align-self: center;
}

.evaluate img {
    width: 50px;
    padding-left: 20px;
    transition: -webkit-transition: all 300ms cubic-bezier(0.680, 0, 0.265, 1);
    /* older webkit */
    -webkit-transition: all 300ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
    -moz-transition: all 300ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
    -o-transition: all 300ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
    transition: all 300ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
    /* easeInOutBack */
    -webkit-transition-timing-function: cubic-bezier(0.680, 0, 0.265, 1);
    /* older webkit */
    -webkit-transition-timing-function: cubic-bezier(0.680, -0.550, 0.265, 1.550);
    -moz-transition-timing-function: cubic-bezier(0.680, -0.550, 0.265, 1.550);
    -o-transition-timing-function: cubic-bezier(0.680, -0.550, 0.265, 1.550);
    transition-timing-function: cubic-bezier(0.680, -0.550, 0.265, 1.550);
    /* easeInOutBack */
}

.evaluate img:hover {
    width: 60px;
}


/*writer css*/

.comic-infor {
    display: grid;
    grid-template-columns: repeat(2, 400px);
    grid-template-rows: 35px 35px 35px 35px 70px;
    grid-template-areas: "a b" "a c" "a d" "a e" "a f";
    justify-content: center;
    justify-items: center;
    grid-column-gap: 70px;
    padding-top: 50px;
    padding-bottom: 20px;
}

.comic-infor a:link {
    text-decoration: none;
    color: black;
}

.comic-infor span {
    padding: 10px;
}

.comic-infor .comic-thumbnail {
    grid-area: a;
    align-self: end;
    justify-self: end;
}

.comic-infor .comic-thumbnail img {
	width: 200px;
    border-radius: 10px;
}


.comic-infor .comic-title {
    grid-area: b;
    justify-self: start;
    align-self: center;
    font-weight: bold;
    font-size: 1em;
}

.comic-infor .comic-time {
    grid-area: c;
    justify-self: start;
    align-self: center;
    font-size: 1em;
}

.comic-infor .comic-time img {
    width: 20px;
    vertical-align: middle;
}

.comic-infor .comic-view {
    grid-area: d;
    justify-self: start;
    align-self: center;
    font-size: 1em;
}

.comic-infor .comic-view img {
    width: 20px;
    vertical-align: middle;
}

.comic-infor .comic-link {
    grid-area: e;
    justify-self: start;
    align-self: center;
    font-size: 1em;
}

.comic-infor .comic-link img {
    width: 20px;
    vertical-align: middle;
}

.comic-infor .writer-subscribe {
    grid-area: f;
    justify-self: start;
    align-self: center;
}


.subscribe {
    border: 2px solid black;
    background-color: white;
    padding: 15px 20px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 10px;
}

.subscribe {
    border-color: #f44336;
    color: red
}

.subscribe:hover {
    background: #f44336;
    color: white;
}


/*comic-comment*/

.comic-infor-comment {
    display: grid;
    grid-template-columns: 40%;
    grid-template-areas: "a";
    justify-content: center;
}

.comic-infor-comment .comic-comment {
    grid-area: a;
    justify-self: start;
    padding-top: 25px;
    padding-bottom: 50px;
}


/*next comic css*/

/* .content-comic-list {
    display: grid;
    grid-template-columns: 300px 450px 450px;
    grid-template-rows: 100px 100px 100px 50px;
    grid-template-areas: 
        "a c d"
        "a e f"
        "a g h"
        "b i i";
    justify-items: center;
    justify-content: center;
    grid-column-gap: 30px;
    grid-row-gap: 10px;
    padding-top: 20px;
    padding-bottom: 30px;
}

.content-comic-list a:link {
    text-decoration: none;
    color: black;
}

.content-comic-list a:visited {
    color: black;
}

.content-comic-list .content-comic-main-img {
    grid-area: a;
    align-self: center;
}

.content-comic-list .content-comic-genre {
    grid-area: a;
    align-self: end;
    font-size: 1em;
    color: gray;
}

.content-comic-list .content-comic-main-title {
    grid-area: b;
    align-self: center;
    font-size: 1em;
    font-weight: bold;
}

.content-comic-list .content-comic-main-img img {
    width: 250px;
    border-radius: 10px;
}

.content-comic-list .content-comic-01-img, .content-comic-01-title {
    grid-area: c;
}

.content-comic-list .content-comic-02-img, .content-comic-02-title {
    grid-area: d;
}

.content-comic-list .content-comic-03-img, .content-comic-03-title {
    grid-area: e;
}

.content-comic-list .content-comic-04-img, .content-comic-04-title {
    grid-area: f;
}

.content-comic-list .content-comic-05-img, .content-comic-05-title {
    grid-area: g;
}

.content-comic-list .content-comic-06-img, .content-comic-06-title {
    grid-area: h;
}

.content-comic-list .content-comic-list-pagi {
    grid-area: i;
    align-self: center;
}

.content-comic-list .content-comic-list-pagi span {
    padding: 10px;
}

.content-comic-list .content-comic-01-img, .content-comic-02-img, .content-comic-03-img, .content-comic-04-img, .content-comic-05-img, .content-comic-06-img {
    align-self: center;
    justify-self: start;
    border-radius: 10px;
}

.content-comic-list img {
    width: 80px;
    justify-self: start;
    align-self: center;
}

.content-comic-list .content-comic-01-title, .content-comic-02-title, .content-comic-03-title, .content-comic-04-title, .content-comic-05-title, .content-comic-06-title {
    align-self: center;
    justify-self: start;
    padding-left: 100px;
}




another comic css
.cards {
    display: grid;
    grid-template-columns: repeat(5, 230px);
    grid-template-areas: "a b c d e" "f g h i j";
    justify-items: center;
    justify-content: center;
    grid-row-gap: 25px;
    padding-top: 20px;
    padding-bottom: 50px;
}

.cards a:link {
    text-decoration: none;
    color: black;
}

.cards .cards-01,
.cards-02,
.cards-03,
.cards-04,
.cards-05,
.cards-06,
.cards-07,
.cards-08,
.cards-09,
.cards-10,
.cards-11,
.cards-12 {
    border: 1px solid #d3d3d3;
    border-radius: 10px;
    box-shadow: 0px 1px 1px 2px rgba(0, 0, 0, 0.05);
}

.cards img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.cards .title,
.subtitle {
    text-align: left;
    padding-left: 15px;
    padding-top: 5px;
}


.cards .line {
    text-align: center;
}

.cards .thumbnail-thumb {
    text-align: center;
    padding-top: 5px;
    vertical-align: 50%;
}

.cards .thumbnail-thumb img {
    width: 20px;
}

.cards .thumbnail-thumb span {
    vertical-align: 20%;
}

.cards .thumbnail-writer {
    text-align: left;
    padding-left: 15px;
    padding-bottom: 5px;
}

.cards .thumbnail-writer img {
    width: 20px;
}

.cards .thumbnail-writer span {
    padding-left: 5px;
    vertical-align: 15%;
}

.cards .thumbnail {
    width: 200px;
}

.cards .thumbnail-thumb span {
    padding: 10px;
}

.cards .cards-01 {
    grid-area: a
}

.cards .cards-02 {
    grid-area: b
}

.cards .cards-03 {
    grid-area: c
}

.cards .cards-04 {
    grid-area: d
}

.cards .cards-05 {
    grid-area: e
}

.cards .cards-06 {
    grid-area: f
}

.cards .cards-07 {
    grid-area: g
}

.cards .cards-08 {
    grid-area: h
}

.cards .cards-09 {
    grid-area: i
}

.cards .cards-10 {
    grid-area: j
}

.cards .cards-11 {
    grid-area: k
}

.cards .cards-12 {
    grid-area: l
}
 */
/*comment css*/

.comment {
    display: grid;
    grid-template-columns: 40% 100px;
    grid-template-areas: "a b";
    justify-content: center;
    grid-gap: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.comment .comment-text {
    grid-area: a;
    padding: 15px;
    font-size: 1em;
    border: 1px solid gray;
    border-radius: 5px;
}


.comment button {
    grid-area: b;
    border: 1px solid white;
}

.comment img {
    width: 28px;
    background-color: white;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
}


/*another comment css*/

.another-comment {
    display: grid;
    grid-template-columns: 60px 42%;
    grid-template-areas: "a b" ". c" ". d";
    justify-items: center;
    justify-content: center;
    grid-gap: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.another-comment a:link {
    text-decoration: none;
    color: black;
}


.another-comment .another-user-image {
    grid-area: a;
    align-self: center;
}

.another-comment .another-user-image img {
    width: 30px;
}

.another-comment .another-user-name {
    grid-area: b;
    justify-self: start;
    align-self: center;
}

.another-comment .another-user-time {
    font-size: 14px;
    color: gray;
    padding-right: 200px;
}

.another-comment span {
    padding-left: 20px;
}

.another-comment .another-comment-modify {
    grid-area: b;
    align-self: center;
    justify-self: end;
    font-size: 14px;
    color: gray;
    padding-right: 60px;
}

.another-comment .another-comment-modify img {
    width: 20px;
}

.another-comment .another-comment-Delete {
    grid-area: b;
    align-self: center;
    justify-self: end;
    font-size: 14px;
    color: gray;
    padding-right: 20px;
}

.another-comment .another-comment-Delete img {
    width: 20px;
}

.another-comment .another-user-comment {
    grid-area: c;
    width: 95%;
    justify-self: start;
    word-wrap: break-word;
}

.another-comment textarea {
    font-size: 1em;
    padding: 10px;
    overflow: visible;
    border: none;
    resize: none;
}

.another-comment text {}

.another-comment .another-comment-thumb {
    grid-area: d;
    justify-self: start;
    align-self: center;
    padding-left: 10px;
}

.another-comment .another-comment-thumb img {
    width: 20px;
}

.another-comment .another-comment-thumb span {
    padding: 10px;
}


.another-comment .another-comment-more {
    grid-area: d;
    justify-self: start;
    align-self: center;
    padding-left: 180px;
    font-size: 14px;
    color: gray;

}

/*footer*/

.footer {
    width: 100%;
    height: 300px;
}


