html{
	-webkit-overflow-scrolling : touch;
}


/* hr : complete */
hr {
    width: 1350px;
    margin-right: auto;
    margin-left: auto;
}

body a:visited {
    text-decoration: none;
    color: black;
}

body a:link {
    text-decoration: none;
    color: black;
}


/* Subtitle & h4 : complete */
.strapline {
    padding-top: 30px;
    display: grid;
    grid-template-columns: 1250px;
    grid-template-areas: "a";
    justify-content: center;
}

h4 {
    grid-area: a;
    justify-self: start;
    padding-left: 0;
}


/* Profile */
.content-writer-profile {
    display: grid;
	grid-template-columns: 200px 200px;
	grid-template-rows: 100px 100px;
	grid-template-areas: 
		"a b" 
		"a c";
	justify-content: center;
	grid-column-gap: 50px;
	grid-row-gap: 10px;
	padding-top: 45px;
	padding-bottom: 40px;
}

.content-writer-profile .content-writer-img {
	display: inline-block !important;
    grid-area: a;
    justify-self: center;
}

.content-writer-profile img {
	width: 200px;
	border: 1px solid #d3d3d3;
    border-radius: 50%;
}

.content-writer-profile .content-writer-name {
    grid-area: b;
    justify-self: start;
	align-self: end;
	font-size: 15px;
	padding-bottom: 10px;
}

.content-writer-profile .content-writer-subscribe {
    grid-area: c;
	justify-self: start;
	align-self: start;
	font-size: 15px;
	padding-top: 10px;
}


/* Profile - Modify & Remove Btn */
.modifyPageBtn {
    border: 1px solid #424242;
    background-color: white;
    padding: 10px;
    margin-right: 5px;
    font-size: 15px;
    cursor: pointer;
    border-radius: 5px;
    color: #424242;
    width : 80px;
}

.modifyPageBtn:hover {
    background-color: #1d8bf1;
    border: 1px solid #1d8bf1;
    color: white;
}

.removePageBtn {
    border: 1px solid #d3d3d3;
    background-color: #d3d3d3;
    padding: 10px;
    font-size: 15px; 
    cursor: pointer;
    border-radius: 5px;
    color: white;
    width : 100px;
}

.removePageBtn:hover {
    background-color: #f44336;
    border: 1px solid #f44336;
    color: white;
}



/* contents */
.contents {
	text-align: center;
}

.contents .comic {
    text-align: center;
}

.contents .comic img{
	display: inline-block !important;
	width: 1200px;	
}

	.thumbnail, .comic-list img, .og-fullimg img, .thumbnail-writer img, .reply-profile-img-button img {
	display: inline-block !important;
}


/* thumb css */
.evaluate {
    display: grid;
    grid-template-columns: 60px 20px 30px 60px 20px;
    grid-template-rows: 70px;
    grid-template-areas: 
    	"a b . c d";
    justify-items: center;
    align-items: center;
    justify-content: center;
    padding-top: 80px;
    padding-bottom: 80px;
    grid-column-gap: 20px;
    font-size: 15px;
}

.evaluate .evaluate-pencil {
    grid-area: a;
}

.evaluate .evaluate-no-1 {
    grid-area: b;
}

.evaluate .evaluate-eraser {
    grid-area: c;
}

.evaluate .evaluate-no-2 {
    grid-area: d;
}

.evaluate img {
    width: 50px;
    padding-left: 20px;
}


/* Comic - information */
.comic-infor {
    display: grid;
    grid-template-columns: 400px 400px;
    grid-template-rows: 35px 35px 35px 35px 70px;
    grid-template-areas: 
	    "a b" 
	    "a c" 
	    "a d" 
	    "a e" 
	    "a f";
    justify-content: center;
    justify-items: start;
    align-items: center;
    grid-column-gap: 50px;
    padding-top: 50px;
    padding-bottom: 20px;
    font-size: 15px;
}


.comic-infor .comic-thumbnail {
    grid-area: a;
    justify-self: end;
}

.comic-infor .comic-thumbnail img {
	display: inline-block !important;
	width: 200px;
	border: 1px solid #d3d3d3;
    border-radius: 10px;
}

.comic-infor .comic-title {
    grid-area: b;
}

.comic-infor .comic-time {
    grid-area: c;
}

.comic-time span {
    padding-right: 5px;
}

.comic-infor .comic-time img {
    width: 20px;
    vertical-align: middle;
}

.comic-infor .comic-view {
    grid-area: d;
}

.comic-view span {
    padding-right: 10px;
}

.comic-infor .comic-view img {
    width: 20px;
    vertical-align: middle;
}

.comic-infor .comic-link {
    grid-area: e;
}

.comic-link span {
    padding-right: 10px;
}

.comic-infor .comic-link img {
    width: 20px;
    vertical-align: middle;
}

.comic-infor .writer-subscribe {
    grid-area: f;
}


/* Comic list : expand & margin-bottom */
.list-og-expanded {
    position: absolute;
    background: #fff;
    top: auto;
    left: 0;
    width: 100%;
    margin-top: 10px;
    height: 550px;
    overflow: hidden;
    text-align: center;
}

.content-margin-bottom {
	margin-bottom: 560px !important;
}


/* Comic list - title */
.list-expander-title-inner {
	display: grid;
    width: 1200px;
    grid-template-columns: 150px 400px;
    grid-template-rows: 75px 75px;
    grid-template-areas: 
	    "a b" 
	    "a c";
    justify-content: center;
    justify-items: center;
    align-items: center;
    grid-gap: 10px;
    padding-top: 10px;
    padding-bottom: 20px;
    border-bottom: 1px solid #d3d3d3;
}


/* Another Comic */
.cards {
    display: grid;
    grid-template-areas: 
        "a a a a a";
    justify-items: center;
    justify-content: center;
    text-align: center;
}



/* Comic - comment */
.comic-infor-comment {
    display: grid;
    grid-template-columns: 1100px;
    grid-template-areas: "a";
    justify-content: center;
}

.comic-infor-comment .comic-comment {
    grid-area: a;
    justify-self: start;
    padding-top: 25px;
    padding-bottom: 50px;
}


/* Comment */
.comment {
    display: grid;
    grid-template-columns: 1050px 80px;
    grid-template-areas: "a b";
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.comment-text {
    grid-area: a;
    justify-self: start;
    align-self: center;
    width: 1035px;
    height: 23px;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 5px;
    font-size: 15px;
    border-bottom: 1px solid gray;
    border-radius: 5px;
}


.comment button {
    grid-area: b;
    width: 80px;
    border: 1px solid white;
    background : white;
}

.comment img {
    width: 30px;
    background-color: white;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
}


/* Another comment */
.another-comment {
    display: grid;
    grid-template-columns: 50px 1050px;
    grid-template-areas:
    	"a b"
    	". c"
    	". d";
    justify-items: center;
    align-items: center;
    justify-content: center;
    grid-gap: 10px;
    padding-top: 20px;
    /* padding-bottom: 20px; */
}

.another-comment .another-user-image {
    grid-area: a;
}

.another-comment .another-user-image img {
    width: 30px;
}

.another-comment .another-user-name {
    grid-area: b;
    justify-self: start;
}

.another-comment .another-user-time {
    font-size: 14px;
    color: gray;
}

.another-comment .another-comment-modify {
    grid-area: b;
    justify-self: end;
    padding-right: 20px;
}

.another-comment .another-comment-modify img {
    width: 20px;
}

.another-comment textarea {
    grid-area: c;
    width: 1000px;
    border: none;
    justify-self: start;
    word-wrap: break-word;
}

.another-comment .another-comment-thumb {
    grid-area: d;
    justify-self: start;
    padding-left: 10px;
}

.another-comment .another-comment-thumb img {
    width: 20px;
}

.another-comment .another-comment-thumb span {
    padding: 10px;
    vertical-align: 20%;
}

.another-comment .another-comment-more {
    grid-area: d;
    justify-self: start;
    padding-left: 180px;
    font-size: 14px;
    color: gray;
}

textarea{
	resize: none;
}


/* Another comment : Replay profile */
.reply-profile-img-button img {
	border: 1px solid #d3d3d3;
	border-radius: 50%;
}

.reply-profile-img-button{
    border: 0px;
    border-radius: 50%;
    background-color: white;
}

.reply-profile-name-button {
	background: white;
	border: 1px solid white;
	color: black;
	font-size: 15px;
}

/* Footer */
.footer {
    width: 100%;
    height: 200px;
}


/* Media query */
/* iPad Pro-12.9 landscape */
@media only screen and (max-width: 1366px) and (orientation: landscape) {
	* {font-size: 15px;}
	
/* hr */
	hr {width: 90%;}	
	
/* Subtitle h4 */
	.strapline {
		padding-top: 10px;
		padding-bottom: 0;
	    grid-template-columns: 1180px;
	}	

/* Profile */
	.content-writer-profile {
		grid-template-columns: 200px 200px;
	    grid-template-rows: 90px 90px;
	    grid-gap: 20px;
	    padding-top: 20px;
	    padding-bottom: 20px;
	}
	
	.content-writer-profile .content-writer-name {
	    padding-bottom: 0;
	}
	
	.content-writer-profile .content-writer-img {
		display: inline-block !important;
		align-self: center;
	    justify-self: end;
	}

	.content-writer-profile img {
		width: 150px;
	}
	
	.content-writer-profile .content-writer-subscribe {
	    padding-top: 0;
	}	
	
/* Contents */
	.contents .comic img{
	display: inline-block !important;
	width: 100%;
	}
	
	.thumbnail, .comic-list img, .og-fullimg img, .thumbnail-writer img, .reply-profile-img-button img {
	display: inline-block !important;
}

/* Profile : subscribe */	
	.subscribe {
		width: 145px;
		padding: 10px;
	    border-radius: 5px;
	}
	
/* Thumb css */
	.evaluate {
	    grid-template-columns: 30px 10px 30px 30px 10px;
	    grid-gap: 5px;
	    grid-template-rows: 30px;
	    grid-template-areas: "a b . c d";
	    padding-top: 20px;
	    padding-bottom: 30px;
	}
	
	.evaluate img {
	    width: 28px;
	    padding-left: 0;
	}	
	
/* Comic-information : complete */
	.comic-infor {
	    grid-template-columns: 110px 100px 200px;
	    grid-template-rows: 40px 40px 40px;
	    grid-template-areas: 
		    "a b b" 
		    "a c e" 
		    "a d f";
	    grid-column-gap: 20px;
	    padding-top: 20px;
	    padding-bottom: 5px;
	}
	
	.comic-infor .comic-thumbnail img {
		display: inline-block !important;
		width: 100px;
	}
	
	.comic-infor .comic-thumbnail {
    	justify-self: center;
	}
	
	.comic-infor .comic-title {
	    justify-self: start;
	}
			
	.comic-infor .comic-time {
	    justify-self: start;
	}
	
	.comic-infor .comic-view {
	    justify-self: start;
	}

	.comic-infor .comic-link {
	    justify-self: start;
	}	
	

/* Comic-comment */	
	.comic-infor-comment {
	    grid-template-columns: 1000px;
	    padding-top: 5px;
	    padding-bottom: 20px;
	}				

/* Comic-list : title */
	.list-expander-title-inner {
	    width: 1366px;
	    grid-template-columns: 120px 350px;
	    grid-template-rows: 50px 50px;
	    grid-gap: 10px;
	    padding-top: 0;
	    padding-bottom: 20px;
	}
	
/* Comic-list : pagination */	
	.this-pagination, .pagination {
	    bottom: 15px;
	    left: 587px;
	}	

/* Comic-list */	
	.list-og-expanded {height: 445px;}
	.content-margin-bottom {margin-bottom: 455px !important;}


/* Comment */
	.comment {
	    grid-template-columns: 1095px 60px;
	}
	
	.comment-text {
	    width: 1080px;
	    font-size: 13px;
	}
	
	.comment button {
	    width: 40px;
	    justify-self: center;
	}
	
	.comment img {
	    width: 25px;
	    padding: 5px;
	    padding-left: 5px;
	    padding-right: 5px;
	}	
	
/* Another comment */	
	.another-comment {
	    grid-template-columns: 50px 1100px;
	}	
	
	.another-comment .another-user-image img {
	    width: 25px;
	}
	
	.another-comment textarea {
	    width: 1020px;
	}
}	


/* iPad Pro-10.5 landscape */
@media only screen and (max-width: 1112px) and (orientation: landscape) {
/* Subtitle h4 css */
	.strapline {
	    grid-template-columns: 950px;
	}
	
/* Comic-comment */	
	.comic-infor-comment {
	    grid-template-columns: 880px;
	}		
		
/* Comic-list : title */
	.list-expander-title-inner {
	    width: 1112px;
	}
		
/* Comic-list : pagination */	
	.this-pagination, .pagination {
	    left: 462px;
	}	

/* Comic-list */	
	.list-og-expanded {height: 585px;}
	.content-margin-bottom {margin-bottom: 595px !important;}		
		
/* Another cards */	
	.cards {
	    grid-template-areas: "a a a a";
	}	
	
/* Comment */
	.comment {
	    grid-template-columns: 858px 60px;
	}
	
	.comment-text {
	    width: 843px;
	}
	
/* Another comment */	
	.another-comment {
	    grid-template-columns: 50px 865px;
	}	
	
	.another-comment textarea {
	    width: 785px;
	}		
}

/* iPad Pro-9.7 landscape */
@media only screen and (max-width: 1024px) and (orientation: landscape) {
/* Subtitle h4 css */
	.strapline {
	    grid-template-columns: 920px;
	}	

/* Comic-comment */	
	.comic-infor-comment {
	    grid-template-columns: 800px;
	}
	
/* Comic-list : title */
	.list-expander-title-inner {
	    width: 1024px;
	}
		
/* Comic-list : pagination */	
	.this-pagination, .pagination {
	    left: 420px;
	}	
	
/* Comic-list */	
	.list-og-expanded {height: 580px;}
	.content-margin-bottom {margin-bottom: 590px !important;}			

/* Comment */
	.comment {
	    grid-template-columns: 830px 60px;
	}
	
	.comment-text {
	    width: 815px;
	}

}

/* iPad Pro-12.9 portrait */
@media only screen and (max-width: 1024px) and (orientation: portrait) {
	* {font-size: 15px;}
	
/* hr */
	hr {width: 90%;}
	
/* Subtitle h4 css */
	.strapline {
		padding-top: 10px;
		padding-bottom: 0;
	    grid-template-columns: 920px;
	}


/* Profile */
	.content-writer-profile {
		grid-template-columns: 200px 200px;
	    grid-template-rows: 90px 90px;
	    grid-gap: 20px;
	    padding-top: 20px;
	    padding-bottom: 20px;
	}
	
	.content-writer-profile .content-writer-name {
	    padding-bottom: 0;
	}
	
	.content-writer-profile .content-writer-img {
		display: inline-block !important;
		align-self: center;
	    justify-self: end;
	}

	.content-writer-profile img {
		width: 150px;
	}
	
	.content-writer-profile .content-writer-subscribe {
	    padding-top: 0;
	}	
	

/* Profile : subscribe */	
	.subscribe {
		width: 145px;
		padding: 10px;
	    border-radius: 5px;
	}
	

/* Contents */
	.contents .comic img{
	display: inline-block !important;
	width: 100%;
	}		
	.thumbnail, .comic-list img, .og-fullimg img, .thumbnail-writer img, .reply-profile-img-button img {
	display: inline-block !important;
}
	
	
/* Thumb css */
	.evaluate {
	    grid-template-columns: 30px 10px 30px 30px 10px;
	    grid-gap: 5px;
	    grid-template-rows: 30px;
	    grid-template-areas: "a b . c d";
	    padding-top: 20px;
	    padding-bottom: 30px;
	}
	
	.evaluate img {
	    width: 28px;
	    padding-left: 0;
	}		
	
/* Comic-information */
	.comic-infor {
	    grid-template-columns: 110px 100px 200px;
	    grid-template-rows: 40px 40px 40px;
	    grid-template-areas: 
		    "a b b" 
		    "a c e" 
		    "a d f";
	    grid-column-gap: 20px;
	    padding-top: 20px;
	    padding-bottom: 5px;
	}
	
	.comic-infor .comic-thumbnail img {
		display: inline-block !important;
		width: 100px;
	}
	
	.comic-infor .comic-thumbnail {
    	justify-self: center;
	}
	
	.comic-infor .comic-title {
	    justify-self: start;
	}
			
	.comic-infor .comic-time {
	    justify-self: start;
	}
	
	.comic-infor .comic-view {
	    justify-self: start;
	}

	.comic-infor .comic-link {
	    justify-self: start;
	}	
	

/* Comic-comment */	
	.comic-infor-comment {
	    grid-template-columns: 700px;
	    padding-top: 5px;
	    padding-bottom: 20px;
	}	
	
/* Comic-list : title */
	.list-expander-title-inner {
	    width: 1024px;
	    grid-template-columns: 120px 350px;
	    grid-template-rows: 50px 50px;
	    grid-gap: 10px;
	    padding-top: 0;
	    padding-bottom: 20px;
	}
	
/* Comic-list : pagination */	
	.this-pagination, .pagination {
	    bottom: 15px;
	    left: 418px;
	}	

/* Comic-list */	
	.list-og-expanded {height: 565px;}
	.content-margin-bottom {margin-bottom: 575px !important;}

/* Another cards */	
	.cards {
	    grid-template-areas: "a a a a";
	}	
	
/* Comment */
	.comment {
	    grid-template-columns: 830px 60px;
	}
	
	.comment-text {
	    width: 815px;
	    font-size: 13px;
	}
	
	.comment button {
	    width: 40px;
	    justify-self: center;
	}
	
	.comment img {
	    width: 25px;
	    padding: 5px;
	    padding-left: 5px;
	    padding-right: 5px;
	}	

/* Another comment */	
	.another-comment {
	    grid-template-columns: 50px 835px;
	}	
	
	.another-comment textarea {
	    width: 755px;
	}	
}

/* iPad Pro-10.5 portrait */
@media only screen and (max-width: 834px) and (orientation: portrait) {
/* Subtitle h4 css */
	.strapline {
	    grid-template-columns: 725px;
	}
		
/* Comic-comment */	
	.comic-infor-comment {
	    grid-template-columns: 650px;
	}
	
/* Comic-list : title */
	.list-expander-title-inner {
	    width: 1112px;
	}
		
/* Comic-list : pagination */	
	.this-pagination, .pagination {
	    left: 325px;
	}	

/* Comic-list */	
	.list-og-expanded {height: 595px;}
	.content-margin-bottom {margin-bottom: 605px !important;}		
			
/* Another cards */	
	.cards {
	    grid-template-areas: "a a a";
	}	
	
/* Comment */
	.comment {
	    grid-template-columns: 620px 60px;
	}
	
	.comment-text {
	    width: 605px;
	}	

/* Another comment */	
	.another-comment {
	    grid-template-columns: 50px 630px;
	}	
	
	.another-comment textarea {
	    width: 550px;
	}	

}

/* iPhone - X landscape :  */
@media only screen and (max-width: 812px) and (orientation: landscape) {
* {font-size: 13px;}	

/* Subtitle h4 css : complete */
	.strapline {
		padding-top: 10px;
		padding-bottom: 0;
	    grid-template-columns: 700px;
	}


/* Profile : complete */
	.content-writer-profile {
		grid-template-columns: 140px 140px;
	    grid-template-rows: 40px 40px;
	    grid-gap: 10px;
	    padding-top: 30px;
	    padding-bottom: 30px;
	}
	
	.content-writer-profile .content-writer-name {
	    padding-bottom: 0;
	}
	
	.content-writer-profile .content-writer-img {
		display: inline-block !important;
		align-self: center;
	    justify-self: end;
	}

	.content-writer-profile img {
		width: 75px;
	}
	
	.content-writer-profile .content-writer-subscribe {
	    padding-top: 0;
	}


/* Profile : Modify & Remove Btn : complete */
	.modifyPageBtn {
		font-size: 13px;
		padding: 5px;
	    width : 60px;
	    border-radius: 5px;
	}
	
	.removePageBtn {
		font-size: 13px;
		padding: 5px;
	    width : 70px;
	    border-radius: 5px;
	}
	
/* Profile : subscribe : complete */	
	.subscribe {
		font-size: 13px;
		width: 120px;
		padding: 5px;
	    border-radius: 5px;
	}
	

/* Contents : complete */
	.contents .comic img{
	display: inline-block !important;
		width: 100%;	
	}	
	.thumbnail, .comic-list img, .og-fullimg img, .thumbnail-writer img, .reply-profile-img-button img {
	display: inline-block !important;
}
	
	
/* Thumb css : complete */
	.evaluate {
	    grid-template-columns: 30px 10px 10px 30px 10px;
	    grid-gap: 5px;
	    grid-template-rows: 30px;
	    grid-template-areas: "a b . c d";
	    padding-top: 20px;
	    padding-bottom: 30px;
	}
	
	.evaluate img {
	    width: 23px;
	    padding-left: 0;
	}
	
	
/* Comic-information : complete */
	.comic-infor {
	    grid-template-columns: 80px 80px 170px;
	    grid-template-rows: 32px 32px 32px;
	    grid-template-areas:
		     "a b b" 
		     "a c e" 
		     "a d f";
	    grid-column-gap: 10px;
	    padding-top: 20px;
	    padding-bottom: 5px;
	}
	
	.comic-infor .comic-thumbnail img {
		display: inline-block !important;
		width: 75px;
	}
	
	.comic-infor .comic-thumbnail {
    	justify-self: center;
	}
	
	.comic-infor .comic-title {
	    justify-self: start;
	}
			
	.comic-infor .comic-time {
	    justify-self: start;
	}
	
	.comic-infor .comic-view {
	    justify-self: start;
	}

	.comic-infor .comic-link {
	    justify-self: start;
	}	
		
	
/* Comic-comment */	
	.comic-infor-comment {
	    grid-template-columns: 650px;
	    padding-top: 5px;
	    padding-bottom: 20px;
	}	

/* Comic-list : title */
	.list-expander-title-inner {
	    width: 812px;
	    grid-template-columns: 80px 250px;
   		grid-template-rows: 40px 40px;
	    grid-gap: 10px;
	    padding-top: 0;
	    padding-bottom: 5px;
	}
	
/* Comic-list : pagination */	
	.this-pagination, .pagination {
	    bottom: 15px;
	    left: 118px;
	    position: unset;
	}	

/* Comic-list */	
	.list-og-expanded {height: 465px;}
	.content-margin-bottom {margin-bottom: 475px !important;}


/* Another Comic :  */
	.cards {
	    grid-template-areas: 
	        "a a a";
	}	
	

/* Comment */
	.comment {
	    grid-template-columns: 630px 50px;
	}
	
	.comment-text {
	    width: 615px;
	    font-size: 13px;
	}
	
	.comment button {
	    width: 40px;
	    justify-self: center;
	}
	
	.comment img {
	    width: 20px;
	    padding: 5px;
	    padding-left: 5px;
	    padding-right: 5px;
	}	
	
/* Another comment */	
	.another-comment {
	    grid-template-columns: 30px 650px;
	    grid-gap: 5px;
	}	
	
	.reply-profile-name-button {
	    font-size: 13px;
	}
	
	.another-comment .another-user-image img {
	    width: 20px;
	}
	
	.another-comment textarea {
	    width: 580px;
	}	
	
	.another-comment .another-comment-modify img {
	    width: 20px;
	}
	
	.another-comment .another-comment-modify {
	    padding-right: 0px;
	}
}

/* iPad Pro-9.7 portrait */
@media only screen and (max-width: 768px) and (orientation: portrait) {
/* Subtitle h4 css  */
	.strapline {
	    grid-template-columns: 680px;
	}
	
/* Comic-comment */	
	.comic-infor-comment {
	    grid-template-columns: 600px;
	}	
	
/* Comic-list : title */
	.list-expander-title-inner {
	    width: 768px;
	}	
	
/* Comic-list : pagination */	
	.this-pagination, .pagination {
	    left: 294px;
	}		
}

/* iPhone - 6+/7+/8+  landscape :  */
@media only screen and (max-width: 736px) and (orientation:  landscape) {
/* Subtitle h4 css : complete */
	.strapline {
	    grid-template-columns: 650px;
	}	
	
/* Comic-comment */	
	.comic-infor-comment {
	    grid-template-columns: 600px;
	}		

/* Comic-list : title */
	.list-expander-title-inner {
	    width: 736px;
	}
	
/* Comment */
	.comment {
	    grid-template-columns: 580px 50px;
	}
	
	.comment-text {
	    width: 565px;
	}
	
/* Another comment */	
	.another-comment {
	    grid-template-columns: 30px 600px;
	}	
	
	.another-comment textarea {
	    width: 530px;
	}	
	
}

/* iPhone - 6/7/8/ landscape :  */
@media only screen and (max-width: 667px) and (orientation: landscape) {
/* Subtitle h4 css : complete */
	.strapline {
	    grid-template-columns: 590px;
	}	
	
/* Comic-comment */	
	.comic-infor-comment {
	    grid-template-columns: 550px;
	}		

/* Comic-list : title */
	.list-expander-title-inner {
	    width: 667px;
	}	
	
/* Comment */
	.comment {
	    grid-template-columns: 515px 50px;
	}
	
	.comment-text {
	    width: 500px;
	}
	
/* Another comment */	
	.another-comment {
	    grid-template-columns: 30px 545px;
	}	
	
	.another-comment textarea {
	    width: 475px;
	}		
}

/* iPhone - 5/SE/5S  landscape */
@media only screen and (max-width: 568px) and (orientation:  landscape) {
	
}

/* iPhone - 6+/7+/8+ portrait : complete */
@media only screen and (max-width: 414px) and (orientation: portrait) {
	* {
		font-size: 13px;
	}
	
	
/* hr */
	hr {
	    width: 394px;
	}
	
/* Subtitle h4 css : complete */
	.strapline {
		padding-top: 10px;
		padding-bottom: 0;
	    grid-template-columns: 380px;
	}


/* Profile : complete */
	.content-writer-profile {
		grid-template-columns: 140px 140px;
	    grid-template-rows: 40px 40px;
	    grid-gap: 10px;
	    padding-top: 30px;
	    padding-bottom: 30px;
	}
	
	.content-writer-profile .content-writer-name {
	    padding-bottom: 0;
	}
	
	.content-writer-profile .content-writer-img {
		display: inline-block !important;
		align-self: center;
	    justify-self: end;
	}

	.content-writer-profile img {
		width: 75px;
	}
	
	.content-writer-profile .content-writer-subscribe {
	    padding-top: 0;
	}


/* Profile : Modify & Remove Btn : complete */
	.modifyPageBtn {
		font-size: 13px;
		padding: 5px;
	    width : 60px;
	    border-radius: 5px;
	}
	
	.removePageBtn {
		font-size: 13px;
		padding: 5px;
	    width : 70px;
	    border-radius: 5px;
	}
	
/* Profile : subscribe : complete */	
	.subscribe {
		font-size: 13px;
		width: 120px;
		padding: 5px;
	    border-radius: 5px;
	}
	

/* Contents : complete */
	.contents .comic img{
	display: inline-block !important;
		width: 100%;	
	}	
		.thumbnail, .comic-list img, .og-fullimg img, .thumbnail-writer img, .reply-profile-img-button img {
	display: inline-block !important;
}
	
	
/* Thumb css : complete */
	.evaluate {
	    grid-template-columns: 30px 10px 10px 30px 10px;
	    grid-gap: 5px;
	    grid-template-rows: 30px;
	    grid-template-areas: "a b . c d";
	    padding-top: 20px;
	    padding-bottom: 30px;
	}
	
	.evaluate img {
	    width: 23px;
	    padding-left: 0;
	}
	
	
/* Comic-information : complete */
	.comic-infor {
	    grid-template-columns: 80px 80px 170px;
    	grid-template-rows: 32px 32px 32px;
	    grid-template-areas: 
		    "a b b" 
		    "a c e" 
		    "a d f";
	    grid-column-gap: 10px;
	    padding-left: 11px;
	    padding-top: 20px;
	    padding-bottom: 5px;
	}
	
	.comic-infor .comic-thumbnail img {
		display: inline-block !important;
		width: 75px;
	}
	
	.comic-infor .comic-thumbnail {
    	justify-self: center;
	}
	
	.comic-infor .comic-title {
	    justify-self: start;
	}
			
	.comic-infor .comic-time {
	    justify-self: start;
	}
	
	.comic-infor .comic-view {
	    justify-self: start;
	}

	.comic-infor .comic-link {
	    justify-self: start;
	}	
		
	
/* Comic-comment */	
	.comic-infor-comment {
	    grid-template-columns: 340px;
	    padding-top: 5px;
	    padding-bottom: 20px;
	}	

/* Comic-list : title */
	.list-expander-title-inner {
	    width: 414px;
	    grid-template-columns: 80px 225px;
   		grid-template-rows: 40px 40px;
	    grid-gap: 10px;
	    padding-top: 0;
	    padding-bottom: 5px;
	}
	
/* Comic-list : pagination */	
	.this-pagination, .pagination {
	    bottom: 15px;
	    left: 118px;
	    position: unset;
	}	

/* Comic-list */	
	.list-og-expanded {height: 405px;}
	.content-margin-bottom {margin-bottom: 415px !important;}


/* Another Comic :  */
	.cards {
	    grid-template-areas: 
	        "a a";
	}	


/* Comment */
	.comment {
	    grid-template-columns: 310px 50px;
	}
	
	.comment-text {
	    width: 295px;
	    font-size: 13px;
	}
	
	.comment button {
	    width: 40px;
	    justify-self: center;
	}
	
	.comment img {
	    width: 20px;
	    padding: 5px;
	    padding-left: 5px;
	    padding-right: 5px;
	}	
	
/* Another comment */	
	.another-comment {
	    grid-template-columns: 30px 330px;
	    grid-gap: 5px;
	}	
	
	.reply-profile-name-button {
	    font-size: 13px;
	}
	
	.another-comment .another-user-image img {
	    width: 20px;
	}
	
	.another-comment textarea {
	    width: 280px;
	}	
	
	.another-comment .another-comment-modify img {
	    width: 20px;
	}	
	
	.another-comment .another-comment-modify {
	    padding-right: 0px;
	}	
}


/* iPhone - 6/7/8/X portrait : complete */
@media only screen and (max-width: 375px) and (orientation: portrait) {
/* hr */
	hr {
	    width: 355px;
	}	
	
/* Subtitle h4 css */
	.strapline {
	    grid-template-columns: 350px;
	}

/* Comic-information : complete */
	.comic-infor {
	    padding-left: 11px;
	}

/* Comic-list : title */
	.list-expander-title-inner {
	    width: 375px;
	    grid-template-columns: 80px 225px;
   		grid-template-rows: 40px 40px;
	    grid-gap: 10px;
	    padding-top: 0;
	    padding-bottom: 5px;
	}
	
/* Comic-list : pagination */	
	.this-pagination, .pagination {
	    bottom: 15px;
	    left: 115px;
	}	

/* Comic-list */	
	.list-og-expanded {height: 405px;}
	.content-margin-bottom {margin-bottom: 415px !important;}
	
	
		
/* Comment css */
	.comment {
	    grid-template-columns: 295px 50px;
	}
	
	.comment-text {
	    width: 280px;
	}	
	
/* Another comment */	
	.another-comment {
	    grid-template-columns: 30px 300px;
	}	
	
	.another-comment textarea {
	    width: 250px;
	}		
}

/* iPad Pro-5/SE/5S portrait */
@media only screen and (max-width: 320px) and (orientation: portrait) {
	
}