html{
	-webkit-overflow-scrolling : touch;
}


/* hr */
hr {
    width: 1350px;
    margin-right: auto;
    margin-left: auto;
}

body a:visited {
    text-decoration: none;
    color: black;
}

body a:link {
    text-decoration: none;
    color: black;
}


/* subtitle h4 css */
.strapline {
    padding-top: 30px;
    display: grid;
    grid-template-columns: 1250px;
    grid-template-areas: "a";
    justify-content: center;
}

h4 {
    grid-area: a;
    justify-self: start;
    padding-left: 0px;
}


/* profile */
.content-writer-profile {
    display: grid;
	grid-template-columns: 200px 200px;
	grid-template-rows: 100px 100px;
	grid-template-areas: 
		"a b" 
		"a c";
	justify-content: center;
	grid-column-gap: 50px;
	grid-row-gap: 10px;
	padding-top: 45px;
	padding-bottom: 40px;
}

.content-writer-profile .content-writer-img {
    grid-area: a;
    justify-self: center;
}

.content-writer-profile img {
	width: 200px;
	border: 1px solid #d3d3d3;
    border-radius: 50%;
}

.content-writer-profile .content-writer-name {
    grid-area: b;
    justify-self: start;
	align-self: end;
	font-size: 1em;
	padding-bottom: 10px;
}

.content-writer-profile .content-writer-subscribe {
    grid-area: c;
	justify-self: start;
	align-self: start;
	font-size: 1em;
	padding-top: 10px
}


/* profile : Modify & Remove Btn */
.modifyPageBtn {
    border: 1px solid #424242;
    background-color: white;
    padding: 15px;
    margin-right: 5px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 10px;
    color: #424242;
    width : 80px;
}

.modifyPageBtn:hover {
    background-color: #1d8bf1;
    border: 1px solid #1d8bf1;
    color: white;
}

.removePageBtn {
    border: 1px solid #d3d3d3;
    background-color: #d3d3d3;
    padding: 15px;
    font-size: 1em; 
    cursor: pointer;
    border-radius: 10px;
    color: white;
    width : 100px;
}

.removePageBtn:hover {
    background-color: #f44336;
    border: 1px solid #f44336;
    color: white;
}


/* contents */
.contents {
	text-align: center;
}

.contents .comic {
    text-align: center;
}

.contents .comic img{
	width: 1200px;	
}


/* thumb css */
.evaluate {
    display: grid;
    grid-template-columns: 60px 20px 30px 60px 20px;
    grid-template-rows: 70px;
    grid-template-areas: 
    	"a b . c d";
    justify-items: center;
    align-items: center;
    justify-content: center;
    padding-top: 80px;
    padding-bottom: 80px;
    grid-column-gap: 20px;
    font-size: 1em;
}

.evaluate .evaluate-pencil {
    grid-area: a;
}

.evaluate .evaluate-no-1 {
    grid-area: b;
}

.evaluate .evaluate-eraser {
    grid-area: c;
}

.evaluate .evaluate-no-2 {
    grid-area: d;
}

.evaluate img {
    width: 50px;
    padding-left: 20px;
}


/* Comic-information */
.comic-infor {
    display: grid;
    grid-template-columns: 400px 400px;
    grid-template-rows: 35px 35px 35px 35px 70px;
    grid-template-areas: 
	    "a b" 
	    "a c" 
	    "a d" 
	    "a e" 
	    "a f";
    justify-content: center;
    justify-items: start;
    align-items: center;
    grid-column-gap: 50px;
    padding-top: 50px;
    padding-bottom: 20px;
    font-size: 1em;
}

.comic-infor span {
    padding: 10px;
}

.comic-infor .comic-thumbnail {
    grid-area: a;
    justify-self: end;
}

.comic-infor .comic-thumbnail img {
	width: 200px;
	border: 1px solid #d3d3d3;
    border-radius: 10px;
}

.comic-infor .comic-title {
    grid-area: b;
    font-weight: bold;
}

.comic-infor .comic-time {
    grid-area: c;
}

.comic-infor .comic-time img {
    width: 20px;
    vertical-align: middle;
}

.comic-infor .comic-view {
    grid-area: d;
}

.comic-infor .comic-view img {
    width: 20px;
    vertical-align: middle;
}

.comic-infor .comic-link {
    grid-area: e;
}

.comic-infor .comic-link img {
    width: 20px;
    vertical-align: middle;
}

.comic-infor .writer-subscribe {
    grid-area: f;
}


/* Comic list : expand */
.list-og-expanded {
    position: absolute;
    background: #fff;
    top: auto;
    left: 0;
    width: 100%;
    margin-top: 10px;
    height: 460px;
    overflow: hidden;
    text-align: center;
}


/* Comic list : content-margin-bottom */
.content-margin-bottom {margin-bottom: 470px !important;}


/* Comic list : left */
.expander-title-inner {
	display: grid;
    grid-template-columns: 330px;
    grid-template-rows: 320px 30px 50px;
    grid-template-areas: 
        "a"
        "b"
        "c";
    justify-content: center;
    justify-items: center;
    align-items: center;
    grid-row-gap: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    float : left;
}

.expander-title-inner .og-fullimg {
    grid-area: a;
}

.expander-title-inner .comic-list-title, .comic-title {
    grid-area: b;
    font-size: 20px;
}

.expander-title-inner .comic-list-genre {
    grid-area: c;
    color: gray;
    font-size: 1em;
}


/* Comic list : right */
.list-readpage-toggle-page {
	width: 850px;
	height: 420px;
	padding-top : 20px;
	padding-bottom : 20px;
	float : left ;
}

.thissubtitleLi a {
    display: grid;
    grid-template-columns: 130px 380px;
    grid-template-rows: 120px;
    grid-template-areas: 
        "a b";
    align-items: center;
    float: left;
}

.list-comic-list {
    grid-area: a;
    justify-self: end;
}

.list-og-expander-inner .comic-list img {
    width: 100px;
    border: 1px solid #d3d3d3;
    border-radius: 10px;
}

.list-comic-list-text {
    grid-area: b;
    justify-self: start;
    word-break: break-all;
    font-size: 1em;
    padding-left: 20px;
}


/* Another Comic */
.cards {
    display: grid;
    grid-template-areas: 
        "a a a a a";
    justify-items: center;
    justify-content: center;
    text-align: center;
}


/* Another comic : expand-inner */
.og-title-register, .og-expander {
    position: absolute;
    background: #fff;
    top: auto;
    left: 0;
    width: 100%;
    margin-top: 10px;
    height: 540px;
    overflow: hidden;
    border-top: 1px solid #d3d3d3;
    border-bottom: 1px solid #d3d3d3;
    box-shadow: 0px 1px 1px 2px rgba(0, 0, 0, 0.05);
    text-align: center;
}


/* Another comic : expand-inner left */
.another-expander-title-inner {
	display: grid;
    grid-template-columns: 330px;
    grid-template-rows: 320px 40px 40px;
    grid-template-areas: 
        "a"
        "b"
        "c";
    justify-content: center;
    justify-items: center;
    align-items: center;
    grid-row-gap: 10px;
    padding-top: 70px;
    padding-bottom: 50px;
    float : left;
}


/* Another comic : expand-inner right */
.another-toggle-page{
	width: 850px;
	height: 420px;
	padding-top : 70px;
	padding-bottom : 50px;
	float : left ;
}

.subtitleLi a {
    display: grid;
    grid-template-columns: 170px 255px;
    grid-template-rows: 120px;
    grid-template-areas: 
        "a b";
    align-items: center;
    font-size: 1em;
    float: left;
}


/* Another comic : pagination */
.toggle-page .pagination{
	display: inline-block !important;
	position: absolute;
    bottom: 18px;
    right: 1000px;
}


/* Another comic : margin-bottom */
.margin-bottom {margin-bottom: 535px !important;}


/* Comic-comment */
.comic-infor-comment {
    display: grid;
    grid-template-columns: 1100px;
    grid-template-areas: "a";
    justify-content: center;
}

.comic-infor-comment .comic-comment {
    grid-area: a;
    justify-self: start;
    padding-top: 25px;
    padding-bottom: 50px;
}


/* Comment css */
.comment {
    display: grid;
    grid-template-columns: 1050px 80px;
    grid-template-areas: "a b";
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.comment-text {
    grid-area: a;
    justify-self: center;
    width: 1010px;
    padding: 15px;
    font-size: 1em;
    border-bottom: 1px solid gray;
    border-radius: 10px;
}


.comment button {
    grid-area: b;
    width: 80px;
    border: 1px solid white;
    background : white;
}

.comment img {
    width: 30px;
    background-color: white;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
}


/* Another comment */
.another-comment {
    display: grid;
    grid-template-columns: 60px 1050px;
    grid-template-areas:
    	"a b"
    	". c"
    	". d";
    justify-items: center;
    align-items: center;
    justify-content: center;
    grid-gap: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.another-comment .another-user-image {
    grid-area: a;
}

.another-comment .another-user-image img {
    width: 40px;
}

.another-comment .another-user-name {
    grid-area: b;
    justify-self: start;
}

.another-comment .another-user-time {
    font-size: 14px;
    color: gray;
}

.another-comment .another-comment-modify {
    grid-area: b;
    justify-self: end;
    padding-right: 20px;
}

.another-comment .another-comment-modify img {
    width: 20px;
}

.another-comment textarea {
    grid-area: c;
    width: 1000px;
    justify-self: start;
    word-wrap: break-word;
}

.another-comment .another-comment-thumb {
    grid-area: d;
    justify-self: start;
    padding-left: 10px;
}

.another-comment .another-comment-thumb img {
    width: 20px;
}

.another-comment .another-comment-thumb span {
    padding: 10px;
    vertical-align: 20%;
}

.another-comment .another-comment-more {
    grid-area: d;
    justify-self: start;
    padding-left: 180px;
    font-size: 14px;
    color: gray;
}

textarea{
	resize: none;
}


/* Another comment : Replay profile */
.reply-profile-img-button img {
	border: 1px solid #d3d3d3;
	border-radius: 50%;
}

.reply-profile-img-button{
    border: 0px;
    border-radius: 50%;
    background-color: white;
}

.reply-profile-name-button {
	background: white;
	border: 1px solid white;
	color: black;
	font-size: 1em;
}

/* Footer */
.footer {
    width: 100%;
    height: 200px;
}


/* Media query */
/* iPad Pro-12.9 landscape */
@media only screen and (max-width: 1366px) and (orientation: landscape) {
/* hr */
	hr {width: 95%;}
	
	
/* Comic list : expand */
	.list-og-expanded {height: 400px;}


/* Comic list : content-margin-bottom */
	.content-margin-bottom {margin-bottom: 430px !important;}

	
/* Comic list : left */
	.expander-title-inner {
	    grid-template-columns: 270px;
	    grid-template-rows: 270px 40px 60px;
	    grid-row-gap: 5px;
	    padding-top: 20px;
	    padding-bottom: 20px;
	    float : left;
	}
	
	
/* Comic list : right */
	.list-readpage-toggle-page {
		width: 510px;
		height: 380px;
		padding-left: 40px;
		padding-top : 20px;
		padding-bottom : 20px;
		overflow: scroll;
	}
	
	.thissubtitleLi a {
	    grid-template-columns: 130px 380px;
	    grid-template-rows: 120px;
	}	
	
	
/* Another comic : og-expander */	
	.og-title-register, .og-expander {height: 480px;}

	
/* Another comic : expand-inner left */
	.another-expander-title-inner {
	    grid-template-columns: 270px;
	    grid-template-rows: 270px 40px 60px;
	    grid-row-gap: 5px;
	    padding-top: 50px;
	}
	
	.og-fullimg img {
		width: 250px;
	}
	
	
/* Another comic : expand-inner -right */
	.toggle-page{
		grid-template-columns: 510px;
		grid-template-rows: 120px;
		width: 510px;
		height: 380px;
		padding-left: 50px;
		padding-top: 50px;
		padding-bottom: 50px;
		overflow: scroll;
	}
	
	.subtitleLi a{
	    grid-template-columns: 130px 380px;
	    grid-template-rows: 120px;
	}
	
	
/* Another comic : Margin-bottom */
	.margin-bottom {
		margin-bottom: 475px !important;
	}	
	
/* Comment css */
	.comment {
	    grid-template-columns: 1080px 80px;
	}
	
	.comment-text {
	    width: 1040px;
	}	
}

/* iPad Pro-10.5 landscape */
@media only screen and (max-width: 1112px) and (orientation: landscape) {
/* Subtitle h4 css */
	.strapline {
	    padding-top: 30px;
	    grid-template-columns: 970px;
	}
	
	h4 {
	    padding-left: 0;
	}		


/* Main-cards-expander-inner : cards-right */
	.toggle-page{
		padding-left: 40px;
	}
	
	
/* Contents */
	.contents .comic img{
		width: 100%;	
	}
	
	
/* Comic-comment */
	.comic-infor-comment {
	    grid-template-columns: 900px;
	}	
	

/* Another Comic */
	.cards {
	    grid-template-areas: 
	        "a a a a";
	}
	
/* Comment css */
	.comment {
	    grid-template-columns: 850px 80px;
	}
	
	.comment-text {
	    width: 810px;
	}
}

/* iPad Pro-9.7 landscape */
@media only screen and (max-width: 1024px) and (orientation: landscape) {
/* Subtitle h4 css */
	.strapline {
	    grid-template-columns: 950px;
	}	


/* Comic-comment */
	.comic-infor-comment {
	    grid-template-columns: 800px;
	}

/* Comment css */
	.comment {
	    grid-template-columns: 840px 80px;
	}
	
	.comment-text {
	    width: 800px;
	}	
}

/* iPad Pro-12.9 portrait */
@media only screen and (max-width: 1024px) and (orientation: portrait) {
/* hr */
	hr {
	    width: 95%;
	}
	

/* Subtitle h4 css */
	.strapline {
	    grid-template-columns: 950px;
	}
	
	h4 {
	    padding-left: 0;
	}		

	
/* Contents */
	.contents .comic img{
		width: 100%;	
	}
	

/* Comic-comment */
	.comic-infor-comment {
	    grid-template-columns: 900px;
	}	


/* Comic list : expand */
	.list-og-expanded {height: 400px;}


/* Comic list : content-margin-bottom */
	.content-margin-bottom {margin-bottom: 430px !important;}

	
/* Comic list : left */
	.expander-title-inner {
	    grid-template-columns: 270px;
	    grid-template-rows: 270px 40px 60px;
	    grid-row-gap: 5px;
	    padding-top: 20px;
	    padding-bottom: 20px;
	    float : left;
	}
	
	
/* Comic list : right */
	.list-readpage-toggle-page {
		width: 510px;
		height: 380px;
		padding-left: 40px;
		padding-top : 20px;
		padding-bottom : 20px;
		overflow: scroll;
	}
	
	.thissubtitleLi a {
	    grid-template-columns: 130px 380px;
	    grid-template-rows: 120px;
	}	
	
	
/* Another comic : og-expander */	
	.og-title-register, .og-expander {height: 480px;}

	
/* Another comic : expand-inner left */
	.another-expander-title-inner {
	    grid-template-columns: 270px;
	    grid-template-rows: 270px 40px 60px;
	    grid-row-gap: 5px;
	    padding-top: 50px;
	}
	
	.og-fullimg img {
		width: 250px;
	}
	
	
/* Another comic : expand-inner -right */
	.toggle-page{
		grid-template-columns: 510px;
		grid-template-rows: 120px;
		width: 510px;
		height: 380px;
		padding-left: 50px;
		padding-top: 50px;
		padding-bottom: 50px;
		overflow: scroll;
	}
	
	.subtitleLi a{
	    grid-template-columns: 130px 380px;
	    grid-template-rows: 120px;
	}
	
	
/* Another comic : Margin-bottom */
	.margin-bottom {
		margin-bottom: 475px !important;
	}	

/* Another Comic */
	.cards {
	    grid-template-areas: 
	        "a a a a";
	}
	
/* Comment css */
	.comment {
	    grid-template-columns: 850px 80px;
	    padding-top: 20px;
	    padding-bottom: 20px;
	}
	
	.comment-text {
		justify-self: center;
	    width: 810px;
	}		
}

/* iPad Pro-10.5 portrait */
@media only screen and (max-width: 834px) and (orientation: portrait) {
/* Subtitle h4 css */
	.strapline {
	    grid-template-columns: 750px;
	}

/* Comic-comment */
	.comic-infor-comment {
	    grid-template-columns: 700px;
	}
	
	
/* Comic list : right */
	.list-readpage-toggle-page {
		width: 440px;
		padding-left: 30px;
	}
	
	.thissubtitleLi a {
	    grid-template-columns: 120px 320px;
	}	
	
	
/* Another comic : expand-inner -right */
	.toggle-page{
		grid-template-columns: 440px;
		padding-left: 30px;
		width: 440px;
	}
	
	.subtitleLi a{
	    grid-template-columns: 120px 320px;
	}
	
	
/* Another comic : Margin-bottom */
	.margin-bottom {
		margin-bottom: 475px !important;
	}			


/* Another Comic */
	.cards {
	    grid-template-areas: 
	        "a a a";
	}
	
	
/* Comment css */
	.comment {
	    grid-template-columns: 630px 80px;
	}
	
	.comment-text {
	    width: 590px;
	}	
}

/* iPhone - X landscape : complete */
@media only screen and (max-width: 812px) and (orientation: landscape) {
/* subtitle h4 css */
	.strapline {
	    grid-template-columns: 750px;
	}


/* Profile */
	.content-writer-profile {
		grid-template-columns: 170px 170px;
		grid-template-rows: 75px 75px;
		grid-column-gap: 30px;
		grid-row-gap: 10px;
		padding-top: 30px;
		padding-bottom: 20px;
	}

	.content-writer-profile img {
		width: 150px;
	}


/* Profile : Modify & Remove Btn */
	.modifyPageBtn {
		padding-right: 5px;
	    padding-top: 15px;
	    padding-left: 5px;
	    padding-bottom: 15px;
	    width : 70px;
	}
	
	.removePageBtn {
		padding-right: 5px;
	    padding-top: 15px;
	    padding-left: 5px;
	    padding-bottom: 15px;
	    width : 90px;
	}
	
/* Profile : subscribe : complete */	
	.subscribe {
	    width: 150px;
	}
		
	
/* Thumb css : complete */
	.evaluate {
	    grid-template-columns: 50px 20px 50px 20px;
	    grid-template-areas: "a b c d";
	    grid-template-rows: 60px;
	    padding-top: 30px;
	    padding-bottom: 30px;
	}
	
	.evaluate img {
	    width: 40px;
	    padding-left: 20px;
	}
	
/* Comic-information : complete */
	.comic-infor {
	    grid-template-columns: 160px 200px;
	    grid-template-rows: 35px 35px 35px 35px 70px;
	    grid-column-gap: 20px;
	    padding-top: 30px;
	}
	
	
	.comic-infor .comic-thumbnail img {
		width: 150px;
	}
	
	
/* Comic-comment */
	.comic-infor-comment {
	    grid-template-columns: 700px;
	}	
	

/* Comic list : expand */
	.list-og-expanded {height: 310px;}


/* Comic list : content-margin-bottom */
	.content-margin-bottom {margin-bottom: 340px !important;}

	
/* Comic list : left */
	.expander-title-inner {
	    grid-template-columns: 200px;
	    grid-template-rows: 180px 40px 60px;
	    grid-row-gap: 5px;
	    padding-top: 20px;
	    padding-bottom: 20px;
	    float : left;
	}
	
	
/* Comic list : right */
	.list-readpage-toggle-page {
		width: 400px;
		height: 290px;
		padding-left: 20px;
		padding-top : 20px;
		padding-bottom : 20px;
		overflow: scroll;
	}
	
	.thissubtitleLi a {
	    grid-template-columns: 120px 280px;
	    grid-template-rows: 120px;
	}	
	
	
/* Another comic : og-expander */	
	.og-title-register, .og-expander {height: 350px;}

	
/* Another comic : expand-inner left */
	.another-expander-title-inner {
	    grid-template-columns: 200px;
	    grid-template-rows: 180px 40px 60px;
	    grid-row-gap: 5px;
	    padding-top: 30px;
	    padding-bottom: 30px;
	}
	
	.og-fullimg img {
		width: 160px;
	}
	
	
/* Another comic : expand-inner -right */
	.toggle-page{
		grid-template-columns: 400px;
		width: 410px;
		height: 290px;
		justify-items: center;
		padding-left: 20px;
		padding-top: 30px;
		padding-bottom: 30px;
	}
	
	.subtitleLi a{
	    grid-template-columns: 120px 280px;
	    grid-template-rows: 120px;
	}
	
	
/* Another comic : Margin-bottom */
	.margin-bottom {
		margin-bottom: 345px !important;
	}	
	
	
/* Comment css */
	.comment {
	    grid-template-columns: 660px 80px;
	}
	
	.comment-text {
	    width: 620px;
	}		
}

/* iPad Pro-9.7 portrait */
@media only screen and (max-width: 768px) and (orientation: portrait) {
/* Subtitle h4 css */
	.strapline {
	    grid-template-columns: 700px;
	}
	
/* Comic-information */
	.comic-infor {
	    grid-template-columns: 350px 350px;
	}	


/* Comic-comment */
	.comic-infor-comment {
	    grid-template-columns: 650px;
	}
	
	
/* Comic list : right */
	.list-readpage-toggle-page {
		width: 420px;
		padding-left: 20px;
	}
	
	.thissubtitleLi a {
	    grid-template-columns: 120px 300px;
	}	
	
	
/* Another comic : expand-inner -right */
	.toggle-page{
		grid-template-columns: 420px;
		padding-left: 20px;
		width: 420px;
	}
	
	.subtitleLi a{
	    grid-template-columns: 120px 300px;
	}		
	
	
	
/* Comment css */
	.comment {
	    grid-template-columns: 610px 80px;
	}
	
	.comment-text {
	    width: 570px;
	}		
	
}

/* iPhone - 6+/7+/8+  landscape : complete */
@media only screen and (max-width: 736px) and (orientation:  landscape) {
/* Subtitle h4 css : complete */
	.strapline {
	    grid-template-columns: 670px;
	}

/* Comic-comment : complete */
	.comic-infor-comment {
	    grid-template-columns: 640px;
	}
	
/* Another Comic : complete */
	.cards {
	    grid-template-areas: 
	        "a a a";
	}	
	
/* Comment css : complete */
	.comment {
	    grid-template-columns: 540px 80px;
	}
	
	.comment-text {
	    width: 500px;
	}			
}

/* iPhone - 6/7/8/ landscape : complete */
@media only screen and (max-width: 667px) and (orientation: landscape) {
/* Subtitle h4 css : complete */
	.strapline {
	    grid-template-columns: 600px;
	}

/* Comic-comment : complete */
	.comic-infor-comment {
	    grid-template-columns: 560px;
	}
	
	
/* Comment css : complete */
	.comment {
	    grid-template-columns: 490px 80px;
	}
	
	.comment-text {
	    width: 450px;
	}
}

/* iPhone - 5/SE/5S  landscape */
@media only screen and (max-width: 568px) and (orientation:  landscape) {
	
}

/* iPhone - 6+/7+/8+ portrait : complete */
@media only screen and (max-width: 414px) and (orientation: portrait) {
/* subtitle h4 css : complete */
	.strapline {
		padding-top: 10px;
	    grid-template-columns: 380px;
	}


/* Profile : complete */
	.content-writer-profile {
		grid-template-columns: 170px 170px;
		grid-template-rows: 75px 75px;
		grid-column-gap: 20px;
		grid-row-gap: 10px;
		padding-top: 30px;
		padding-bottom: 20px;
	}

	.content-writer-profile img {
		width: 150px;
	}


/* Profile : Modify & Remove Btn : complete */
	.modifyPageBtn {
		padding-right: 5px;
	    padding-top: 15px;
	    padding-left: 5px;
	    padding-bottom: 15px;
	    width : 70px;
	}
	
	.removePageBtn {
		padding-right: 5px;
	    padding-top: 15px;
	    padding-left: 5px;
	    padding-bottom: 15px;
	    width : 90px;
	}
	
/* Profile : subscribe : complete */	
	.subscribe {
	    width: 150px;
	}
	
	
/* Thumb css : complete */
	.evaluate {
	    grid-template-columns: 50px 20px 50px 20px;
	    grid-template-areas: "a b c d";
	    grid-template-rows: 60px;
	    padding-top: 30px;
	    padding-bottom: 30px;
	}
	
	.evaluate img {
	    width: 40px;
	    padding-left: 20px;
	}
	
	
/* Comic-information : complete */
	.comic-infor {
	    grid-template-columns: 160px 200px;
	    grid-template-rows: 35px 35px 35px 35px 70px;
	    grid-column-gap: 10px;
	    padding-top: 30px;
	}
	
	
	.comic-infor .comic-thumbnail img {
		width: 150px;
	}
	
/* Comic-comment : complete */
	.comic-infor-comment {
	    grid-template-columns: 330px;
	}


/* Comic list : expand : complete */
	.list-og-expanded {height: 480px;}


/* Comic list : content-margin-bottom : complete */
	.content-margin-bottom {margin-bottom: 490px !important;}

	
/* Comic list : left : complete */
	.expander-title-inner {
	    grid-template-columns: 160px 170px;
	    grid-template-rows: 60px 100px;
	    grid-template-areas: 
		    "a b"
		    "a c";
		grid-column-gap: 10px;
	    padding-top: 20px;
	    padding-bottom: 10px;
	    width: 410px;
	    border-bottom: 1px solid #d3d3d3;
	}
	
	
/* Comic list : right : complete */
	.list-readpage-toggle-page {
		grid-template-columns: 390px;
		grid-template-rows: 120px;
		width: 390px;
		height: 250px;
		justify-items: center;
		padding-left: 20px;
		padding-top : 20px;
		padding-bottom : 20px;
		overflow: scroll;
	}
	
	.thissubtitleLi a {
	    grid-template-columns: 120px 250px;
	    grid-template-rows: 120px;
	}	
	

/* Another Comic : complete */
	.cards {
	    grid-template-areas: 
	        "a a";
	}	
	
/* Another comic : Margin-bottom : complete */
	.margin-bottom {margin-bottom: 495px !important;}

	
/* Another comic : og-expander : complete */	
	.og-title-register, .og-expander {height: 500px;}

	
/* Another comic : expand-inner left : complete */
	.another-expander-title-inner {
	    grid-template-columns: 160px 170px;
	    grid-template-rows: 60px 100px;
	    grid-template-areas: 
		    "a b"
		    "a c";
		grid-column-gap: 10px;
	    padding-top: 30px;
	    padding-bottom: 10px;
	    width: 410px;
	    border-bottom: 1px solid #d3d3d3;
	}
	
	.og-fullimg img {
		width: 160px;
	}
	
	
/* Another comic : expand-inner right : complete */
	.toggle-page{
		grid-template-columns: 410px;
		grid-template-rows: 120px;
		width: 410px;
		height: 250px;
		justify-items: center;
		padding-left: 20px;
		padding-top: 10px;
		padding-bottom: 30px;
	}
	
	.subtitleLi a{
	    grid-template-columns: 120px 250px;
	    grid-template-rows: 120px;
	}

/* Comment css : complete */
	.comment {
	    grid-template-columns: 290px 70px;
	}
	
	.comment-text {
	    width: 250px;
	}	
}


/* iPhone - 6/7/8/X portrait : complete */
@media only screen and (max-width: 375px) and (orientation: portrait) {
/* subtitle h4 css : complete */
	.strapline {
	    grid-template-columns: 350px;
	}	


/* Comic list : expand :  */
	.list-og-expanded {height: 480px;}


/* Comic list : content-margin-bottom :  */
	.content-margin-bottom {margin-bottom: 490px !important;}

	
/* Comic list : left :  */
	.expander-title-inner {
	    grid-template-columns: 160px 160px;
	    width: 370px;
	}
	
/* Comic list : right :  */
	.list-readpage-toggle-page {
		grid-template-columns: 370px;
		width: 370px;
		padding-left: 0;
	}
	
	.thissubtitleLi a {
	    grid-template-columns: 120px 250px;
	    grid-template-rows: 120px;
	}	
	
/* Another comic : expand-inner left :  */
	.another-expander-title-inner {
	    grid-template-columns: 160px 160px;
	}
	
/* Another comic : expand-inner right :  */
	.toggle-page{
		grid-template-columns: 370px;
		width: 370px;
		padding-left: 0;
	}	
	
/* Comment css : complete */
	.comment {
	    grid-template-columns: 280px 70px;
	}
	
	.comment-text {
	    width: 240px;
	}		
}

/* iPad Pro-5/SE/5S portrait */
@media only screen and (max-width: 320px) and (orientation: portrait) {
	
}