* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Nanum Gothic', sans-serif;
    font-family: 'Quicksand', sans-serif;
    box-sizing: border-box;
    background-color: white;
    overflow-y: scroll;
    font-size: 15px;
}

a:visited {color: black;}

.important-img{
	display: inline-block !important;
}

/* Dropdown Button */
.dropbtn {
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown-content */
.dropdown-contents {
    display: block;
    position: absolute;
    background-color: white;
/*     height: 0px; */
    width: 100%;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
    z-index: 10000;
/*     transition: height 0.3s; */
    overflow: hidden;
}

.dropdown-contents a {
    color: black;
/*     padding: 12px 16px; */
    text-decoration: none;
    display: block;
}

.dropdown-contents a:hover {
    background-color: #f1f1f1
}


.notice::-webkit-scrollbar {
        width: 0 !important;
}

.dropdown-searchBar-01::-webkit-scrollbar {
        width: 0 !important;
        height: 0 !important;
}

/* Dropdown menu */
.search {
	display: block;
	height: 180px;
}
.notice {
	display: block; 
/*     height: 400px; */
    overflow-y: scroll;
}

.notice-height {
	height: 401px;
}
/* .mypage {display: block; height: 320px;} */
/* .forgot {display: block; height: 170px;} */
/* .signup {display: block; height: 390px;} */
/* .mypage-wrong {display: block; height: 367px;} */


/* Dropdown-content : search */
.dropdown-searchBar-01 {
    display: grid;
    grid-template-columns: 58px 91px 93px 88px 68px 95px 122px 71px 78px 95px;
    grid-template-rows: 40px 40px;
    grid-template-areas: 
        "c d e f g h i j k l"
        "m n o p q r s t u v";
    justify-content: center;
    align-items: center;
    grid-row-gap: 10px;
	grid-column-gap: 10px;
    padding-top: 20px;
    padding-bottom: 5px;
    overflow-x: scroll;
}

.dropdown-searchBar-01 .dropdown-genre-01 {grid-area: c;}
.dropdown-searchBar-01 .dropdown-genre-02 {grid-area: d;}
.dropdown-searchBar-01 .dropdown-genre-03 {grid-area: e;}
.dropdown-searchBar-01 .dropdown-genre-04 {grid-area: f;}
.dropdown-searchBar-01 .dropdown-genre-05 {grid-area: g;}
.dropdown-searchBar-01 .dropdown-genre-06 {grid-area: h;}
.dropdown-searchBar-01 .dropdown-genre-07 {grid-area: i;}
.dropdown-searchBar-01 .dropdown-genre-08 {grid-area: j;}
.dropdown-searchBar-01 .dropdown-genre-09 {grid-area: k;}
.dropdown-searchBar-01 .dropdown-genre-10 {grid-area: l;}
.dropdown-searchBar-01 .dropdown-genre-11 {grid-area: m;}
.dropdown-searchBar-01 .dropdown-genre-12 {grid-area: n;}
.dropdown-searchBar-01 .dropdown-genre-13 {grid-area: o;}
.dropdown-searchBar-01 .dropdown-genre-14 {grid-area: p;}
.dropdown-searchBar-01 .dropdown-genre-15 {grid-area: q;}
.dropdown-searchBar-01 .dropdown-genre-16 {grid-area: r;}
.dropdown-searchBar-01 .dropdown-genre-17 {grid-area: s;}
.dropdown-searchBar-01 .dropdown-genre-18 {grid-area: t;}
.dropdown-searchBar-01 .dropdown-genre-19 {grid-area: u;}
.dropdown-searchBar-01 .dropdown-genre-20 {grid-area: v;}
.dropdown-searchBar-01 span {
    padding: 10px;
    border-radius: 5px;
}

.dropdown-searchBar-02 {
    display: grid;
    grid-template-columns: 900px 50px;
    grid-template-rows: 40px;
    grid-template-areas: 
        "a b";
    justify-content: center;
    padding-top: 5px;
    padding-bottom: 20px;
}

.dropdown-searchBar-02 .searchBar {
    grid-area: a;
    align-self: center;
    padding: 10px;
    font-size: 15px;
    border: 1px solid gray;
    border-radius: 5px;
    width: 870px;
}

.dropdown-searchBar-02 .searchBar-button {
    grid-area: b;
    justify-self: center;
    width: 40px;
    background-color: white;
    border: 1px solid white;
}
.searchBar-button-img {
	width: 30px;
}

.dropdown-genre-01 .false,
.register-genre-input1 .false {
    border: 2px solid #f15941;
}

.dropdown-genre-01 .true,
.register-genre-input1 .true {
    background-color: #f15941;
    border: 2px solid #f15941;
    color: white;
}

.dropdown-genre-02 .false,
.register-genre-input2 .false {
    border: 2px solid #f58346;
}

.dropdown-genre-02 .true,
.register-genre-input2 .true {
    border: 2px solid #f58346;
    background-color: #f58346;
    color: white;
}

.dropdown-genre-03 .false,
.register-genre-input3 .false {
    border: 2px solid #faa74a;
}

.dropdown-genre-03 .true,
.register-genre-input3 .true {
    border: 2px solid #faa74a;
    background-color: #faa74a;
    color: white;
}

.dropdown-genre-04 .false,
.register-genre-input4 .false {
    border: 2px solid #fecd50;
}

.dropdown-genre-04 .true,
.register-genre-input4 .true {
    border: 2px solid #fecd50;
    background-color: #fecd50;
    color: white;
}

.dropdown-genre-05 .false,
.register-genre-input5 .false {
    border: 2px solid #fcdd00;
}

.dropdown-genre-05 .true,
.register-genre-input5 .true {
    border: 2px solid #fcdd00;
    background-color: #fcdd00;
    color: white;
}

.dropdown-genre-06 .false,
.register-genre-input6 .false {
    border: 2px solid #d4e15b;
}

.dropdown-genre-06 .true,
.register-genre-input6 .true {
    border: 2px solid #d4e15b;
    background-color: #d4e15b;
    color: white;
}

.dropdown-genre-07 .false,
.register-genre-input7 .false {
    border: 2px solid #a2d062;
}

.dropdown-genre-07 .true,
.register-genre-input7 .true {
    border: 2px solid #a2d062;
    background-color: #a2d062;
    color: white;
}

.dropdown-genre-08 .false,
.register-genre-input8 .false {
    border: 2px solid #6cc167;
}

.dropdown-genre-08 .true,
.register-genre-input8 .true {
    border: 2px solid #6cc167;
    background-color: #6cc167;
    color: white;
}

.dropdown-genre-09 .false,
.register-genre-input9 .false {
    border: 2px solid #1bb26c;
}

.dropdown-genre-09 .true,
.register-genre-input9 .true {
    border: 2px solid #1bb26c;
    background-color: #1bb26c;
    color: white;
}

.dropdown-genre-10 .false,
.register-genre-input10 .false {
    border: 2px solid #1aa789;
}

.dropdown-genre-10 .true,
.register-genre-input10 .true {
    background-color: #1aa789;
    color: white;
}

.dropdown-genre-11 .false,
.register-genre-input11 .false {
    border: 2px solid #1d9c9d;
}

.dropdown-genre-11 .true,
.register-genre-input11 .true {
    border: 2px solid #1d9c9d;
    background-color: #1d9c9d;
    color: white;
}

.dropdown-genre-12 .false,
.register-genre-input12 .false {
    border: 2px solid #1d90b3;
}

.dropdown-genre-12 .true,
.register-genre-input12 .true {
    border: 2px solid #1d90b3;
    background-color: #1d90b3;
    color: white;
}

.dropdown-genre-13 .false,
.register-genre-input13 .false {
    border: 2px solid #2385c6;
}

.dropdown-genre-13 .true,
.register-genre-input13 .true {
    border: 2px solid #2385c6;
    background-color: #2385c6;
    color: white;
}

.dropdown-genre-14 .false,
.register-genre-input14 .false {
    border: 2px solid #406ab3;
}

.dropdown-genre-14 .true,
.register-genre-input14 .true {
    border: 2px solid #406ab3;
    background-color: #406ab3;
    color: white;
}

.dropdown-genre-15 .false,
.register-genre-input15 .false {
    border: 2px solid #524fa2;
}

.dropdown-genre-15 .true,
.register-genre-input15 .true {
    border: 2px solid #524fa2;
    background-color: #524fa2;
    color: white;
}

.dropdown-genre-16 .false,
.register-genre-input16 .false {
    border: 2px solid #7c51a2;
}

.dropdown-genre-16 .true,
.register-genre-input16 .true {
    border: 2px solid #7c51a2;
    background-color: #7c51a2;
    color: white;
}

.dropdown-genre-17 .false,
.register-genre-input17 .false {
    border: 2px solid #a154a1;
}

.dropdown-genre-17 .true,
.register-genre-input17 .true {
    border: 2px solid #a154a1;
    background-color: #a154a1;
    color: white;
}

.dropdown-genre-18 .false,
.register-genre-input18 .false {
    border: 2px solid #b55589;
}

.dropdown-genre-18 .true,
.register-genre-input18 .true {
    border: 2px solid #b55589;
    background-color: #b55589;
    color: white;
}

.dropdown-genre-19 .false,
.register-genre-input19 .false {
    border: 2px solid #ca5774;
}

.dropdown-genre-19 .true,
.register-genre-input19 .true {
    border: 2px solid #ca5774;
    background-color: #ca5774;
    color: white;
}

.dropdown-genre-20 .false,
.register-genre-input20 .false {
    border: 2px solid #da595d;
}

.dropdown-genre-20 .true,
.register-genre-input20 .true {
    border: 2px solid #da595d;
    background-color: #da595d;
    color: white;
}

.dropdown-searchBar span,
.og-title-register-inner span,
.genre-input span {
    padding: 10px;
    margin-left: 15px;
    border-radius: 10px;
    color: black;
}


/* dropdown-content img { */
/* .dropdown-contents img { */
/*     width: 30px; */
/* } */


/* Dropdown-content : notify */
.notifyDeleteAll {
	display: grid;
	justify-content: center;
	grid-template-columns: 500px;
	grid-template-areas: "a";
	font-size: 15px;
	justify-items: end;
	padding-top: 10px;
	padding-bottom: 10px;
}

.notifyLi a{
	display: grid;    
    grid-template-columns: 15px 55px 380px 20px;
    grid-template-rows: 40px 30px;
    grid-template-areas: 
	    "d a b e" 
	    "d a c e";
    grid-gap: 10px;
    justify-content: center;
    align-items: center;
    justify-items: center;
}

.cursor {
    cursor: pointer;
}

.notifyLi a .img {
	grid-area: a;
    justify-self: center;
    align-self: center;
}

.notifyLi a .notifyThumbnail {
	width: 50px;
    align-self: center;
    border : 1px solid #d3d3d3;
    border-radius: 50%;
}

.notifyLi a .text{
	grid-area: b;
    justify-self: start;
    /* padding-top: 20px; */
    align-self: center;
}

.notifyLi a .time {
	grid-area: c;
    justify-self: start;
    align-self: start;
    font-size: 13px;
    color: darkgray;
    /* padding-bottom: 20px; */
}

.notifyLi a .notify-list-read {
	color: red;
	grid-area: d;
}

.notifyLi a .notifyDelete {
	color: lightgray;
	font-size: 25px;
	grid-area: e;
}

.notifyLi a .notifyDelete:hover {
	color: black;
	font-size: 25px;
	grid-area: e;
}


/* Dropdown-content : notify clear */
.no-notifyLi{
	display: grid;
	grid-template-rows: 150px 50px;
	grid-template-areas: 
        "a" 
        "b" ;
	grid-gap: 30px;
	padding: 80px;
	justify-content: center;
    justify-items: center;
    align-items: center;
}

.no-notifyLi .no-notifyLi-img {
	grid-area: a;
	width: 150px;	
}

.no-notifyLi .no-notifyLi-text{
	grid-area: b;
	color: #adadad;
	font-size: 20px;
}



/* Dropdown-content : mypage */
.dropdown-mypage {
    display: grid;
    grid-template-columns: 400px;
    grid-template-rows: 37px 15px 37px 37px 37px 20px 37px;
    grid-template-areas: 
        "a" 
        "b" 
        "c" 
        "d" 
        "e"
        "f"
        "g";
    justify-content: center;
    grid-gap: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.dropdown-mypage .login-id {
    grid-area: a;
}

.dropdown-mypage .remember {
    grid-area: b;
    font-size: 15px;
    padding-left: 5px;
    color: gray;
}

.dropdown-mypage span {
    padding: 3px;
}

.dropdown-mypage .login-pw {
    grid-area: c;
}

.dropdown-mypage .login-id, .login-pw {
    padding: 10px;
    font-size: 15px;
    border: 1px solid gray;
    border-radius: 5px;
}

.dropdown-mypage .login-button {
    grid-area: d;
    border: 1px solid #489ad8;
    background-color: #489ad8;
    font-size: 15px;
    border-radius: 5px;
    color: white;
}

.dropdown-mypage .signupBtn {
    grid-area: e;
    justify-self: start;
}

.dropdown-mypage .forgotBtn {
    grid-area: e;
    justify-self: end;
}
 
.dropdown-mypage .signupBtn, .forgotBtn {
	width: 175px;
    font-size: 15px;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid gray;
    background-color: white;
    color: gray;
}

.dropdown-mypage .hr-text {
  line-height: 1em;
  position: relative;
  outline: 0;
  border: 0;
  color: black;
  text-align: center;
}

.dropdown-mypage .signup-or {
    grid-area: f;
}

.dropdown-mypage .signup-or {
    text-align: center;
    font-size: 15px;
    color: gray;
}

.dropdown-mypage h1 span {
    background-color: #fff;
    font-size: 15px;
    padding: 10px;
}

.dropdown-mypage h1::after {
    display: block;
    content: "";
    border: 0.5px solid #d3d3d3;
    margin-top: -0.5em;
}

.dropdown-mypage .signup-facebook {
    grid-area: g;
    justify-self: end;
    border: 1px solid #507dbd;
    background-color: white;
    color: #507dbd;
}

.dropdown-mypage .signup-google {
    grid-area: g;
    justify-self: start;
    border: 1px solid #dd4b39;
    background-color: white;
    color: #dd4b39;
}

.signup-google, .signup-facebook {
    ffont-size: 15px;
    text-align: center;
    padding-top: 10px;
    width: 195px;
    border-radius: 5px;
}

/* Dropdown-content : forgot */
.dropdown-forgot {
    display: grid;
    grid-template-columns: 400px;
    grid-template-rows: 37px 37px 37px;
    grid-template-areas: 
	    "a" 
	    "b" 
	    "c";
    justify-content: center;
    grid-gap: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.dropdown-forgot .signup-email {
	grid-area: a;
}

.dropdown-forgot input {
	padding: 10px;
    font-size: 15px;
    border: 1px solid gray;
    border-radius: 5px;
}

.check-please{
	border: 1px solid #f95e3a !important;
}

.check-ok{
	border: 1px solid #489ad8 !important;
}

.dropdown-forgot .send-email {
    grid-area: b;
    border: 1px solid #489ad8;
    background-color: #489ad8;
    color: white;
}

.dropdown-forgot .cancel-btn {
    grid-area: c;
    border: 1px solid gray;
    background-color: white;
    color: gray;
}

.dropdown-forgot button {
	padding: 10px;
	font-size: 15px;
	border-radius: 5px;
}
 
/* Dropdown-content : wrong */
.dropdown-wrong {
    display: grid;
    grid-template-columns: 400px;
    grid-template-rows: 37px 15px 37px 37px 37px 37px 20px 37px;
    grid-template-areas: 
        "a" 
        "b" 
        "c" 
        "d" 
        "e"
        "f"
        "g"
        "h";
    justify-content: center;
    grid-gap: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.dropdown-wrong .login-id {
    grid-area: a;
}

.dropdown-wrong .remember {
    grid-area: b;
    font-size: 15px;
    padding-left: 5px;
    color: gray;
}

.dropdown-wrong span {
    padding: 3px;
}

.dropdown-wrong .login-pw {
    grid-area: c;
}

.dropdown-wrong  .wrong {
	grid-area: d;
	font-size: 13px;
	color: red;
	padding-left: 10px;
}

.dropdown-wrong .login-id, .login-pw {
    padding: 10px;
    font-size: 15px;
    border: 1px solid gray;
    border-radius: 5px;
}

.dropdown-wrong .login-button {
    grid-area: e;
    border: 1px solid #489ad8;
    background-color: #489ad8;
    font-size: 15px;
    border-radius: 5px;
    color: white;
}

.dropdown-wrong .signupBtn {
    grid-area: f;
    justify-self: start;
}

.dropdown-wrong .forgotBtn {
    grid-area: f;
    justify-self: end;
}
 
.dropdown-wrong .signupBtn, .forgotBtn {
	width: 175px;
    font-size: 15px;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid gray;
    background-color: white;
    color: gray;
}

.dropdown-wrong .hr-text {
  line-height: 1em;
  position: relative;
  outline: 0;
  border: 0;
  color: black;
  text-align: center;
}

.dropdown-wrong .signup-or {
    grid-area: g;
}

.dropdown-wrong .signup-or {
    text-align: center;
    font-size: 15px;
    color: gray;
}

.dropdown-wrong h1 span {
    background-color: #fff;
    font-size: 15px;
    padding: 10px;
}

.dropdown-wrong h1::after {
    display: block;
    content: "";
    border: 0.5px solid #d3d3d3;
    margin-top: -0.5em;
}

.dropdown-wrong .signup-facebook {
    grid-area: h;
    justify-self: end;
    border: 1px solid #507dbd;
    background-color: white;
    color: #507dbd;
}

.dropdown-wrong .signup-google {
    grid-area: h;
    justify-self: start;
    border: 1px solid #dd4b39;
    background-color: white;
    color: #dd4b39;
}

.signup-google, .signup-facebook {
    ffont-size: 15px;
    text-align: center;
    padding-top: 10px;
    width: 195px;
    border-radius: 5px;
}


/* Dropdown-content : forgot */
.dropdown-forgot {
    display: grid;
    grid-template-columns: 400px;
    grid-template-rows: 37px 37px 37px;
    grid-template-areas: 
	    "a" 
	    "b" 
	    "c";
    justify-content: center;
    grid-gap: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.dropdown-forgot .signup-email {
	grid-area: a;
}

.dropdown-forgot input {
	padding: 10px;
    font-size: 15px;
    border: 1px solid gray;
    border-radius: 5px;
}

.check-please{
	border: 1px solid #f95e3a !important;
}

.check-ok{
	border: 1px solid #489ad8 !important;
}

.dropdown-forgot .send-email {
    grid-area: b;
    border: 1px solid #489ad8;
    background-color: #489ad8;
    color: white;
}

.dropdown-forgot .cancel-btn {
    grid-area: c;
    border: 1px solid gray;
    background-color: white;
    color: gray;
}

.dropdown-forgot button {
	padding: 10px;
	font-size: 15px;
	border-radius: 5px;
}


/* Dropdown-content signup */
.dropdown-signup {
    display: grid;
    grid-template-columns: 400px;
    grid-template-rows: 37px 37px 37px 37px 37px 37px 20px 37px;
    grid-template-areas: 
	    "a" 
	    "b" 
	    "c" 
	    "d" 
	    "e" 
	    "f" 
	    "g" 
	    "h";
    justify-content: center;
    grid-gap: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.dropdown-signup .signup-email {
	grid-area: a;
}

.dropdown-signup .signup-pw {
	grid-area: b;
}

.dropdown-signup .signup-repw {
	grid-area: c;
}

.dropdown-signup .signup-nickname {
	grid-area: d;
}

.dropdown-signup .signup-email, .signup-pw, .signup-repw, .signup-nickname {
    padding: 10px;
    font-size: 15px;
    border: 1px solid gray;
    border-radius: 5px;
}

.check-please{
	border: 1px solid #f95e3a !important;
}

.check-ok{
	border: 1px solid #489ad8 !important;
}

.dropdown-signup .signup-button {
    grid-area: e;
    border: 1px solid #489ad8;
    background-color: #489ad8;
    color: white;
}

.dropdown-signup .hadaccount-button {
    grid-area: f;
    justify-self: start;
}

.dropdown-signup .forgotBtn {
    grid-area: f;
    justify-self: end;
}
 
.dropdown-signup .hadaccount-button, .forgotBtn {
	width: 175px;
    font-size: 15px;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid gray;
    background-color: white;
    color: gray;
}

.dropdown-signup .signup-button, .hadaccount-button {
    font-size: 1em;
    text-align: center;
    border-radius: 5px;
}

.dropdown-signup .signup-or {
    grid-area: g;
    text-align: center;
    font-size: 15px;
    color: gray;
}

.dropdown-signup h1 span {
    background-color: #fff;
    font-size: 15px;
    padding: 10px;
}

.dropdown-signup h1::after {
    display: block;
    content: "";
    border: 0.5px solid #d3d3d3;
    margin-top: -0.5em;
}

.dropdown-signup .signup-facebook {
    grid-area: h;
    justify-self: end;
    border: 1px solid #507dbd;
    background-color: white;
    color: #507dbd;
}

.dropdown-signup .signup-google {
    grid-area: h;
    justify-self: start;
    border: 1px solid #dd4b39;
    background-color: white;
    color: #dd4b39;
}



/* Header css */
.header {
    display: grid;
    grid-template-columns: 150px auto 60px 60px 60px;
    grid-template-rows: 50px;
    grid-template-areas: 
        "a . b c d";
    border-bottom: 1px solid black;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-right: 20px;
    padding-left: 20px;
}

.header .brand {grid-area: a;}
.header .noticeBtn {grid-area: b;}
.header .searchBtn {grid-area: c;}
.header .accountBtn {grid-area: d;}
.header .signupBtn {grid-area: d;}
.header .forgotBtn {grid-area: d;}

.header .brand, .searchBtn, .genreBtn, .noticeBtn, .accountBtn {
    justify-self: center;
    align-self: center;
}

.header img {
    width: 30px;
}

.profile-img-button{
	display: inline;
    border: 0px;
    border-radius: 50%;
    background-color: white;
}

.profile-img-button img{
	display: inline-block !important;
}

.header .accountBtn img {
	border: 1px solid #d3d3d3;
	border-radius: 50%;
}

.header .brand img {
	width: 150px;
}

.default-button-style {
	background: white;
	border: 1px solid white;
	color: black;
	font-size: 1em;
}

.default-button-style img{
	display: inline-block !important;
}

/* Subscribe Btn */
.subscribe {
    border: 2px solid #f44336;
    background-color: white;
    padding: 10px;
    font-size: 15px;
    cursor: pointer;
    border-radius: 5px;
    color: red;
    width : 170px;
}

.subscribe:hover {
    background: #f44336;
    color: white;
}

.subscribed, #btn-subscribedCount {
    border: 2px solid #f44336;
    padding: 10px;
    font-size: 15px;
    cursor: pointer;
    border-radius: 5px;
    background: #f44336;
    color: white;
    width : 170px;
}

.subscribed:hover {
	border: 2px solid gray;
    background: gray;
    color: white;
}


/* Media query */

/* iPad Pro-12.9 landscape : Complete */
@media only screen and (max-width: 1366px) and (orientation: landscape) {
/* Show the dropdown menu */
	/* .mypage {height: 320px;}
	.signup {height: 389px;}
	.forgot {height: 170px;} */	
	
/* Show the dropdown menu */	
	.search {height: 190px;}

	   
/* Dropdown-content : search */
    .dropdown-searchBar-01 {
        grid-template-columns: 58px 92px 94px 89px 66px 96px 122px 70px 79px 110px;
	    grid-template-rows: 42px 42px;
        justify-content: center;        
	    grid-gap: 10px;
	    padding-top: 20px;
	    padding-bottom: 15px;
	    overflow-x: scroll;
    }
    
    .dropdown-searchBar-01 span {
        padding: 10px;
    }
    
    .dropdown-searchBar-02 {
        grid-template-columns: 925px 40px;
        grid-template-rows: 37px;
        padding-top: 5px;
        padding-bottom: 20px;
    }
    
    .dropdown-contents img {
	    width: 25px;
	}
        
    .dropdown-searchBar-02 .searchBar-button {
	    width: 30px;
	}
	
	.dropdown-searchBar-02 .searchBar {
	    border-radius: 5px;
	    padding: 10px;
	    width: 895px;
	}
    
    
/* Dropdown-content : notice */
    .dropdown-notice {
        grid-template-columns: 400px;
    }

    .dropdown-notice .text-01, .text-02, .text-03, .text-04, .text-05, .text-06 {
    	font-size: 15px;
        justify-self: start;
        padding-left: 70px;
        width: 430px;
        word-break: break-all;
        align-self: start;
    }

    .dropdown-notice .time-01, .time-02, .time-03, .time-04, .time-05, .time-06 {
        justify-self: end;
        align-self: end;
        font-size: 12px;
        padding-bottom: 5px;
    }

    .dropdown-notice img {
        width: 25px;
    }


/* Dropdown-content : mypage */
    .dropdown-mypage {
        grid-template-columns: 300px;
        grid-template-rows: 37px 15px 37px 37px 37px 20px 37px;
        grid-row-gap: 10px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    
    .dropdown-mypage .login-id, .login-pw {
	    padding: 10px;
	    border-radius: 5px;
	    height: 16px;
	}
	
	.dropdown-mypage .login-button {
	    border-radius: 5px;
	    height: 38px;
	}
    	
	.dropdown-mypage .signupBtn, .forgotBtn {
		width: 123px;
	    padding: 10px;
	    border-radius: 5px;
	}
	
	.dropdown-mypage .signup-or {
	    font-size: 15px;
	}
	
	.dropdown-mypage span {
	    font-size: 13px;
	}
	
	.dropdown-mypage h1 span {
	    font-size: 11px;
	}
		
	.dropdown-mypage .signup-google, .signup-facebook {
	    padding-top: 10px;
	    border-radius: 5px;
	    width: 143px;
	}	
	
	
/* Dropdown-content forgot */	
	.dropdown-forgot {
	    grid-template-columns: 300px;
	    grid-template-rows: 37px 37px 37px;
	    justify-content: center;
	    grid-gap: 10px;
	    padding-top: 20px;
	    padding-bottom: 20px;
	}		
	
	.dropdown-forgot input {
	    padding: 10px;
	    border-radius: 5px;
	}
	
	.dropdown-forgot button {
	    padding: 10px;
	    border-radius: 5px;
	}
    
    
/* Dropdown-content signup */
    .dropdown-signup {
        grid-template-columns: 300px;
        grid-template-rows: 37px 37px 37px 37px 37px 37px 20px 37px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    
    .dropdown-signup .signup-email, .signup-pw, .signup-repw, .signup-nickname {
	    padding: 10px;
	    font-size: 15px;
	    border: 1px solid gray;
	    border-radius: 5px;
	}
    
    .dropdown-signup .signup-button {
    	border-radius: 5px;
        width: 300px;
    }
	
	.dropdown-signup .hadaccount-button, .forgotBtn {
		width: 123px;
	    padding: 10px;
	    border-radius: 5px;
	}
	
	.dropdown-signup .signup-or {
	    font-size: 15px;
	}
	
	.dropdown-signup h1 span {
	    font-size: 11px;
	}

    .dropdown-signup .signup-google, .signup-facebook {
	    padding-top: 10px;
	    border-radius: 5px;
	    width: 143px;
	}   
	
/* Dropdown-content : wrong */
	.dropdown-wrong {
	    grid-template-columns: 300px;
	    grid-template-rows: 37px 15px 37px 47px 37px 37px 20px 37px;
	}
	
	.dropdown-wrong  .wrong {
		font-size: 13px;
	}
	
	.dropdown-wrong .hr-text {
	  line-height: 13px;
	}
	
	.dropdown-wrong .signupBtn, .forgotBtn {
		width: 123px;
	    padding: 10px;
	    border-radius: 5px;
	}
	
	.dropdown-wrong .signup-google {
	    padding-top: 10px;
	    width: 143px;
	}
	
	.signup-google, .signup-facebook {
	    padding-top: 10px;
	    width: 143px;
	}	
	
	
/* Header */
    .header {
        grid-template-columns: 120px auto 50px 50px 50px;
        grid-template-rows: 40px;
        padding-top: 10px;
        padding-bottom: 5px;
        padding-right: 5px;
        padding-left: 5px;
    }
	
    .header img {width: 25px;}
    .header .brand img {width: 100px;}
    
/* Subscribe button */	
	.subscribe {
	    padding: 10px;
	    font-size: 15px;
	    width: 145px;
	} 
	
	.subscribed, #btn-subscribedCount {
	    font-size: 15px;
	    width : 145px;
	}
}


/* iPad Pro-10.5 landscape : Complete */
@media only screen and (max-width: 1112px) and (orientation: landscape) {
	
}


/* iPad Pro-12.9 portrait : Complete */
@media only screen and (max-width: 1024px) and (orientation: portrait) {	
/* Show the dropdown menu */
	.search {height: 190px;}
	
	/* .mypage {height: 320px;}
	.signup {height: 389px;}
	.forgot {height: 170px;} */


/* Dropdown-content : notice */
    .dropdown-notice {
        grid-template-columns: 400px;
    }
	
	
/* Dropdown-content : search */
    .dropdown-searchBar-01 {
        grid-template-columns: 58px 92px 94px 89px 66px 96px 122px 70px 79px 110px;
	    grid-template-rows: 42px 42px;
        justify-content: center;        
	    grid-gap: 10px;
	    padding-top: 20px;
	    padding-bottom: 15px;
	    overflow-x: scroll;	    
    }
    
    .dropdown-searchBar-01 span {
        padding: 10px;
        border-radius: 5px;
    }
    
    .dropdown-searchBar-02 {
        grid-template-columns: 925px 40px;
        grid-template-rows: 37px;
        padding-top: 5px;
        padding-bottom: 20px;
    }
    
    .dropdown-contents img {
	    width: 25px;
	}
	
	.dropdown-searchBar-02 .searchBar-button {
	    width: 30px;
	}
	
	.dropdown-searchBar-02 .searchBar {
	    border-radius: 5px;
	    padding: 10px;
	    width: 895px;
	}
	
	
/* Dropdown mypage */
    .dropdown-mypage {
        grid-template-columns: 300px;
        grid-template-rows: 37px 15px 37px 37px 37px 20px 37px;
        grid-row-gap: 10px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    
    .dropdown-mypage .login-id, .login-pw {
	    padding: 10px;
	    border-radius: 5px;
	    height: 16px;
	}
	
	.dropdown-mypage .login-button {
	    border-radius: 5px;
	    height: 38px;
	}
    	
	.dropdown-mypage .signupBtn, .forgotBtn {
		width: 123px;
	    padding: 10px;
	    border-radius: 5px;
	}
	
	.dropdown-mypage .signup-or {
	    font-size: 15px;
	}
	
	.dropdown-mypage h1 span {
	    font-size: 11px;
	}
	
	.dropdown-mypage span {
	    font-size: 13px;
	}
		
	.dropdown-mypage .signup-google, .signup-facebook {
	    padding-top: 10px;
	    border-radius: 5px;
	    width: 143px;
	}	
	

/* Dropdown-content forgot */	
	.dropdown-forgot {
	    grid-template-columns: 300px;
	    grid-template-rows: 37px 37px 37px;
	    justify-content: center;
	    grid-gap: 10px;
	    padding-top: 20px;
	    padding-bottom: 20px;
	}		
	
	.dropdown-forgot input {
	    padding: 10px;
	    border-radius: 5px;
	}
	
	.dropdown-forgot button {
	    padding: 10px;
	    border-radius: 5px;
	}
    
/* Dropdown-content signup */
    .dropdown-signup {
        grid-template-columns: 300px;
        grid-template-rows: 37px 37px 37px 37px 37px 37px 20px 37px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    
    .dropdown-signup .signup-email, .signup-pw, .signup-repw, .signup-nickname {
	    padding: 10px;
	    border: 1px solid gray;
	    border-radius: 5px;
	}
    
    .dropdown-signup .signup-button {
    	border-radius: 5px;
        width: 300px;
    }
	
	.dropdown-signup .hadaccount-button, .forgotBtn {
		width: 123px;
	    padding: 10px;
	    border-radius: 5px;
	}
	
	.dropdown-signup .signup-or {
	    font-size: 15px;
	}
	
	.dropdown-signup h1 span {
	    font-size: 11px;
	}

    .dropdown-signup .signup-google, .signup-facebook {
	    padding-top: 10px;
	    border-radius: 5px;
	    width: 143px;
	}   

/* Dropdown-content : wrong */
	.dropdown-wrong {
	    grid-template-columns: 300px;
	    grid-template-rows: 37px 15px 37px 47px 37px 37px 20px 37px;
	}
	
	.dropdown-wrong  .wrong {
		font-size: 13px;
	}
	
	.dropdown-wrong .hr-text {
	  line-height: 13px;
	}
	
	.dropdown-wrong .signupBtn, .forgotBtn {
		width: 123px;
	    padding: 10px;
	    border-radius: 5px;
	}
	
	.dropdown-wrong .signup-google {
	    padding-top: 10px;
	    width: 143px;
	}
	
	.signup-google, .signup-facebook {
	    padding-top: 10px;
	    width: 143px;
	}		
    
/* Header */
    .header {
        display: grid;
        grid-template-columns: 120px auto 50px 50px 50px;
        grid-template-rows: 40px;
        grid-template-areas: "a . b c d";
        border-bottom: 1px solid black;
        padding-top: 10px;
        padding-bottom: 5px;
        padding-right: 5px;
        padding-left: 5px;
    }
    
    .header img {width: 25px;}
    .header .brand img {width: 100px;}
    
/* Subscribe button */	
	.subscribe {
	    padding: 10px;
	    font-size: 15px;
	    width: 145px;
	} 
	
	.subscribed, #btn-subscribedCount {
	    font-size: 15px;
	    width : 145px;
	}
}


/* iPad Pro-9.7 landscape : Complete */
@media only screen and (max-width: 1024px) and (orientation: landscape) {
} 

/* iPad Pro-10.5 portrait : Complete */
@media only screen and (max-width: 834px) and (orientation: portrait) {
/* Dropdown-content : search */
    .dropdown-searchBar-01 {
        padding-left: 20px;
        justify-content: start;  
    }
    
    .dropdown-searchBar-02 {
        grid-template-columns: 755px 40px;
    }
	
	.dropdown-searchBar-02 .searchBar {
	    width: 725px;
	}
}


/* iPhone - X landscape */
@media only screen and (max-width: 812px) and (orientation: landscape) {	
	.search {
	    height: 180px;
	}
	
	/* Dropdown-content : notify */
	.notifyDeleteAll {
		grid-template-columns: 355px;
		font-size: 13px;
	}
	
	.notifyLi a{   
	    grid-template-columns: 15px 40px 270px 15px;
    	grid-template-rows: 35px 30px;
	}
	
	.notifyLi a .notifyThumbnail {
		width: 30px;
	}
	
	.notifyLi a .text{
	    font-size: 13px;
	}
	
	.notifyLi a .time {
	    font-size: 13px;
	}
	
	.notifyLi a .notifyDelete {
		font-size: 20px;
	}
	
	
/* Dropdown-content : notify clear */	
	.no-notifyLi{
	    grid-template-columns: 100px;
	    grid-template-rows: 60px 20px;
	    justify-content: center;
	    justify-items: center;
	    align-items: center;
	    grid-gap: 10px;
	    padding: 20px;	    
	}
	
	.no-notifyLi .no-notifyLi-img {
		width: 50px;	
	}
	
	.no-notifyLi .no-notifyLi-text{
		font-size: 13px;
	}	
	
/* Dropdown-content : search */
    .dropdown-searchBar-01 {
    	grid-template-columns: 53px 83px 84px 83px 63px 88px 109px 65px 71px 104px;
    	grid-template-rows: 37px 37px;
        padding-left: 20px;
        justify-content: start;  
        font-size: 13px;
    }
    
    .dropdown-searchBar-02 {
        grid-template-columns: 731px 40px;
    }
	
	.dropdown-searchBar-02 .searchBar {
	    width: 701px;
	    font-size: 13px;
	}
	
	.dropdown-contents img {
	    width: 20px;
	}
	
/* Dropdown-content : account */	
	.dropdown-mypage .login-id, .login-pw {
	    font-size: 13px;
	}
	
	.dropdown-mypage .login-button {
	    font-size: 13px;
	}
	
	.dropdown-mypage .signupBtn, .forgotBtn {
	    font-size: 13px;
	}
	
	.signup-google, .signup-facebook {
	    font-size: 13px;
	}
	
	
/* Dropdown-content : sign-up */
	.dropdown-signup .signup-email, .signup-pw, .signup-repw, .signup-nickname {
	    font-size: 13px;
	}

	.dropdown-signup .signup-button, .hadaccount-button {
	    font-size: 13px;
	}	

	.dropdown-signup .hadaccount-button, .forgotBtn {
	    font-size: 13px;
	}
	
/* Dropdown-content : forgot */	
	.dropdown-forgot input {
	    font-size: 13px;
	}
	
	.dropdown-forgot button {
	    font-size: 13px;
	}
	
/* Dropdown-content : wrong */	
	.dropdown-wrong  .wrong {
		font-size: 12px;
	}	

	
/* Header */
    .header {
        grid-template-columns: 120px auto 35px 35px 35px;
    }
	
    .header img {width: 20px;}	

	
/* Subscribe button */	
	.subscribe {
	    padding: 5px;
	    font-size: 13px;
	    width: 120px;
	}	
	
	.subscribed, #btn-subscribedCount {
	    padding: 5px;
	    font-size: 13px;
	    width: 120px;
	}	
}


/* iPad Pro-9.7 portrait */
@media only screen and (max-width: 768px) and (orientation: portrait) {
/* Dropdown-content : search */
    .dropdown-searchBar-02 {
        grid-template-columns: 688px 40px;
    }
	
	.dropdown-searchBar-02 .searchBar {
	    width: 658px;
	}	
}


/* iPhone - 6+/7+/8+ landscape : Complete */
@media only screen and (max-width: 736px) and (orientation:  landscape) {	
/* Dropdown-content : search */
    .dropdown-searchBar-02 {
        grid-template-columns: 656px 40px;
    }
	
	.dropdown-searchBar-02 .searchBar {
	    width: 626px;
	}			
}


/* iPhone - 6/7/8/X landscape : Complete */
@media only screen and (max-width: 667px) and (orientation: landscape) {
/* Dropdown-content : search */
    .dropdown-searchBar-02 {
        grid-template-columns: 586px 40px;
    }
	
	.dropdown-searchBar-02 .searchBar {
	    width: 556px;
	}
}


/* iPhone - 5/SE/5S landscape */
@media only screen and (max-width: 568px) and (orientation: landscape) {
	
}

/* iPhone - 6+/7+/8+ portrait : Complete */
@media only screen and (max-width: 414px) and (orientation: portrait) {
	* {
		font-size: 13px;
	}
	
	.search {
	    height: 180px;
	}
	
/* Dropdown-content : notify */
	.notifyDeleteAll {
		grid-template-columns: 355px;
		font-size: 13px;
	}
	
	.notifyLi a{   
	    grid-template-columns: 15px 40px 270px 15px;
    	grid-template-rows: 35px 30px;
	}
	
	.notifyLi a .notifyThumbnail {
		width: 30px;
	}
	
	.notifyLi a .text{
	    font-size: 13px;
	}
	
	.notifyLi a .time {
	    font-size: 13px;
	}
	
	.notifyLi a .notifyDelete {
		font-size: 20px;
	}	

/* Dropdown-content : notify clear */	
	.no-notifyLi{
	    grid-template-columns: 100px;
	    grid-template-rows: 60px 20px;
	    justify-content: center;
	    justify-items: center;
	    align-items: center;
	    grid-gap: 10px;
	    padding: 20px;	    
	}
	
	.no-notifyLi .no-notifyLi-img {
		width: 50px;	
	}
	
	.no-notifyLi .no-notifyLi-text{
		font-size: 13px;
	}	
	
/* Dropdown-content : search */
    .dropdown-searchBar-01 {
    	grid-template-columns: 53px 83px 84px 83px 63px 88px 109px 65px 71px 104px;
    	grid-template-rows: 37px 37px;
        padding-left: 10px;
        justify-content: start;  
        font-size: 13px;
    }
	
	.dropdown-searchBar-02 {
        grid-template-columns: 353px 40px;
    }
	
	.dropdown-searchBar-02 .searchBar {
	    width: 323px;
	    font-size: 13px;
	}
	
	.dropdown-contents img {
	    width: 20px;
	}
	
/* Dropdown-content : account */	
	.dropdown-mypage .login-id, .login-pw {
	    font-size: 13px;
	}
	
	.dropdown-mypage .login-button {
	    font-size: 13px;
	}
	
	.dropdown-mypage .signupBtn, .forgotBtn {
	    font-size: 13px;
	}
	
	.signup-google, .signup-facebook {
	    font-size: 13px;
	}
	
	
/* Dropdown-content : sign-up */
	.dropdown-signup .signup-email, .signup-pw, .signup-repw, .signup-nickname {
	    font-size: 13px;
	}

	.dropdown-signup .signup-button, .hadaccount-button {
	    font-size: 13px;
	}	

	.dropdown-signup .hadaccount-button, .forgotBtn {
	    font-size: 13px;
	}
	
/* Dropdown-content : forgot */	
	.dropdown-forgot input {
	    font-size: 13px;
	}
	
	.dropdown-forgot button {
	    font-size: 13px;
	}	
	
/* Subscribe button */	
	.subscribe {
	    padding: 5px;
	    font-size: 13px;
	    width: 120px;
	}	
	
	.subscribed, #btn-subscribedCount {
	    padding: 5px;
	    font-size: 13px;
	    width: 120px;
	}	
	
/* Dropdown-content : wrong */	
	.dropdown-wrong  .wrong {
		font-size: 12px;
	}		

/* Header */
    .header {
        grid-template-columns: 120px auto 35px 35px 35px;
    }
	
    .header img {width: 20px;}			
	
}


/* iPhone - 6/7/8/X portrait : Complete */
@media only screen and (max-width: 375px) and (orientation: portrait) {
/* Dropdown-content : search */ 	
	.dropdown-searchBar-02 {
        grid-template-columns: 314px 40px;
    }
	
	.dropdown-searchBar-02 .searchBar {
	    width: 284px;
	}
}


/* iPhone - 5/SE/5S portrait */
@media only screen and (max-width: 320px) and (orientation: portrait) {
	
}