@charset "UTF-8";
body {
  margin: 0; }

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

.image-grid {
  width: 100%;
  overflow: hidden;
  }

.image__layout{
	padding : 5px;}	

.image__cell {
  float: left;
  position: relative; 
  /* padding : 0px; */}
  
  @media screen and (min-width: 799px) {
    .image__cell {
      width: 25%; }
      .image__cell:nth-of-type(4n+2) .image--expand {
        margin-left: -100%; }
      .image__cell:nth-of-type(4n+3) .image--expand {
        margin-left: -200%; }
      .image__cell:nth-of-type(4n+4) .image--expand {
        margin-left: -300%; }
      .image__cell:nth-of-type(4n+5) {
        clear: left; } }
  @media screen and (min-width: 537px) and (max-width: 798px) {
    .image__cell {
      width: 33.3333333333%; }
      .image__cell:nth-of-type(3n+2) .image--expand {
        margin-left: -100%; }
      .image__cell:nth-of-type(3n+3) .image--expand {
        margin-left: -200%; }
      .image__cell:nth-of-type(3n+4) {
        clear: left; } }
  @media screen and (min-width: 275px) and (max-width: 536px) {
    .image__cell {
      width: 50%; }
      .image__cell:nth-of-type(2n+2) .image--expand {
        margin-left: -100%; }
      .image__cell:nth-of-type(2n+3) {
        clear: left; } }
  @media screen and (max-width: 274px) {
    .image__cell {
      width: 100%; }
      .image__cell:nth-of-type(1n+2) {
        clear: left; } }
  .image__cell.image--basic {
    cursor: pointer; }
  .image__cell:target .image--expand {
    max-height: 500px;
    margin-bottom: 12px;
    z-index: 100; }
  .image__cell .arrow--up {
    height: 12px;
    width: 100%; }
  .image__cell:target .arrow--up {
    border-bottom: 9px solid #222;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    height: 0;
    width: 0;
    padding-top: 3px;
    margin: 0 auto 0;
    opacity: 1;
    transition: opacity 0.225s;
    transition-delay: 0.3s; }

.image--basic {
  position: relative; }

.image__cell:target .expand-close {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

.arrow--left, .arrow--right {
  color: #fff;
  text-decoration: none;
  position: absolute;
  top: 50%;
  margin-top: -40px;
  font-size: 80px;
  line-height: 80px;
  color: #454545;
  opacity: 0; }
  .arrow--left:hover,
  .arrow--right:hover {
    color: #fff; }
  .image__cell:target .arrow--left,
  .image__cell:target .arrow--right {
    opacity: 1;
    transition: opacity 0.225s;
    transition-delay: 0.3s; }

.arrow--left {
  left: 0;
  padding-left: 12px; }
  .arrow--left:before {
    content: '‹'; }

.arrow--right {
  right: 0;
  padding-right: 12px; }
  .arrow--right:before {
    content: '›'; }

.arrow--up {
  opacity: 0; }

.image--basic {
  padding: 0px; }

.basic__img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto; }

.image--expand {
  position: relative;
  left: 0px;
  padding: 0px;
  margin-bottom: 12px;
  box-sizing: content-box;
  overflow: hidden;
  background: clear;
  max-height: 0;
  transition: max-height 0.3s ease-in-out, margin-bottom 0.12s ease-in-out; }
  @media screen and (min-width: 799px) {
    .image--expand {
      width: 400%; } }
  @media screen and (min-width: 537px) and (max-width: 798px) {
    .image--expand {
      width: 300%; } }
  @media screen and (min-width: 275px) and (max-width: 536px) {
    .image--expand {
      width: 200%; } }
  @media screen and (max-width: 274px) {
    .image--expand {
      width: 100%; } }
  .image__cell .image--expand {
    margin-bottom: 0; }

.expand__close {
  position: absolute;
  top: 12px;
  right: 24px;
  color: #454545;
  font-size: 50px;
  line-height: 50px;
  text-decoration: none; }
  .expand__close:before {
    content: '×'; }
  .expand__close:hover {
    color: #fff; }

.image--large {
  max-width: 100%;
  height: auto;
  display: block;
  padding: 10px;
  margin: 0 auto;
  box-sizing: border-box; }
  
  .image__cell.is-collapsed .arrow--up {
  display: block;
  height: 10px;
  width: 100%;
}

/*# sourceMappingURL=layout2.css.map */
