/*subscribe*/
.cards {
    display: grid;
    grid-template-columns: repeat(10, 230px);
    grid-template-areas: 
        "a b c d e f g h i j" 
        "k l m n o p q r s t";
    justify-items: center;
    justify-content: center;
    grid-row-gap: 25px;
    padding-top: 30px;
    padding-bottom: 50px;
}

.cards a:link {
    text-decoration: none;
    color: black;
}

.cards .cards-01, .cards-02, .cards-03, .cards-04, .cards-05, .cards-06, .cards-07, .cards-08, .cards-09, .cards-10, .cards-11, .cards-12, .cards-13, .cards-14, .cards-15, .cards-16, .cards-17, .cards-18, .cards-19, .cards-20{
    border: 1px solid #d3d3d3;
    border-radius: 5px;
    box-shadow: 0px 1px 1px 2px rgba(0, 0, 0, 0.05);
}

.cards img {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.cards .title, .subtitle {
    text-align: left;
    padding-left: 15px;
    padding-top: 5px;
}

.cards .line {
    text-align: center;
}

.cards .thumbnail-thumb {
    text-align: center;
    padding-top: 5px;
}

.cards .thumbnail-thumb img {
    width: 20px;
}

.cards .thumbnail-thumb span {
    vertical-align: 20%;
}

.cards .thumbnail-writer{
    text-align: left;
    padding-left: 15px;   
    padding-bottom: 5px;
}

.cards .thumbnail-writer img{
    width: 20px;
}

.cards .thumbnail-writer span{
    padding-left: 5px;
    vertical-align: 15%;
}

.cards .thumbnail {
    width: 200px;
}

.cards .thumbnail-thumb span{
    padding: 10px;
}

.cards .cards-01 {
    grid-area: a
}

.cards .cards-02 {
    grid-area: b
}

.cards .cards-03 {
    grid-area: c
}

.cards .cards-04 {
    grid-area: d
}

.cards .cards-05 {
    grid-area: e
}

.cards .cards-06 {
    grid-area: f
}

.cards .cards-07 {
    grid-area: g
}

.cards .cards-08 {
    grid-area: h
}

.cards .cards-09 {
    grid-area: i
}

.cards .cards-10 {
    grid-area: j
}

.cards .cards-11 {
    grid-area: k
}

.cards .cards-12 {
    grid-area: l
}

.cards .cards-13 {
    grid-area: m
}

.cards .cards-14 {
    grid-area: n
}

.cards .cards-15 {
    grid-area: o
}
.cards .cards-16 {
    grid-area: p
}
.cards .cards-17 {
    grid-area: q
}
.cards .cards-18 {
    grid-area: r
}
.cards .cards-19 {
    grid-area: s
}
.cards .cards-20 {
    grid-area: t
}
.cards .cards-21 {
    grid-area: u
}

.cards .cards-22 {
    grid-area: v
}

