/* Mypage - profile */
.mypage-profile {
	display: grid;
	grid-template-columns: 200px 200px;
	grid-template-rows: 100px 100px;
	grid-template-areas: "a b" "a c";
	justify-content: center;
	grid-column-gap: 50px;
	grid-row-gap: 10px;
	padding-top: 45px;
	padding-bottom: 40px;
}

.mypage-profile .mypage-profile-image {
	grid-area: a;
}

.mypage-profile .mypage-profile-subscribe a:link {
	text-decoration: none;
	color: black;
}

.mypage-profile .mypage-profile-image img {
	width: 200px;
	border: 1px solid #d3d3d3;
	border-radius: 50%;
}

.mypage-profile .mypage-profile-name {
	grid-area: b;
	justify-self: start;
	align-self: end;
	font-size: 1em;
	padding-bottom: 10px;
}

.mypage-profile .mypage-profile-subscribe {
	grid-area: c;
	justify-self: start;
	align-self: start;
	font-size: 1em;
	padding-top: 10px;
}

/* Mypage - profile-icon */
.mypage-profile-icon {
	display: grid;
	grid-template-columns: repeat(4, 200px);
	grid-template-rows: 60px;
	grid-template-areas: "a b c d";
	justify-content: center;
	align-items: center;
	justify-items: center;
	padding-top: 10px;
	padding-bottom: 20px;
}

.mypage-profile-icon img {
	width: 30px;
	padding-left: 50px;
	padding-right: 50px;
	padding-bottom: 10px;
}

.mypage-profile-icon .mypage-profile-icon-home {grid-area: a;}
.mypage-profile-icon .mypage-profile-icon-subscribe {grid-area: b;}
.mypage-profile-icon .mypage-profile-icon-subscribed {grid-area: c;}
.mypage-profile-icon .mypage-profile-icon-setting {grid-area: d;}
.mypage-profile-icon a.active {border-bottom: 5px solid red;}


.mypage-profile-icon .mypage-profile-icon-home {
	grid-area: a;
}

.mypage-profile-icon .mypage-profile-icon-subscribe {
	grid-area: b;
}

.mypage-profile-icon .mypage-profile-icon-subscribed {
	grid-area: c;
}

.mypage-profile-icon .mypage-profile-icon-setting {
	grid-area: d;
}

.mypage-profile-icon .active {
	border-bottom: 5px solid red;
}

/* ???? start */
.upload-file-list {
	overflow: auto;
}

.mypage-home-start-image {
	width: 200px;
	padding-top: 70px;
}

.title-register {
	border: 1px solid #d3d3d3;
	border-radius: 10px;
	box-shadow: 0px 1px 1px 2px rgba(0, 0, 0, 0.05);
}

.mypage-home-title {
	font-size: 1em;
	text-align: center;
	padding-top: 25px;
	padding-bottom: 25px;
}

.mypage-thumbnail-thumb {
	text-align: center;
	padding-top: 15px;
	padding-bottom: 25px;
}

.mypage-thumbnail-thumb span {
	vertical-align: 20%;
}

.mypage-thumbnail-thumb img {
	width: 20px;
}

.mypage-thumbnail-thumb span {
	padding: 10px;
}
/* ??? end */

/* subscriber */
.mypage-subscriber {
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 30px;
}

.mypage-subscriber li {
	display: grid;
	grid-template-columns: 80px 200px;
	grid-template-areas: "a b";
	float: left;
	width: 280px;
	align-items: center;
}

.mypage-subscriber-img img {
	width: 50px;
	border: 1px solid #d3d3d3;
	border-radius: 50%;
}

.subscriber-img-button{
	display: inline;
	width: 50px;
	height: 50px;
    border: 0px;
    border-radius: 50%;
    background-color: white;
}

.mypage-subscriber-img {
	grid-area: a;
	justify-self: center;
}

.mypage-subscriber-name {
	grid-area: b;
	word-break: break-all;
	justify-self: start;
}

.mypage-subscriber-name button {
	padding: 10px;
	background: white;
	border: 1px solid white;
	color: black;
	font-size: 1em;
}

.mypage-subscriber a:link {
	color: black;
	text-decoration: none;
}

.mypage-subscriber a:visited {
	color: black;
}

/* Mypage-Setting */

/* Mypage-Setting - login*/
.mypage-setting-id {
	display: grid;
	grid-template-columns: 500px 500px;
	grid-template-areas: 
		"a b";
	justify-content: center;	
	justify-items: center;
	align-items: center;
	height: 80px;
}

.mypage-setting-id .mypage-setting-loginid-text {
	grid-area: a;
}

.mypage-setting-id .mypage-setting-id-switch {
	grid-area: b;
}

.mypage-setting-id .mypage-setting-id-open {
	grid-area: b;
	padding-left: 150px;
}

.mypage-setting-id .mypage-setting-id-close {
	grid-area: b;
	padding-right: 150px;
}

.mypage-setting-id-switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
}

.mypage-setting-id-switch input {
	display: none;
}

.mypage-setting-id-switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
}

.mypage-setting-id-switch input {
	display: none;
}


/* Mypage-Setting - password */
.mypage-setting-pw {
	display: grid;
	grid-template-columns: 500px 500px;
	grid-template-areas: 
		"a b";
	justify-content: center;	
	justify-items: center;
	align-items: center;
	height: 80px;
}

.mypage-setting-pw .mypage-setting-password-title {
	grid-area: a;
}

.mypage-setting-pw .mypage-setting-password-title-button {
	grid-area: b;
}


/* Mypage-Setting - nick */
.mypage-setting-nick {
	display: grid;
	grid-template-columns: 500px 500px;
	grid-template-areas: 
		"a b";
	justify-content: center;	
	justify-items: center;
	align-items: center;
	height: 80px;
}

.mypage-setting-nick .mypage-setting-nickname-title {
	grid-area: a;
}

.mypage-setting-nick .mypage-setting-nickname, .mypage-setting-nickname-input {
	grid-area: b;
	justify-self: center;
}

.mypage-setting-nick .mypage-setting-nickname-button {
	grid-area: b;
	justify-self: center;
	padding-left: 150px;
}


/* Mypage-Setting - profile img */
.mypage-setting-img {
	display: grid;
	grid-template-columns: 500px 500px;
	grid-template-areas: 
		"a b";
	justify-content: center;	
	justify-items: center;
	align-items: center;
	height: 80px;
}

.mypage-setting-img .mypage-setting-profileimage-title {
	grid-area: a;
}

.mypage-setting-img .mypage-setting-profileimage-button {
	grid-area: b;
}

.mypage-setting-img button {
	width: 200px;
	background-color: white;
	border: 1px solid #424242;
	border-radius: 10px;
	padding: 15px;
	font-size: 1em;
	color: #424242;
}

.title-register-complete-btn:hover {
	width: 200px;
	background-color: #1d8bf1;
	border: 1px solid #1d8bf1;
	border-radius: 10px;
	padding: 15px;
	font-size: 1em;
	color: white;
}

.title-register-delete-btn:hover{
    width: 200px;
	background-color: #f44336;
	border: 1px solid #f44336;
	border-radius: 10px;
	padding: 15px;
	font-size: 1em;
	color: white;
}


/* Mypage-Setting - subscribe */
.mypage-setting-subscribe {
	display: grid;
	grid-template-columns: 500px 500px;
	grid-template-areas: 
		"a b";
	justify-content: center;	
	justify-items: center;
	align-items: center;
	height: 80px;
}

.mypage-setting-subscribe .mypage-setting-subscribe-title {
	grid-area: a;
}

.mypage-setting-subscribe .mypage-setting-subscribe-switch {
	grid-area: b;
}

.mypage-setting-subscribe .mypage-setting-subscribe-open {
	grid-area: b;
	padding-left: 150px;
}

.mypage-setting-subscribe .mypage-setting-subscribe-close {
	grid-area: b;
	padding-right: 150px;
}


/* Mypage-Setting - subscriber */
.mypage-setting-subscriber {
	display: grid;
	grid-template-columns: 500px 500px;
	grid-template-areas: 
		"a b";
	justify-content: center;	
	justify-items: center;
	align-items: center;
	height: 80px;
}

.mypage-setting-subscriber .mypage-setting-subscriber-title {
	grid-area: a;
}

.mypage-setting-subscriber .mypage-setting-subscriber-switch {
	grid-area: b;
}

.mypage-setting-subscriber .mypage-setting-subscriber-open {
	grid-area: b;
	padding-left: 150px;
}

.mypage-setting-subscriber .mypage-setting-subscriber-close {
	grid-area: b;
	padding-right: 150px;
}

.mypage-setting-subscribe-switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
}

.mypage-setting-subscribe-switch input {
	display: none;
}

.mypage-setting-subscriber-switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
}

.mypage-setting-subscriber-switch input {
	display: none;
}


/* mypage-setting-genre */
.mypage-setting-genre {
	display: grid;
	grid-template-columns: 500px 500px;
	grid-template-areas: 
		"a b";
	justify-content: center;	
	justify-items: center;
	align-items: center;
	height: 80px;
}

.mypage-setting-genre .mypage-setting-genre-title {
	grid-area: a;
}

.mypage-setting-genre .mypage-setting-genre-switch {
	grid-area: b;
}

.mypage-setting-genre .mypage-setting-genre-open {
	grid-area: b;
	padding-left: 150px;
}

.mypage-setting-genre .mypage-setting-genre-close {
	grid-area: b;
	padding-right: 150px;
}

.mypage-setting-genre-switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
}

.mypage-setting-genre-switch input {
	display: none;
}

.mypage-setting-genre-switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
}

.mypage-setting-genre-switch input {
	display: none;
}


.mypage-setting-genre-list {
	display: grid;
	grid-template-columns: repeat(5, 160px);
	grid-template-rows: repeat(4, 60px);
	grid-template-areas: 
		"a b c d e" 
		"f g h i j" 
		"k l m n o" 
		"p q r s t";
	justify-content: center;
	justify-items: start;
	align-items: center;
	padding-left: 100px;
	grid-column-gap: 0;
	grid-row-gap: 10px;
	padding-bottom: 30px;
}

.mypage-setting-genre-list .genre-1 {grid-area: a;}
.mypage-setting-genre-list .genre-2 {grid-area: b;}
.mypage-setting-genre-list .genre-3 {grid-area: c;}
.mypage-setting-genre-list .genre-4 {grid-area: d;}
.mypage-setting-genre-list .genre-5 {grid-area: e;}
.mypage-setting-genre-list .genre-6 {grid-area: f;}
.mypage-setting-genre-list .genre-7 {grid-area: g;}
.mypage-setting-genre-list .genre-8 {grid-area: h;}
.mypage-setting-genre-list .genre-9 {grid-area: i;}
.mypage-setting-genre-list .genre-10 {grid-area: j;}
.mypage-setting-genre-list .genre-11 {grid-area: k;}
.mypage-setting-genre-list .genre-12 {grid-area: l;}
.mypage-setting-genre-list .genre-13 {grid-area: m;}
.mypage-setting-genre-list .genre-14 {grid-area: n;}
.mypage-setting-genre-list .genre-15 {grid-area: o;}
.mypage-setting-genre-list .genre-16 {grid-area: p;}
.mypage-setting-genre-list .genre-17 {grid-area: q;}
.mypage-setting-genre-list .genre-18 {grid-area: r;}
.mypage-setting-genre-list .genre-19 {grid-area: s;}
.mypage-setting-genre-list .genre-20 {grid-area: t;}

.mypage-setting-genre-list span {
	padding-right: 25px;
    padding-left: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 10px;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
}

input:checked+.slider {
	background-color: #2196F3;
}

input:focus+.slider {
	box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}


/* Rounded sliders */
.slider.round {
	border-radius: 30px;
}

.slider.round:before {
	border-radius: 50%;
}

.mypage-genre-list span {
	padding-left: 10px;
}

/* mypage-setting - confirm */
.mypage-setting-confirm {
	display: grid;
	grid-template-columns: 200px 200px;
	grid-template-areas: 
		"a b";
	grid-column-gap: 15px;
	justify-content: center;	
	justify-items: center;
	align-items: center;
	height: 80px;
}

.mypage-setting-confirm .mypage-setting-confirm-button {
	grid-area: a;
}

.mypage-setting-confirm .mypage-setting-logout-button {
	grid-area: b;
}

.mypage-setting-confirm-button button {
	width: 200px;
	background-color: white;
	border: 1px solid #424242;
	border-radius: 10px;
	padding: 15px;
	font-size: 1em;
	color: #424242;
}	

.mypage-setting-logout-button button {
	width: 200px;
	background-color: white;
	border: 1px solid #424242;
	border-radius: 10px;
	padding: 15px;
	font-size: 1em;
	color: #424242;
}

.mypage-setting-logout-button button:hover {
	width: 200px;
	background-color: #1d8bf1;
	border: 1px solid #1d8bf1;
	border-radius: 10px;
	padding: 15px;
	font-size: 1em;
	color: white;
}
	
.input-change {
	background-color: #1d8bf1 !important;
	border: 1px solid #1d8bf1 !important;
	color: white !important;
}


/* Mypage-setting - hr */
hr {
	width: 880px;
	margin-right: auto;
	margin-left: auto;
}


/* Mypage-setting - input */
.input-text {
	width: 200px;
	background-color: white;
	border: 1px solid #424242;
	border-radius: 10px;
	font-size: 1em;
	color: #424242;
	height: 50px;
	text-align: center;
}


/* Mypage-setting - compony */
.compony {
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: 300px;
	grid-template-areas: "a";
	justify-content: center;
	justify-items: center;
	background-color: dimgray;
	margin-top: 100px;
	bottom: 0;
}

.compony .compony-infor {
	grid-area: a;
	color: white;
	font-size: 1em;
	padding: 50px;
	align-self: center;
}

/*footer*/
.footer {
	width: 100%;
	height: 1000px;
}



/* Media query */
/* iPad Pro-12.9 landscape */
@media only screen and (max-width: 1366px) and (orientation: landscape) {
}


/* iPad Pro-10.5 landscape */
@media only screen and (max-width: 1112px) and (orientation: landscape) {
}


/* iPad Pro-9.7 landscape */
@media only screen and (max-width: 1024px) and (orientation: landscape) {
}


/* iPad Pro-12.9 portrait */
@media only screen and (max-width: 1024px) and (orientation: portrait) {
}

/* iPad Pro-10.5 portrait */
@media only screen and (max-width: 834px) and (orientation: portrait) {
/* Mypage-Setting */
/* Mypage-Setting - login*/
	.mypage-setting-id {
		grid-template-columns: 300px 300px;
	}
	
	
/* Mypage-Setting - password */
	.mypage-setting-pw {
		grid-template-columns: 300px 300px;
	}
	
	
/* Mypage-Setting - nick */
	.mypage-setting-nick {
		grid-template-columns: 300px 300px;
	}
	
	
/* Mypage-Setting - profile img */
	.mypage-setting-img {
		grid-template-columns: 300px 300px;
	}
	
	
/* Mypage-Setting - subscribe */
	.mypage-setting-subscribe {
		grid-template-columns: 300px 300px;
	}
	
	
/* Mypage-Setting - subscriber */
	.mypage-setting-subscriber {
		grid-template-columns: 300px 300px;
	}
	
	
/* mypage-setting - genre */
	.mypage-setting-genre {
		grid-template-columns: 300px 300px;
	}
	
/* Mypage-setting - genre-list */
	.mypage-setting-genre-list {
		grid-template-columns: repeat(4, 165px);
		grid-template-rows: repeat(5, 60px);
		grid-template-areas: 
			"a b c d" 
			"e f g h" 
			"i j k l" 
			"m n o p"
			"q r s t";
		padding-left: 50px;
	}
	
	
/* Mypage-setting - hr */
	hr {
		width:700px;
	}
}


/* iPhone-X landscape  */
@media only screen and (max-width: 812px) and (orientation: landscape) {
/* Mypage - profile-icon */
	.mypage-profile {
		display: grid;
		grid-template-columns: 170px 170px;
		grid-template-rows: 75px 75px;
		grid-template-areas: "a b" "a c";
		justify-content: center;
		grid-column-gap: 30px;
		grid-row-gap: 10px;
		padding-top: 30px;
		padding-bottom: 20px;
	}
		
	.mypage-profile .mypage-profile-image img {
		width: 150px;
	}
	
	.subscribed, #btn-subscribedCount {
		width: 150px;
	}
	
	
/* Mypage - profile-icon */
	.mypage-profile-icon {
		grid-template-columns: repeat(4, 120px);
		grid-template-rows: 50px;
	}
	
	.mypage-profile-icon img {
		width: 25px;
		padding-left: 20px;
		padding-right: 20px;
		padding-bottom: 10px;
	}
		
	
/* Mypage-Setting */
/* Mypage-Setting - login*/
	.mypage-setting-id {
		grid-template-columns: 300px 300px;
	}
	
	
/* Mypage-Setting - password */
	.mypage-setting-pw {
		grid-template-columns: 300px 300px;
	}
	
	
/* Mypage-Setting - nick */
	.mypage-setting-nick {
		grid-template-columns: 300px 300px;
	}
	
	
/* Mypage-Setting - profile img */
	.mypage-setting-img {
		grid-template-columns: 300px 300px;
	}

	
/* Mypage-Setting - subscribe */
	.mypage-setting-subscribe {
		grid-template-columns: 300px 300px;
	}
	
	
/* Mypage-Setting - subscriber */
	.mypage-setting-subscriber {
		grid-template-columns: 300px 300px;
	}
	
	
/* Mypage-setting - genre */
	.mypage-setting-genre {
		grid-template-columns: 300px 300px;
	}
	
	
/* Mypage-setting - genre-list */
	.mypage-setting-genre-list {
		grid-template-columns: repeat(4, 165px);
		grid-template-rows: repeat(5, 60px);
		grid-template-areas: 
			"a b c d" 
			"e f g h" 
			"i j k l" 
			"m n o p"
			"q r s t";
		padding-left: 50px;
	}
	
	
/* Mypage-setting - logout*/
	.mypage-setting-logout {
		grid-template-columns: 300px 700px;
	}
		
	
/* Mypage-setting - confirm */
	.mypage-setting-confirm {
		grid-template-columns: 200px 200px;
	}
		

/* Mypage-setting - hr */
	hr {
		width: 700px;
	}
}


/* iPad Pro-9.7 portrait */
@media only screen and (max-width: 768px) and (orientation: portrait) {
/* Mypage-setting - hr */
	hr {
		width: 660px;
	}
	
}


/* iPhone-6+/7+/8+ landscape */
@media only screen and (max-width: 736px) and (orientation:  landscape) {
}


/* iPhone-6/7/8 landscape  */
@media only screen and (max-width: 667px) and (orientation: landscape) {
/* Mypage-setting - genre-list */
	.mypage-setting-genre-list {
		display: grid;
		grid-template-columns: repeat(4, 160px);
		grid-template-rows: repeat(5, 60px);
		grid-template-areas: 
			"a b c d" 
			"e f g h"
			"i j k l" 
			"m n o p" 
			"q r s t";
		padding-left: 30px;
	}
	
	
/* Mypage-setting - hr */
	hr {
		width: 630px;
	}
}


/* iPhone-5/5S/SE landscape  */
@media only screen and (max-width: 568px) and (orientation:  landscape) {
/* Mypage-setting - genre-list */
	.mypage-setting-genre-list {
		display: grid;
		grid-template-columns: repeat(3, 165px);
		grid-template-rows: repeat(7, 60px);
		grid-template-areas: 
			"a b c" 
			"d e f"
			"g h i" 
			"j k l"
			"m n o" 
			"p q r"
			"s t .";
		padding-left: 40px;
	}
	
	
/* Mypage-setting - hr */
	hr {
		width: 520px;
	}
}


/* iPhone-6+/7+/8+ portrait */
@media only screen and (max-width: 414px) and (orientation: portrait) {
/* Mypage - profile */
	.mypage-profile {
		grid-template-columns: 170px 170px;
		grid-template-rows: 75px 75px;
		grid-column-gap: 20px;
		padding-top: 30px;
		padding-bottom: 20px;
	}
	
	.mypage-profile .mypage-profile-image img {
		width: 150px;
	}
	
	.subscribed, #btn-subscribedCount {
		width: 150px;
	}
	
/* Mypage - profile-icon */
	.mypage-profile-icon {
		grid-template-columns: repeat(4, 100px);
		grid-template-rows: 50px;
	}
	
	.mypage-profile-icon img {
		width: 25px;
		padding-left: 25px;
		padding-right: 25px;
	}
		
		
/* Mypage-Setting */
/* Mypage-Setting - login*/
	.mypage-setting-id {
		grid-template-columns: 150px 200px;
	}
	
	
	.mypage-setting-id .mypage-setting-id-open {
		padding-left: 110px;
	}
	
	.mypage-setting-id .mypage-setting-id-close {
		padding-right: 110px;
	}
	
	.mypage-setting-id-switch {
		width: 50px;
	}
	
	
/* Mypage-Setting - password */
	.mypage-setting-pw {
		grid-template-columns: 150px 200px;
	}
	
	
/* Mypage-Setting - nick */
	.mypage-setting-nick {
		grid-template-columns: 150px 200px;
	}
	
	
/* Mypage-Setting - profile img */
	.mypage-setting-img {
		grid-template-columns: 150px 200px;
	}
	
	.mypage-setting-img button {
		width: 150px;
	}
	
	
/* Mypage-Setting - subscribe */
	.mypage-setting-subscribe {
		grid-template-columns: 150px 200px;
	}
	
	.mypage-setting-subscribe .mypage-setting-subscribe-open {
		padding-left: 110px;
	}
	
	.mypage-setting-subscribe .mypage-setting-subscribe-close {
		padding-right: 110px;
	}
	
	.mypage-setting-subscribe-switch {
		width: 50px;
	}
	
	
/* Mypage-Setting - subscriber */
	.mypage-setting-subscriber {
		grid-template-columns: 150px 200px;
	}
	
	.mypage-setting-subscriber .mypage-setting-subscriber-open {
		padding-left: 110px;
	}
	
	.mypage-setting-subscriber .mypage-setting-subscriber-close {
		padding-right: 110px;
	}
	
	.mypage-setting-subscriber-switch {
		width: 50px;
	}
	
	
/* Mypage-setting - genre */
	.mypage-setting-genre {
		grid-template-columns: 150px 200px;
	}
	
	.mypage-setting-genre .mypage-setting-genre-open {
		padding-left: 110px;
	}
	
	.mypage-setting-genre .mypage-setting-genre-close {
		padding-right: 110px;
	}
	
	.mypage-setting-genre-switch {
		width: 50px;
	}
	
	
/* Mypage-setting - genre-list */
	.mypage-setting-genre-list {
        grid-template-columns: 80px 115px 115px 110px 90px 120px 140px 90px 100px 120px;
        grid-template-rows: 50px 50px;
		grid-template-areas: 
			"a b c d e f g h i j"
			"k l m n o p q r s t";
		justify-content: start;
        align-items: center;
        grid-row-gap: 10px;
        padding-left: 20px;
        padding-top: 5px;
        padding-bottom: 20px;
        overflow: scroll;
	}
	
	.mypage-setting-genre-list span {
		padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 15px;
        padding-right: 15px;
        border-radius: 10px;
	}
	
	
/* Mypage-setting - confirm */
	.mypage-setting-confirm {
		grid-template-columns: 150px 150px;
	}
	
	.mypage-setting-confirm-button button {
		width: 150px;
	}
	
	.mypage-setting-logout-button button {
		width: 150px;
	}	
	
	
/* Mypage-setting - input-text */	
	.input-text {
		width: 150px;
	}
	
	
/* Mypage-setting - switch */
	.slider:before {
		left: 4px;
	}
	
	input:checked+.slider:before {
	-webkit-transform: translateX(16px);
	-ms-transform: translateX(16px);
	transform: translateX(16px);
	}
	
	
/* Mypage-setting - hr */
	hr {
		width: 370px;
	}
}


/* iPhone-6/7/8/X portrait */
@media only screen and (max-width: 375px) and (orientation: portrait) {
/* Mypage - profile-icon */
	.mypage-profile-icon {
		grid-template-columns: repeat(4, 90px);
	}
	
	
/* Mypage-setting - hr */
	hr {
		width: 340px;
	}
}

/* iPhone-5/5S/SE portrait */
@media only screen and (max-width: 320px) and (orientation: portrait) {
/* Mypage - profile */
	.mypage-profile {
		grid-template-columns: 150px 150px;
		grid-column-gap: 10px;
	}
	
	.subscribed, #btn-subscribedCount {
		width: 140px;
	}
	
	
/* Mypage - profile-icon */
	.mypage-profile-icon {
		grid-template-columns: repeat(4, 75px);
	}
	
	
/* Mypage-Setting */
/* Mypage-Setting - login*/
	.mypage-setting-id {
		grid-template-columns: 130px 160px;
		height: 70px;
		grid-column-gap: 5px;
	}
	
	.mypage-setting-id .mypage-setting-loginid-text {
		word-break: break-all;
	}
	
	.mypage-setting-id .mypage-setting-id-open {
		padding-left: 110px;
	}
	
	.mypage-setting-id .mypage-setting-id-close {
		padding-right: 110px;
	}
	
	
/* Mypage-Setting - password */
	.mypage-setting-pw {
		grid-template-columns: 130px 160px;
		height: 70px;
		grid-column-gap: 5px;
	}
		
	
/* Mypage-Setting - nick */
	.mypage-setting-nick {
		grid-template-columns: 130px 160px;
		height: 70px;
		grid-column-gap: 5px;
	}
	
	
/* Mypage-Setting - profile img */
	.mypage-setting-img {
		grid-template-columns: 130px 160px;
		height: 70px;
		grid-column-gap: 5px;
	}
	
	
/* Mypage-Setting - subscribe */
	.mypage-setting-subscribe {
		grid-template-columns: 130px 160px;
		height: 70px;
		grid-column-gap: 5px;
	}
	
	.mypage-setting-subscribe .mypage-setting-subscribe-open {
		padding-left: 110px;
	}
	
	.mypage-setting-subscribe .mypage-setting-subscribe-close {
		padding-right: 110px;
	}
		
	
/* Mypage-Setting - subscriber */
	.mypage-setting-subscriber {
		grid-template-columns: 130px 160px;
		height: 70px;
		grid-column-gap: 5px;
	}
	
	.mypage-setting-subscriber .mypage-setting-subscriber-open {
		padding-left: 110px;
	}
	
	.mypage-setting-subscriber .mypage-setting-subscriber-close {
		padding-right: 110px;
	}
	
	
/* Mypage-setting-genre */
	.mypage-setting-genre {
		grid-template-columns: 130px 160px;
		height: 70px;
		grid-column-gap: 5px;
	}
	
	.mypage-setting-genre .mypage-setting-genre-open {
		padding-left: 110px;
	}
	
	.mypage-setting-genre .mypage-setting-genre-close {
		padding-right: 110px;
	}
	
	
/* Mypage-setting-genre - list */
	.mypage-setting-genre-list {
        grid-template-columns: 75px 110px 110px 105px 85px 115px 135px 85px 95px 115px;
        grid-row-gap: 10px;
        padding-left: 20px;
        padding-top: 5px;
        padding-bottom: 20px;
        overflow: scroll;
	}
		
	.mypage-setting-genre-list span {
		padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 13px;
        padding-right: 13px;
        border-radius: 10px;
	}
	
	
/* Mypage-setting - confirm */
	.mypage-setting-confirm {
		grid-template-columns: 150px 140px;
		height: 70px;
	}
	
	.mypage-setting-confirm-button button {
		width: 150px;
	}
	
	.mypage-setting-logout-button button {
		width: 140px;
	}
	
	
/* Mypage-setting - hr */
	hr {
		width: 300px;
	}
}