@charset "UTF-8";
/*mypage-first*/
.write-comic {
    display: grid;
    grid-template-columns: 150px 150px 150px 150px;
    grid-template-rows: 150px 150px 500px 50px 300px 50px 50px 50px;
    grid-template-areas:
    	"a a o o" 
        "a a b b"
        "c c c c"
        "k l m n"
        "d d d d"
/*         "e e e e" */
/*         "f f g g" */
        "h h h h"
        "i i j j";
    grid-column-gap: 20px;
    grid-row-gap: 10px;
    padding-top: 25px;
    justify-content: center;
}
.write-comic-title{
	grid-area: o;
	align-self: center;
    height: 10px;
}
.write-comic .write-comic-thumbnail {
    grid-area: a;
}

.write-comic .write-comic-subtitle {
    grid-area: b;
    align-self: center;
    height: 10px;
}

.write-comic .write-comic-file, .upload-file-list {
    grid-area: c;
}

.write-comic .write-comic-comment {
    grid-area: d;
}

/* .write-comic .write-comic-tag { */
/*     grid-area: e; */
/* } */

/* .write-comic .write-comic-delete {
    grid-area: g;
}

.write-comic .write-comic-open {
    grid-area: f;
} */

.write-comic .write-comic-add {
    grid-area: k;
}

.write-comic .write-comic-delete {
    grid-area: l;
}

.write-comic .write-comic-up {
    grid-area: m;
}

.write-comic .write-comic-down {
    grid-area: n;
}


.write-comic .write-comic-delete, .write-comic-open, .write-comic-add, .write-comic-up, .write-comic-down {
    background-color: #d3d3d3;
    border: 1px solid #d3d3d3;
    color: white;
}

.write-comic .write-comic-preview {
    grid-area: h;
    background-color: #f0473c;
    border: 1px solid #f0473c;
    color: white;
}

.write-comic .write-comic-complete {
    grid-area: i;
    background-color: #1d8bf1;
    border: 1px solid #1d8bf1;
    color: white;
}

.write-comic .write-comic-cancel {
    grid-area: j;
    background-color: gray;
    border: 1px solid gray;
    color: white;
} 

.write-comic .write-comic-thumbnail img {
    width: 300px;
    border: 1px solid #d3d3d3;
    border-radius: 10px;
}

.write-comic .write-comic-title, .write-comic-comment, .write-comic-tag, .write-comic-file, .upload-file-list, .write-comic-subtitle {
    padding: 15px;
    font-size: 1em;
    border: 1px solid #d3d3d3;
    border-radius: 10px;    
}

.write-comic .write-comic-delete, .write-comic-open, .write-comic-preview, .write-comic-cancel, .write-comic-complete, .write-comic-add {
    height: 50px;
    padding: 15px;
    font-size: 1em;
    border-radius: 10px;
}

.write-comic-up, .write-comic-down {
    height: 18px;
    padding: 15px;
    font-size: 1em;
    border-radius: 10px;
    text-align :  center;
}

.write-comic a:link {
    color: white;
    text-decoration: none;
}