@charset "UTF-8";
/*mypage-first*/

select { 
	-webkit-appearance: none; /* 네이티브 외형 감추기 */ 
	-moz-appearance: none; 
	appearance: none; 
/* 	-webkit-appearance: menulist-button; */
	}

.write-comic {
    display: grid;
    grid-template-columns: 125px 125px 125px 125px;
    grid-template-rows: 100px 100px 42px 0px 150px 150px 42px;
    grid-template-areas: 
        "a b b b"
        "a c c c"
        "d e f g"
        "h h h h"
        "i i i i"
        "k k k k"
        "j j j j";
    grid-gap: 15px;
    padding-top: 25px;
    justify-content: center;
}
.write-comic textarea{
	resize: none;
}
.write-comic .write-comic-thumbnail {
    grid-area: a;
    justify-self: start;
    align-self: center;
}

.write-comic .write-comic-thumbnail img {
    width: 200px;
    border: 1px solid gray;
    border-radius: 5px;
}

.write-comic-title{
	width: 305px;
	grid-area: b;
	padding: 10px;
	font-size: 15px;
	align-self: end;
	justify-self: end;
    height: 10px;
    border: none;
}

.write-comic .write-comic-subtitle {
    width: 305px;
    grid-area: c;
    align-self: start;
    justify-self: end;
    height: 10px;
/*     color: #d3d3d3;   */
}


.write-comic .write-comic-add {
    grid-area: d;
}

.write-comic .write-comic-delete {
    grid-area: e;
}

.write-comic .write-comic-up {
    grid-area: f;
}

.write-comic .write-comic-down {
    grid-area: g;
}

.write-comic .write-comic-delete, .write-comic-open, .write-comic-add, .write-comic-up, .write-comic-down {
    background-color: white;
    border: 1px solid gray;
    border-radius: 5px;
    color: gray;
    font-size: 20px;
    height: 40px;
    text-align: center;
}

/* .write-comic-up, .write-comic-down { */
/*     padding-top: 10px; */
/*     font-size: 15px; */
/*     height: 28px; */
/* } */


.write-comic .write-comic-file, .upload-file-list {
    grid-area: h;
}

.write-comic .write-comic-comment {
    grid-area: i;
}

.write-comic .write-comic-tags {
    grid-area: k;
}

.write-comic .write-comic-tags-input {
	font-size: 15px;
    border: 0px;
}
.tags-list{
	background: white;
	border: 1px solid lightgray;
    border-radius: 5px;
    padding: 0px 5px 0px 5px;
	margin: 5px 5px 5px 5px;
}

.write-comic .write-comic-tags-input:focus {
  outline: none;
}

.remove-tags-list {
	padding: 0px 5px 0px 5px;
}

.write-comic .write-comic-preview {
    grid-area: j;
    justify-self: center;
    border: 1px solid #f0473c;
    color: #f0473c;
}

.write-comic .write-comic-complete {
    grid-area: j;
    justify-self: end;
    border: 1px solid #2196F3;
    color: #2196F3;
}

.write-comic .write-comic-cancel {
    grid-area: j;
    justify-self: start;
    border: 1px solid gray;
    color: gray;
} 

.write-comic .write-comic-preview, .write-comic-cancel, .write-comic-complete {
	background-color: white;
    padding: 10px;
    font-size: 15px;
    border-radius: 5px;
    width: 170px;
    height: 40px;
}

.write-comic .write-comic-comment, .write-comic-tag, .write-comic-file, .upload-file-list, .write-comic-subtitle, .write-comic-tags  {
    padding: 10px;
    font-size: 15px;
    border: 1px solid gray;
    border-radius: 5px;    
}

.write-comic a:link {
    color: white;
    text-decoration: none;
}


.write-comic .write-comic-preview:hover {
	background-color: #f0473c;
    border: 1px solid #f0473c;
    color: white;
}

.write-comic .write-comic-complete:hover {
	background-color: #2196F3;
    border: 1px solid #2196F3;
    color: white;
}

.write-comic .write-comic-cancel:hover {
	background-color: gray;
    border: 1px solid gray;
    color: white;
} 