<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kungchidda.mappers.adminMapper">

	<sql id="withdrawRead">
		<if test="wno != null">
			and	wno = #{wno}
		</if>
		<if test="uid != null">
			and uid = #{uid}
		</if>
	</sql>
	
	<sql id="withdrawAttachRead">
		<if test="wno != null">
			and	w.wno = #{wno}
		</if>
		<if test="uid != null">
			and w.uid = #{uid}
		</if>
	</sql>
		
	<sql id="search">
		<if test="searchType != null">
			<if test="searchType =='wno'.toString()">
				and wno like CONCAT('%', #{keyword}, '%')
			</if>
			<if test="searchType =='uid'.toString()">
				and uid like CONCAT('%', #{keyword}, '%')
			</if>
			<if test="searchType =='type'.toString()">
				and type like CONCAT('%', #{keyword}, '%')
			</if>
			<if test="searchType =='companyName'.toString()">
				and companyName like CONCAT('%', #{keyword}, '%')
			</if>
			<if test="searchType =='ceoName'.toString()">
				and (ceoName like CONCAT('%', #{keyword}, '%'))
			</if>
			<if test="searchType =='registedNo'.toString()">
				and (registedNo like CONCAT('%', #{keyword}, '%'))
			</if>
			<if test="searchType =='taxType'.toString()">
				and (taxType like CONCAT('%', #{keyword}, '%'))
			</if>
			<if test="searchType =='bankName'.toString()">
				and (bankName like CONCAT('%', #{keyword}, '%'))
			</if>
			<if test="searchType =='accountNo'.toString()">
				and (accountNo like CONCAT('%', #{keyword}, '%'))
			</if>
			<if test="searchType =='accountHolder'.toString()">
				and (accountHolder like CONCAT('%', #{keyword}, '%'))
			</if>
			<if test="searchType =='status'.toString()">
				and (status like CONCAT('%', #{keyword}, '%'))
			</if>
			<if test="searchType =='regdate'.toString()">
				and regdate like CONCAT('%', #{keyword}, '%')
			</if>
			
			<if test="searchType =='pno'.toString()">
				and pno like CONCAT('%', #{keyword}, '%')
			</if>
			<if test="searchType =='orderNo'.toString()">
				and orderNo like CONCAT('%', #{keyword}, '%')
			</if>
			<if test="searchType =='productDesc'.toString()">
				and productDesc like CONCAT('%', #{keyword}, '%')
			</if>
			<if test="searchType =='bno'.toString()">
				and bno like CONCAT('%', #{keyword}, '%')
			</if>
			<if test="searchType =='amount'.toString()">
				and amount like CONCAT('%', #{keyword}, '%')
			</if>
			<if test="searchType =='point'.toString()">
				and point like CONCAT('%', #{keyword}, '%')
			</if>
			<if test="searchType =='payToken'.toString()">
				and payToken like CONCAT('%', #{keyword}, '%')
			</if>
			<if test="searchType =='complete'.toString()">
				and complete like CONCAT('%', #{keyword}, '%')
			</if>
			
		</if>
	</sql>

	
	<select id="payHistoryList" resultType="PayVO">
	<![CDATA[
			SELECT * 
			FROM tbl_pay
			where pno > 0
		]]>
		<include refid="search"></include>
		<![CDATA[
			order by regdate desc
			limit #{pageStart}, #{perPageNum}
		]]>
	</select>
	
	<select id="payHistoryListCount" resultType="int">
		<![CDATA[
			SELECT count(*) 
			FROM tbl_pay
			where pno > 0
		]]>
		<include refid="search"></include>
	</select>
	
	<select id="payHistoryRead" resultType="PayVO">
		SELECT * 
		FROM tbl_pay
		WHERE pno = #{pno}
	</select>
	
	<select id="withdrawHistoryList" resultType="WithdrawVO">
		<![CDATA[
			SELECT * 
			FROM tbl_withdraw
			where wno > 0
		]]>
		<include refid="search"></include>
		<![CDATA[
			order by regdate desc
			limit #{pageStart}, #{perPageNum}
		]]>
	</select>
	
	
	<select id="withdrawHistoryListCount" resultType="int">
		<![CDATA[
			SELECT count(*) 
			FROM tbl_withdraw
			where wno > 0
		]]>
		<include refid="search"></include>
	</select>

	<select id="withdrawHistoryRead" resultType="WithdrawVO">
	<![CDATA[
		SELECT * 
		FROM webtoon.tbl_withdraw 
		where
		wno > 0
		]]>
		<include refid="withdrawRead"></include>
	</select>
	
	<select id="withdrawHistoryReadAttach" resultType="WithdrawVO">
	<![CDATA[
		SELECT * 
		FROM tbl_withdraw_attach wa
        
        inner join
        tbl_withdraw w
        on w.wno = wa.wno 
		
		where
		w.wno > 0
		]]>
		<include refid="withdrawAttachRead"></include>
	</select>
	
	<update id="withdrawModify">
		update tbl_withdraw set wno = #{wno}, uid = #{uid}, type = #{type}, companyName = #{companyName}, ceoName = #{ceoName}, registedNo = #{registedNo}, taxType = #{taxType}, bankName = #{bankName}, accountNo = #{accountNo}, accountHolder = #{accountHolder}, status = #{status}
		where uid = #{uid}
	</update>
	
	<insert id="withdrawComplete">
		insert into tbl_pay (uid, orderNo, amount, payToken, productDesc, point, complete)
		values(#{uid}, #{orderNo}, #{amount}, #{payToken}, #{productDesc}, #{point}, 1);
	</insert>

</mapper>