<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kungchidda.mappers.boardMapper">
	<insert id="create">
		insert into tbl_board (tno, subtitle, content, uid, fileList)
		values(#{tno}, #{subtitle}, #{content}, #{uid}, #{fileList} );
	</insert>
		
	<!-- <insert id="add">
		insert into tbl_subtitle (bno, title, subtitle, uid)
		values ((select max(bno) from tbl_board), #{title}, #{subtitle}, #{uid});
	</insert> -->
	
	<select id="read" resultType="com.kungchidda.domain.BoardVO">
		select
			a.tno, a.bno, t.title,  ta.titleFullName, ba.boardFullName, a.subtitle, a.content, a.fileList, u.uid, u.uname, a.regdate, a.viewcnt, a.replycnt, a.likecnt, a.dislikecnt
	            
		from
			tbl_board a
            
        inner join
            tbl_user u
        on u.uid = a.uid
        
        inner join
        tbl_title t
        on t.tno = a.tno
        
		inner join
        tbl_title_attach ta
        on ta.tno = a.tno
        
        inner join
        tbl_attach ba
        on ba.bno = a.bno
        
            
		where a.bno = #{bno}
	</select>
	
	<update id="update">
		update tbl_board set subtitle =#{subtitle}, content =#{content}, uname =#{uname}
		where bno = #{bno}
	</update>
	
	<delete id="delete">
		delete from tbl_board where bno = #{bno}
	</delete>
	
<!-- 	<select id="listAll" resultType="com.kungchidda.domain.BoardVO"> -->
<!-- 		<![CDATA[ -->
<!-- 			select -->
<!-- 				bno, title, subtitle, content, uname, regdate, viewcnt -->
<!-- 			from -->
<!-- 				tbl_board -->
<!-- 			where bno > 0 -->
<!-- 			order by bno desc, regdate desc -->
<!-- 			limit 0, 20; -->
<!-- 			]]> -->
<!-- 	</select> -->
	
<!-- 	<select id="listPage" resultType="com.kungchidda.domain.BoardVO"> -->
<!-- 		<![CDATA[ -->
<!-- 			select -->
<!-- 				bno, title, subtitle, content, uname, regdate, viewcnt -->
<!-- 			from -->
<!-- 				tbl_board -->
<!-- 			where bno > 0 -->
<!-- 			order by bno desc, regdate desc -->
<!-- 			limit #{page}, 20; -->
<!-- 			]]> -->
<!-- 	</select> -->

<!-- 	<select id="listCriteria" resultType="com.kungchidda.domain.BoardVO"> -->
<!-- 		<![CDATA[ -->
<!-- 			select -->
<!-- 				bno, title, subtitle, content, uname, regdate, viewcnt, replycnt -->
<!-- 			from -->
<!-- 				tbl_board -->
<!-- 			where bno > 0 -->
<!-- 			order by bno desc, regdate desc -->
<!-- 			limit #{pageStart}, #{perPageNum}; -->
<!-- 			]]> -->
<!-- 	</select> -->
	
<!-- 	<select id="countPaging" resultType="int"> -->
<!-- 		<![CDATA[ -->
<!-- 			select -->
<!-- 				count(bno) -->
<!-- 			from -->
<!-- 				tbl_board -->
<!-- 			where -->
<!-- 				bno > 0 -->
<!-- 		]]> -->
<!-- 	</select> -->
	
	<sql id="search">
		<if test="searchType != null">
			<if test="searchType =='t'.toString()">
				and title like CONCAT('%', #{keyword}, '%')
			</if>
			<if test="searchType =='c'.toString()">
				and content like CONCAT('%', #{keyword}, '%')
			</if>
			<if test="searchType =='w'.toString()">
				and uname like CONCAT('%', #{keyword}, '%')
			</if>
			<if test="searchType =='tc'.toString()">
				and (title like CONCAT('%', #{keyword}, '%') OR content like CONCAT('%', #{keyword}, '%'))
			</if>
			<if test="searchType =='cw'.toString()">
				and (content like CONCAT('%', #{keyword}, '%') OR uname like CONCAT('%', #{keyword}, '%'))
			</if>
			<if test="searchType =='tcw'.toString()">
				and (title.title like CONCAT('%', #{keyword}, '%') 
				OR a.content like CONCAT('%', #{keyword}, '%') 
				OR a.subtitle like CONCAT('%', #{keyword}, '%') 
				OR gn.genre like CONCAT('%', #{keyword}, '%') 
				OR gn.gname like CONCAT('%', #{keyword}, '%')) 
			</if>
		</if>
		<if test="genreArr != null">
			and tg.tno in 
		 (  
            select t.tno 
            from tbl_title t

            inner join
            tbl_title_genre tg
            on t.tno = tg.tno
            
            
			inner join
            tbl_genre_name gn
            on gn.genre = tg.genre
            where tg.genre in 
			<foreach collection="genreArr" item="genreArr" open="(" close=")" separator=",">
	            #{genreArr}
	        </foreach>
	        )
		</if>
		</sql>
	
<!-- 	<select id="listSearch" resultType="BoardVO">
		<![CDATA[
			select
			a.tno, a.bno, a.title, a.subtitle, u.uname, a.viewcnt, a.replycnt, a.likecnt, a.dislikecnt, a.regdate, IFNULL(t.titleFullName, '/sampleImage.jpg') as titleFullName, IFNULL(b.boardFullName, '/sampleImage.jpg') as boardFullName
			from
            tbl_board a
            
			inner join
			(SELECT  tno, titleFullName from tbl_title_attach) t    
			on t.tno = a.tno
			
			left outer join
            (SELECT  bno, max(boardFullName) as boardFullName from tbl_attach group by bno) b    
			on b.bno = a.bno
			
            inner join 
			(SELECT max(bno) as bno, title, subtitle, tno FROM tbl_board group by tno) x 
            on x.bno = a.bno
            
            inner join
            tbl_user u
            on u.uid = a.uid
            
            where a.bno > 0
		]]>
		<include refid="search"></include>
		<![CDATA[
			order by bno desc
			limit #{pageStart}, #{perPageNum}
		]]>
	</select> -->
	
<!-- 	<select id="listGenreSearch" resultType="BoardVO"> -->
	<select id="listSearch" resultType="BoardVO">
		<![CDATA[
			select
			title.tno, a.bno, title.title, a.subtitle, u.uname,  IFNULL(p.profileFullName, '/account.png') as profileFullName , a.viewcnt, a.replycnt, a.likecnt, a.dislikecnt, a.regdate, IFNULL(t.titleFullName, '/sampleImage.jpg') as titleFullName, IFNULL(b.boardFullName, '/sampleImage.jpg') as boardFullName, GROUP_CONCAT(gn.gname SEPARATOR ' ') as gname
			from
            tbl_board a
            
            inner join
            tbl_title title
            on title.tno = a.tno
            
			inner join
			(SELECT  tno, titleFullName from tbl_title_attach) t    
			on t.tno = a.tno
			
			left outer join
            (SELECT  bno, boardFullName from tbl_attach group by bno) b    
			on b.bno = a.bno
			
            inner join 
			(SELECT max(bno) as bno, subtitle, tno FROM tbl_board group by tno) x 
            on x.bno = a.bno
            
            inner join
            tbl_user u
            on u.uid = a.uid
            
            left outer join
            tbl_profile p
            on u.uno = p.uno
            
            inner join
            tbl_title_genre tg
            on tg.tno = title.tno
            
            inner join
            tbl_genre_name gn
            on gn.genre = tg.genre
            
            where a.bno > 0
		]]>
		<include refid="search"></include>
		<![CDATA[
			group by
            a.bno
			order by a.bno desc
			limit #{pageStart}, #{perPageNum}
		]]>
	</select>
	
	<select id="listSearchCount" resultType="int">
		<![CDATA[
			select
				count(a.bno)
			from
				tbl_board a
				
			inner join
            tbl_title title
            on title.tno = a.tno
            
            inner join
			(SELECT  tno, titleFullName from tbl_title_attach) t    
			on t.tno = a.tno
			
			left outer join
            (SELECT  bno, boardFullName from tbl_attach group by bno) b    
			on b.bno = a.bno
			
            inner join 
			(SELECT max(bno) as bno, subtitle, tno FROM tbl_board group by tno) x 
            on x.bno = a.bno
            
            inner join
            tbl_user u
            on u.uid = a.uid
            
            inner join
            tbl_title_genre tg
            on tg.tno = title.tno
            
            inner join
            tbl_genre_name gn
            on gn.genre = tg.genre
            
			where
				a.bno > 0
		]]>
		<include refid="search"></include>
	</select>
	
	<update id="updateReplyCnt">
		update tbl_board set replycnt = replycnt + #{amount} where bno = #{bno}
	</update>
	
	<update id="updateViewCnt">
		update tbl_board set viewcnt = viewcnt + + 1 where bno = #{bno}
	</update>
	
	<insert id="addAttach">
	insert into tbl_attach(boardFullName, bno) values (#{boardFullName}, LAST_INSERT_ID())
	</insert>
	
	<select id="getAttach" resultType="string">
	select boardFullName from tbl_attach where bno = #{bno} order by regdate
	</select>
	
	<delete id="deleteAttach">
		delete from tbl_attach where bno = #{bno}
	</delete>
	
	<insert id="replaceAttach">
		insert into tbl_attach(boardFullName, bno) values (#{boardFullName}, #{bno})
	</insert>
	
	<delete id="deleteReplyAll">
		delete from tbl_reply where bno = #{bno}
	</delete>
	
	<update id="updateLikeCnt">
		update tbl_board set 
		likecnt = (select count(*) from tbl_like where bno = #{bno} and lpo = '1'),
		dislikecnt =	(select count(*) from tbl_like where bno = #{bno} and lpo = '-1')
		where bno = #{bno}
	</update>

	<select id="listPage" resultType="com.kungchidda.domain.BoardVO">
		select 
		b.tno, b.bno, t.title, b.subtitle, b.uid, IFNULL(a.boardFullName, '/sampleImage.jpg') as boardFullName
		from tbl_board b
        
        left outer join
        tbl_attach a
        on a.bno = b.bno
		
		inner join
		tbl_title t
		on t.tno = b.tno
		
		where b.tno = #{tno}
		group by bno
		order by bno desc
		limit #{cri.pageStart}, #{cri.perPageNum}
	</select>
	
	<select id="count" resultType="int">
	select count(*) from tbl_board where tno = #{tno}
	</select>
	

</mapper>