<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kungchidda.mappers.likeMapper">

	<select id="list" resultType="LikeVO">
		select
		* 
		from
		tbl_like
		where bno = #{bno} and uid = #{uid} 
		order by lno desc
	</select>
	
	<select id="infoLike" resultType="com.kungchidda.domain.BoardVO">
		select
		* 
		from
		tbl_board
		where bno = #{bno} 
	</select>
	

	<insert id="create">
		insert into tbl_like (bno, uid, lpo)
		values (#{bno}, #{uid}, #{lpo} )
	</insert>

	<delete id="delete">
		delete from tbl_like where bno = #{bno} and uid = #{uid} 
	</delete>
	
	<select id="listPage" resultType="LikeVO">
		select
		0
		from
		tbl_like
		where
		bno = #{bno}
		and
		uid = #{uid}
		order by lno desc
	</select>
	
	<select id="count" resultType="int">
		select count(bno) from tbl_like where bno =#{bno}
	</select>
	
	<select id="getBno" resultType="int">
		select bno, lpo from tbl_like where bno = #{bno} and uid = #{uid}
	</select>

</mapper>