<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kungchidda.mappers.myPageMapper">
	<insert id="create">
		insert into tbl_title (title, uid)
		values(#{title}, #{uid});
	</insert>
		
	<insert id="add">
		insert into tbl_subtitle (bno, title, subtitle, uid)
		values ((select max(bno) from tbl_board), #{title}, #{subtitle}, #{uid});
	</insert>
	
	<select id="read" resultType="com.kungchidda.domain.MyPageVO">
		select
			bno, title, subtitle, content, uid, uname, regdate, viewcnt, replycnt, likecnt, unlikecnt 
		from
			tbl_board
		where bno = #{bno}
	</select>
	
	<update id="update">
		update tbl_board set title =#{title}, subtitle =#{subtitle}, content =#{content}, uname =#{uname}
		where bno = #{bno}
	</update>
	
	<delete id="delete">
		delete from tbl_board where bno = #{bno}
	</delete>
	
	
	<sql id="search">
		<if test="searchType != null">
			<if test="searchType =='t'.toString()">
				and title like CONCAT('%', #{keyword}, '%')
			</if>
			<if test="searchType =='c'.toString()">
				and content like CONCAT('%', #{keyword}, '%')
			</if>
			<if test="searchType =='w'.toString()">
				and uname like CONCAT('%', #{keyword}, '%')
			</if>
			<if test="searchType =='tc'.toString()">
				and (title like CONCAT('%', #{keyword}, '%') OR content like CONCAT('%', #{keyword}, '%'))
			</if>
			<if test="searchType =='cw'.toString()">
				and (content like CONCAT('%', #{keyword}, '%') OR uname like CONCAT('%', #{keyword}, '%'))
			</if>
			<if test="searchType =='tcw'.toString()">
				and (title like CONCAT('%', #{keyword}, '%') 
				OR content like CONCAT('%', #{keyword}, '%')
				OR uname like CONCAT('%', #{keyword}, '%'))
			</if>
		</if>
		</sql>
	
	
	<select id="listSearch" resultType="MyPageVO">
		<![CDATA[
			select
					c.tno, a.bno, c.title, IFNULL(a.uname, (select uname from tbl_user where uid = #{uid})) as uname , a.viewcnt, a.replycnt, a.likecnt, a.unlikecnt, IFNULL(a.regdate, c.regdate) as regdate, IFNULL(b.fullName, '/sampleImage.jpg') as fullName
			from
            tbl_board a
            
            inner join 
			(SELECT max(bno) as bno, title, subtitle, uname FROM tbl_board group by title, uname) x 
            on x.bno = a.bno and x.uname = a.uname
            
            right outer join
            (SELECT tno, title, regdate, uid from tbl_title) c
			on a.title = c.title and a.uid = c.uid
                        
            left outer join
            (SELECT  tno, fullName from tbl_title_attach) b    
			on b.tno = c.tno
            
            where c.tno > 0
            and 
            c.uid = #{uid} 
		]]>
		<include refid="search"></include>
		<![CDATA[
			order by tno desc
			limit #{cri.pageStart}, #{cri.perPageNum}
		]]>
	</select>
	
	
	<select id="listSubscribedSearch" resultType="MyPageVO">
		<![CDATA[
			select
					a.bno, a.title, a.subtitle, a.uname, a.viewcnt, a.replycnt, a.likecnt, a.unlikecnt, a.regdate, IFNULL(b.fullName, '/sampleImage.jpg') as fullName
			from
            tbl_board a
            
            left outer join
            (SELECT  bno, max(fullName) as fullName from tbl_attach group by bno) b    
			on b.bno = a.bno
            
            inner join 
			(SELECT max(bno) as bno, title, subtitle, uname FROM tbl_board group by title, uname) x 
            on x.bno = a.bno and x.uname = a.uname
            
            where a.bno > 0
            and 
            uid in (select subscribed from tbl_subscribe where subscriber = #{uid}) 
		]]>
		<include refid="search"></include>
		<![CDATA[
			order by bno desc
			limit #{cri.pageStart}, #{cri.perPageNum}
		]]>
	</select>
	
	
	<select id="listSearchCount" resultType="int">
		<![CDATA[
			select
				count(bno)
			from
				tbl_board
			where
				bno > 0
		]]>
		<include refid="search"></include>
	</select>
	
	<update id="updateReplyCnt">
		update tbl_board set replycnt = replycnt + #{amount} where bno = #{bno}
	</update>
	
	<update id="updateViewCnt">
		update tbl_board set viewcnt = viewcnt + + 1 where bno = #{bno}
	</update>
	
	<insert id="addAttach">
	insert into tbl_title_attach(fullname, tno) values (#{fullName}, LAST_INSERT_ID())
	</insert>
	
	<select id="getAttach" resultType="string">
	select fullname from tbl_title_attach where tno = #{tno} order by regdate
	</select>
	
	<delete id="deleteAttach">
		delete from tbl_attach where tno = #{tno}
	</delete>
	
	<insert id="replaceAttach">
		insert into tbl_attach(fullname, tno) values (#{fullName}, #{tno})
	</insert>
	
	<delete id="deleteReplyAll">
		delete from tbl_reply where tno = #{tno}
	</delete>
	
	<update id="updateLikeCnt">
		update tbl_board set 
		likecnt = (select count(*) from tbl_like where bno = #{bno} and lpo = '1'),
		unlikecnt =	(select count(*) from tbl_like where bno = #{bno} and lpo = '-1')
		where bno = #{bno}
	</update>

</mapper>