<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kungchidda.mappers.myPageMapper">
	
	<select id="read" resultType="com.kungchidda.domain.MyPageVO">
		select
			a.bno, a.tno, t.title, a.subtitle, a.content, a.uid, a.uname, a.regdate, a.viewcnt, a.replycnt, a.likecnt, a.dislikecnt
		from
			tbl_board a
			
			inner join
			tbl_title t
			on t.tno = a.tno
			
		where bno = #{bno}
	</select>
	
	
	
	<sql id="search">
		<if test="searchType != null">
			<if test="searchType =='t'.toString()">
				and title like CONCAT('%', #{keyword}, '%')
			</if>
			<if test="searchType =='c'.toString()">
				and content like CONCAT('%', #{keyword}, '%')
			</if>
			<if test="searchType =='w'.toString()">
				and uname like CONCAT('%', #{keyword}, '%')
			</if>
			<if test="searchType =='tc'.toString()">
				and (title like CONCAT('%', #{keyword}, '%') OR content like CONCAT('%', #{keyword}, '%'))
			</if>
			<if test="searchType =='cw'.toString()">
				and (content like CONCAT('%', #{keyword}, '%') OR uname like CONCAT('%', #{keyword}, '%'))
			</if>
			<if test="searchType =='tcw'.toString()">
				and (title like CONCAT('%', #{keyword}, '%') 
				OR content like CONCAT('%', #{keyword}, '%')
				OR uname like CONCAT('%', #{keyword}, '%'))
			</if>
		</if>
		</sql>
	
	
<!-- 	<select id="listSearch" resultType="MyPageVO">
		<![CDATA[
			select
					c.tno, a.bno, c.title, IFNULL(a.uname, (select uname from tbl_user where uid = #{uid})) as uname , a.viewcnt, a.replycnt, a.likecnt, a.dislikecnt, IFNULL(a.regdate, c.regdate) as regdate, IFNULL(b.fullName, '/sampleImage.jpg') as fullName
			from
            tbl_board a
            
            inner join 
			(SELECT max(bno) as bno, title, subtitle, uname FROM tbl_board group by title, uname) x 
            on x.bno = a.bno and x.uname = a.uname
            
            right outer join
            (SELECT tno, title, regdate, uid from tbl_title) c
			on a.title = c.title and a.uid = c.uid
                        
            left outer join
            (SELECT  tno, fullName from tbl_title_attach) b    
			on b.tno = c.tno
            
            where c.tno > 0
            and 
            c.uid = #{uid} 
		]]>
		<include refid="search"></include>
		<![CDATA[
			order by tno desc
			limit #{cri.pageStart}, #{cri.perPageNum}
		]]>
	</select> -->
		<select id="listSearch" resultType="MyPageVO">
		<![CDATA[
			select a.tno, a.title, u.uname, d.likecnt, d.dislikecnt, b.titleFullName, c.regdate, GROUP_CONCAT(gn.genre SEPARATOR ',') as genre, GROUP_CONCAT(gn.gname SEPARATOR ' / ') as gname
			from tbl_title a
			inner join
			(SELECT  tno, titleFullName from tbl_title_attach) b    
			on b.tno = a.tno
			
			left outer join
			(select tno, max(regdate) as regdate from tbl_board group by tno) c
			on c.tno = a.tno
            
            inner join
            tbl_user u
            on u.uid = a.uid
            
            left outer join
			tbl_title_genre tg
			on tg.tno = a.tno
            
            left outer join
			tbl_genre_name gn
			on gn.genre = tg.genre
            
            left outer join
            (select tno, sum(likecnt) as likecnt, sum(dislikecnt) as dislikecnt from tbl_board group by tno) d
            on d.tno = a.tno
			
			where a.uid = #{uid}
			group by a.tno, u.uname, b.titleFullName
		]]>
		<include refid="search"></include>
		<![CDATA[
			order by tno desc
			limit #{cri.pageStart}, #{cri.perPageNum}
		]]>
	</select>
	
	<select id="listSubscribedSearch" resultType="MyPageVO">
		<![CDATA[
            select
			title.tno, a.bno, title.title, a.subtitle, u.uname,  IFNULL(p.profileFullName, '/account.png') as profileFullName , a.viewcnt, a.replycnt, a.likecnt, a.dislikecnt, a.regdate, IFNULL(t.titleFullName, '/sampleImage.jpg') as titleFullName, IFNULL(b.boardFullName, '/sampleImage.jpg') as boardFullName, GROUP_CONCAT(gn.gname SEPARATOR ' / ') as gname
			from
            tbl_board a
            
            inner join
            tbl_title title
            on title.tno = a.tno
            
			inner join
			(SELECT  tno, titleFullName from tbl_title_attach) t    
			on t.tno = a.tno
			
			left outer join
            (SELECT  bno, boardFullName from tbl_attach group by bno, boardFullName) b    
			on b.bno = a.bno
			
            inner join 
			(SELECT max(bno) as bno, tno FROM tbl_board group by tno) x  
            on x.bno = a.bno
            
            inner join
            tbl_user u
            on u.uid = a.uid
            
            left outer join
            tbl_profile p
            on u.uno = p.uno
            
            inner join
            tbl_title_genre tg
            on tg.tno = title.tno
            
            inner join
            tbl_genre_name gn
            on gn.genre = tg.genre
            
            where a.bno > 0
            and 
            a.uid in (select subscribed from tbl_subscribe where subscriber = #{uid})
            
		]]>
		<include refid="search"></include>
		<![CDATA[
			group by a.bno, u.uname, profileFullName, titleFullName, boardFullName
			order by a.bno desc
			limit #{cri.pageStart}, #{cri.perPageNum}
		]]>
	</select>
	
	
	<select id="listSubscriberSearch" resultType="SubscribeVO">
		<![CDATA[
			SELECT a.sno, a.subscribed, a.subscriber, b.uname, IFNULL(p.profileFullName, '/account.png') as profileFullName
			FROM tbl_subscribe a
			 
			inner join
			tbl_user b
			on a.subscriber =  b.uid
			
			left outer join
            tbl_profile p
            on b.uno = p.uno
            
            
			where a.subscribed = #{uid}
		]]>
		<include refid="search"></include>
		<![CDATA[
			order by a.regdate desc
			limit #{cri.pageStart}, #{cri.perPageNum}
		]]>
	</select>
	
	
	<select id="listSearchCount" resultType="int">
		<![CDATA[
			select
				count(bno)
			from
				tbl_board
			where
				bno > 0
		]]>
		<include refid="search"></include>
	</select>
	


	<select id="setting" resultType="UserVO">
		select
			a.uno, a.uid, a.uname, IFNULL(b.profileFullName, '/account.png') as profileFullName, GROUP_CONCAT(gn.genre SEPARATOR ',') as genre, GROUP_CONCAT(gn.gname SEPARATOR ',') as gname, uid_p, subscribe_p, subscriber_p, genre_p
		from
			tbl_user a

            left outer join
            tbl_profile b
            on a.uno = b.uno
            
			left outer join
			tbl_user_genre ug
			on ug.uno = a.uno

			left outer join
			tbl_genre_name gn
			on gn.genre = ug.genre

		where uid = #{uid}
		group by a.uno, a.uid, b.profileFullName
	</select>
	
	
	
</mapper>