<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kungchidda.mappers.payMapper">
	<insert id="payments">
		insert into tbl_pay (uid, orderNo, amount, payToken, productDesc, point)
		values(#{uid}, #{orderNo}, #{amount}, #{payToken}, #{productDesc}, #{point});
	</insert>
	
	<update id="execute">
		update tbl_pay set complete = 1 
		where orderNo = #{orderNo}
	</update>
	
	<select id="payHistory" resultType="PayVO">
		SELECT "" as pno, uid, orderNo, productDesc, bno, "" as amount, sum(point) as point, "" as payToken, complete, max(regdate) as regdate

		FROM tbl_pay

		where uid = #{uid} and complete = 1 and bno is not null
		group by uid, orderNo, productDesc, bno
		
		union
		
		SELECT * 
		FROM tbl_pay
		where uid = #{uid} and complete = 1 and bno is null
		order by regdate desc
		limit #{cri.pageStart}, #{cri.perPageNum}
		
	</select>
	
	<select id="payHistoryCount" resultType="int">
		select count(*)
		from
		(
		SELECT "" as pno, uid, orderNo, productDesc, bno, "" as amount, sum(point) as point, "" as payToken, complete, max(regdate) as regdate

		FROM tbl_pay

		where uid = #{uid} and complete = 1 and bno is not null
		group by uid, orderNo, productDesc, bno
		
		union
		
		SELECT * 
		FROM tbl_pay
		where uid = #{uid} and complete = 1 and bno is null
		order by regdate desc
		) a
	</select>
	
	<select id="totalPoint" resultType="int">
		select IFNULL(sum(point), 0) as point from tbl_pay
		where uid = #{uid} and complete = 1
	</select>
	
	<select id="checkUserBuy" resultType="int">
		SELECT count(*)
		FROM tbl_pay
		where bno = #{bno} and uid = #{uid}
	</select>
	
	<insert id="usePoint">
		insert into tbl_pay (uid, bno, productDesc, point, complete)
		values(#{uid}, #{bno}, #{productDesc}, #{point}, 1);
	</insert>
	
	<insert id="withdrawExecute">
		insert into tbl_pay (uid, amount, productDesc, point, complete)
		values(#{uid}, #{amount}, #{productDesc}, #{point}, #{complete});
	</insert>
	
	<select id="checkOrderNo" resultType="int">
		SELECT point
		FROM tbl_pay
		where orderNo = #{orderNo}
	</select>
	
</mapper>