.og-expander {
    display: grid;
    grid-template-columns: 500px;
    grid-template-rows: 300px 40px 50px 50px;
    grid-template-areas: 
        "a" 
        "b" 
        "c" 
        "d";
    justify-items: center;
    justify-content: center;
    grid-row-gap: 10px;
    padding-top: 50px;
}

.og-expander a:link {
    text-decoration: none;
    color: black;
}

.og-expander a:visited {
    color: black;
}

.og-expander .og-fullimg {
    grid-area: a;
    width: 300px;
    height: 300px;
    align-self: center;
    border: 1px solid gray;
    border-radius: 5px;
}

.og-expander .og-fullimg img {
    width: 300px;
    border-radius: 5px;
}

.og-expander .form-group {
    grid-area: b;
    align-self: center;
}

.og-expander .form-group button {
    width: 300px;
    border: 1px solid gray;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    font-size: 1em;
}

.og-expander .comic-list-title {
    grid-area: c;
    align-self: center;
}

.og-expander .comic-list-title input {
    width: 298px;
    font-family: 'Roboto';
    border: 1px solid gray;
    border-radius: 5px;
    text-align: center;
    padding-top : 10px;
    padding-bottom: 10px;;
    font-size: 16px;
}

.og-expander .comic-upload-submit {
    grid-area: d;
}

.og-expander .comic-upload-submit button {
    width: 300px;
    padding: 10px;
    font-size: 1em;
    border: 1px solid #bababa;
    border-radius: 5px;
    background-color: #bababa;
    color: white;
}

/*subtitle*/
.subtitle {
    display: grid;
    grid-template-columns: 400px 400px;
    grid-template-rows: 350px 300px 50px 800px 50px ;
    grid-template-areas: 
        "b d" 
        "a a"
		"c c"
        "e e"
        "f g";
    justify-items: center;
    justify-content: center;
    grid-row-gap: 10px;
    padding-top: 50px;
}

.subtitle a:link {
    text-decoration: none;
    color: black;
}

.subtitle a:visited {
    color: black;
}

.subtitle .fileDrop {
    grid-area: a;
    align-self: center;
}

.fileDrop {
	width : 700px;
	height : 300px;
	border : 1px solid gray;
    border-radius: 5px;
}

.small {
	margin-left : 3px;
	font-weight : bold;
	color : gray;
}

.subtitle .og-fullimg {
    grid-area: b;
    width: 300px;
    height: 300px;
    align-self: center;
    border: 1px solid gray;
    border-radius: 5px;
}

.subtitle .og-fullimg img {
    width: 300px;
    border-radius: 5px;
}

/* .subtitle .form-group {
    grid-area: c;
    align-self: center;
} */

.subtitle .upload-file-list {
    grid-area: c;
    align-self: center;
    width: 800px;
    height: 50px;
}

.subtitle .form-group button {
    width: 300px;
    border: 1px solid gray;
    background-color: white;
    padding: 15px;
    border-radius: 5px;
    font-size: 1em;
}

.subtitle .comic-list-title {
    grid-area: d;
    align-self: center;
}

.subtitle .comic-list-title input {
    width: 298px;
    font-family: 'Roboto';
    border: 1px solid gray;
    border-radius: 5px;
    text-align: center;
    padding-top : 10px;
    padding-bottom: 10px;;
    font-size: 16px;
}

.subtitle .comment {
    grid-area: e;
    align-self: center;
}

.subtitle .comment textarea {
    width: 670px;
    height: 200px;
    border: 1px solid gray;
    border-radius: 5px;
    font-size: 1em;
    padding: 15px;
}

.subtitle .preview {
    grid-area: f;
    align-self: center;
}

.subtitle .preview button {
    width: 300px;
    padding: 10px;
    font-size: 1em;
    border: 1px solid #fbb02a;
    border-radius: 5px;
    background-color: #fbb02a;
    color: white;
}

.subtitle .write {
    grid-area: g;
    align-self: center;
}

.subtitle .write button {
    width: 300px;
    padding: 10px;
    font-size: 1em;
    border: 1px solid #f95e4e;
    border-radius: 5px;
    background-color: #f95e4e;
    color: white;
}


/*etc..*/
.cursor {
    cursor: pointer;
}

.footer {
    height: 500px;
    width: 100%;
}
