@charset "UTF-8";
.parallax {
    /* The image used */
    background-image: url('/resources/css/banner/test.jpg');

    /* Full height */
    /* height: 100%; */
    height: 200px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    /* background-position: center; */
    background-repeat: no-repeat;
    /* background-size: cover; */
    background-size: 100%; 
}