@charset "UTF-8";
#site-content {
    padding: 50px 50px 96px;
    position: relative;
    z-index: 1
}

@media (max-width: 1024px) {
    #site-content {
        padding: 33px 15px 50px
    }
}

@media (max-width: 603px) {
    #site-content {
        padding-top: 29px
    }
}

@media (max-width: 350px) {
    #site-content {
        padding-left: 5px;
        padding-right: 5px
    }
}

#site-content, #site-content * {
    box-sizing: border-box
}

.layout-wrap {
    margin-left: auto;
    margin-right: auto;
    max-width: 1364px
}

@media (min-width: 1626px) {
    .rf-content--projects {
        width: 1534px
    }

    .rf-project-cover:nth-child(7n) {
        margin-right: 0
    }

    .rf-project-cover:nth-child(7) {
        margin-right: 20px
    }

    .rf-featured-module {
        margin-right: 0;
        -ms-flex-order: 0;
        order: 0
    }

    .rf-project-cover:nth-child(2) {
        -ms-flex-order: -6;
        order: -6
    }

    .rf-project-cover:nth-child(3) {
        -ms-flex-order: -5;
        order: -5
    }

    .rf-project-cover:nth-child(4) {
        -ms-flex-order: -4;
        order: -4
    }

    .rf-project-cover:nth-child(5) {
        -ms-flex-order: -3;
        order: -3
    }

    .rf-project-cover:nth-child(6) {
        -ms-flex-order: -2;
        order: -2
    }

    .rf-project-cover:nth-child(7) {
        -ms-flex-order: -1;
        order: -1
    }
}

@media (min-width: 1404px) and (max-width: 1625px) {
    .rf-content--projects {
        width: 1312px
    }

    .rf-project-cover:nth-child(6n) {
        margin-right: 0
    }

    .rf-project-cover:nth-child(6) {
        margin-right: 20px
    }

    .rf-featured-module {
        margin-right: 0;
        -ms-flex-order: 0;
        order: 0
    }

    .rf-project-cover:nth-child(2) {
        -ms-flex-order: -5;
        order: -5
    }

    .rf-project-cover:nth-child(3) {
        -ms-flex-order: -4;
        order: -4
    }

    .rf-project-cover:nth-child(4) {
        -ms-flex-order: -3;
        order: -3
    }

    .rf-project-cover:nth-child(5) {
        -ms-flex-order: -2;
        order: -2
    }

    .rf-project-cover:nth-child(6) {
        -ms-flex-order: -1;
        order: -1
    }
}

@media (min-width: 1182px) and (max-width: 1403px) {
    .rf-content--projects {
        width: 1090px
    }

    .rf-project-cover:nth-child(5n) {
        margin-right: 0
    }

    .rf-project-cover:nth-child(5) {
        margin-right: 20px
    }

    .rf-featured-module {
        margin-right: 0;
        -ms-flex-order: 0;
        order: 0
    }

    .rf-project-cover:nth-child(2) {
        -ms-flex-order: -4;
        order: -4
    }

    .rf-project-cover:nth-child(3) {
        -ms-flex-order: -3;
        order: -3
    }

    .rf-project-cover:nth-child(4) {
        -ms-flex-order: -2;
        order: -2
    }

    .rf-project-cover:nth-child(5) {
        -ms-flex-order: -1;
        order: -1
    }
}

@media (min-width: 960px) and (max-width: 1181px) {
    .rf-content--projects {
        width: 868px
    }

    .rf-project-cover:nth-child(4n) {
        margin-right: 0
    }

    .rf-project-cover:nth-child(4) {
        margin-right: 20px
    }

    .rf-featured-module {
        margin-right: 0;
        -ms-flex-order: 0;
        order: 0
    }

    .rf-project-cover:nth-child(2) {
        -ms-flex-order: -3;
        order: -3
    }

    .rf-project-cover:nth-child(3) {
        -ms-flex-order: -2;
        order: -2
    }

    .rf-project-cover:nth-child(4) {
        -ms-flex-order: -1;
        order: -1
    }
}

@media (max-width: 350px) {
    .rf-content--projects {
        width: 305px
    }

    .rf-project-cover:nth-child(2n + 1) {
        margin-right: 0
    }
}

@media (min-width: 381px) and (max-width: 603px) {
    .rf-content--projects {
        width: 355px
/*         width: 100% */
    }

    .rf-project-cover:nth-child(2n + 1) {
        margin-right: 0
    }
}

@media (min-width: 604px) and (max-width: 737px) {
    .rf-content--projects {
        width: 424px
/*         width: 100% */
    }

    .rf-project-cover:nth-child(2n) {
        margin-right: 0
    }

    .rf-project-cover:nth-child(2) {
        margin-right: 20px
    }

    .rf-featured-module {
        margin-right: 0;
        -ms-flex-order: 0;
        order: 0
    }

    .rf-project-cover:nth-child(2) {
        -ms-flex-order: -1;
        order: -1
    }
}

@media (min-width: 738px) and (max-width: 959px) {
    .rf-content--projects {
        width: 646px
    }

    .rf-project-cover:nth-child(3n) {
        margin-right: 0
    }

    .rf-project-cover:nth-child(3) {
        margin-right: 20px
    }

    .rf-featured-module {
        margin-right: 0;
        -ms-flex-order: 0;
        order: 0
    }

    .rf-project-cover:nth-child(2) {
        -ms-flex-order: -2;
        order: -2
    }

    .rf-project-cover:nth-child(3) {
        -ms-flex-order: -1;
        order: -1
    }
}

@media (min-width: 351px) and (max-width: 380px) {
    .rf-content--projects {
        width: 350px
    }

    .rf-project-cover:nth-child(2n + 1) {
        margin-right: 0
    }
}

.cta-header {
    box-sizing: border-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 0 20px;
    text-align: center;
    width: 100%
}

.cta-header {
    background: url("https://a5.behance.net/be96fba791f76b39a71a9b42537ff0b312c2aae7/img/site/1x/cta-header.jpg");
    color: #fff;
    height: 210px
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    .cta-header {
        background-image: url("https://a5.behance.net/be96fba791f76b39a71a9b42537ff0b312c2aae7/img/site/2x/cta-header.jpg")
    }
}

@media (min-width: 604px) and (max-width: 1024px) {
    .cta-header {
        height: 160px
    }
}

@media (max-width: 603px) {
    .cta-header {
        height: 100px
    }
}

.cta-header {
    position: fixed;
    top: 60px;
    z-index: 1
}

.cta-header-title {
    font-size: 70px;
    font-weight: 900;
    line-height: .95;
    margin: -13px auto 0
}

@media (min-width: 604px) and (max-width: 1024px) {
    .cta-header-title {
        font-size: 50px;
        line-height: 50px
    }
}

@media (max-width: 603px) {
    .cta-header-title {
        font-size: 28px;
        line-height: 28px
    }
}

.logged-out.rf-body--has-secondary-nav .sticky {
    position: relative;
    top: 210px
}

@media (min-width: 604px) and (max-width: 1024px) {
    .logged-out.rf-body--has-secondary-nav .sticky {
        top: 160px
    }
}

@media (max-width: 603px) {
    .logged-out.rf-body--has-secondary-nav .sticky {
        top: 100px
    }
}

.logged-out.rf-body--has-secondary-nav .sticky .rf-secondary-nav {
    top: 0
}

.logged-out.rf-body--has-secondary-nav .rf-secondary-nav {
    position: relative;
    top: 210px
}

@media (min-width: 604px) and (max-width: 1024px) {
    .logged-out.rf-body--has-secondary-nav .rf-secondary-nav {
        top: 160px
    }
}

@media (max-width: 603px) {
    .logged-out.rf-body--has-secondary-nav .rf-secondary-nav {
        top: 100px
    }
}

.logged-out.rf-body--has-secondary-nav #site-content {
    background-color: #f9f9f9;
    margin-top: 210px;
    padding-left: 0;
    padding-right: 0;
    z-index: 2
}

@media (min-width: 604px) and (max-width: 1024px) {
    .logged-out.rf-body--has-secondary-nav #site-content {
        margin-top: 160px
    }
}

@media (max-width: 603px) {
    .logged-out.rf-body--has-secondary-nav #site-content {
        margin-top: 100px
    }
}

.logged-in .rf-secondary-nav {
    top: 60px
}

.rf-content--projects {
    margin: 0 auto;
    padding-bottom: 115px
}

.rf-project-covers {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

#site-content {
    overflow-x: hidden
}


